# exclude everything except hatoff/settings.py
hatsoff/settings.py
#hatsoff/db.sqlite3
week1/*2.py
week1/migrations/*
#db.sqlite3
*.swp
*.pyc
week1/*.pyc
hatsoff/*.pyc
hatsoff/week1/*.pyc
week1/static

