

    .like-btn .active-icon {
      width: 32px;
      height: 32px;
      background-image: url("../images/active_blue_thumb_32x32.png");
    }


    .like-btn .inactive-icon {
      width: 32px;
      height: 32px;
      background-image: url("../images/inactive_grey_thumb_32x32.png");
    }



    .share-btn .active-icon {
      width: 32px;
      height: 32px;
      background-image: url("../images/active_blue_share_32x32.png");
    }


    .share-btn .inactive-icon {
      width: 32px;
      height: 32px;
      background-image: url("../images/inactive_grey_share_32x32.png");
    }

    .hats-btn .active-icon {
      width: 32px;
      height: 32px;
      background-image: url("../images/active_yellow_hat_32x32.png");
    }


    .hats-btn .inactive-icon {
      width: 32px;
      height: 32px;
      background-image: url("../images/inactive_grey_hat_32x32.png");
    }