#body {
   width: 1100px;
   margin: 0 auto;
   min-height: 100%;
   padding: 20px;
}

#body #body-left {
   display: inline-block;
   width: 700px;
}

#body #body-right {
   position: fixed;
   display: inline-block;
   width: 300px;
   background-color: #f3f3f3;
   padding: 10px 20px;
}

#body #body-right input[type=submit]{
   color: white;
   background-color:#CC1771;
   border:0px;
   width: 50px;
   float: right;
}

#body #body-left table{
   padding: 20px;
}

#header-wrapper {
   padding; 50px 0 50px;
   width: 100%;
}

#header {
   background-color: #AC4F7D;
   /*border-bottom: 2px solid #808080;*/
   line-height: 100px;
   height: 100px;
   width: 1500px;
   color: white;
}

#header #logo {
   display: inline-block;
   width: 50px;
}

#header #logo img {
   top:30;
   left:30;
}

#header #header-menus {
   display: inline-block;
   width: 700px;
   text-align:center;
}

#header #header-right {
   display: inline-block;
   width: 400px;
}

#header #header-right img {
   top:40;
   width: 30px;
}

/*
#header #header-login #login-message{
   width: 500px;
   height: 30px;
}

#header #header-login #login-form{
   width: 500px;
   height: 40px;
}

#header #header-login #forgot-password{
   width: 500px;
   height: 30px;
}
*/

#header #header-right input[type=submit]{
   color: white;
   background-color:#7D0541;
   border:0px;
}

#header #header-right a{
   text-decoration: none;
   color: white;
   padding: 0 10px;
}

#header #header-menus a {
   text-decoration: none;
   vertical-align: middle;
   color: white;
   padding: 0 10px;
}

#footer-wrapper {
   width: 100%;
}

#footer {
   background-color: #D3D3D3;
   /*margin-bottom: -50px;*/
   height: 230px;
   width: 1500px;
}

#footer a {
   text-decoration: none;
   color: black;
}

#footer #footer-left {
   display: inline-block;
   width: 300px;
}

#footer #footer-center {
   display: inline-block;
   width: 300px;
}

#footer #footer-right {
   display: inline-block;
   width: 600px;
}

#body-left #hometop {
   height:500px;
}

#body-left h3 {
   text-align: center;
}

#body-left .paragraph {
   padding: 10px 20px;
}

#hometop {
   text-align: center;
}

#hometop #hometop-left {
   display: inline-block;
   width: 280px;
   padding: 10px 25px;
   margin: 0 auto;
   background-color: #CCCCCC;
   border-radius: 20px;
}

#hometop #hometop-right {
   display: inline-block;
   width: 280px;
   padding: 10px 25px;
   margin: 0 auto;
   background-color: #CCCCCC;
   border-radius: 20px;
}

#body .paragraph {
   text-align: center;
}

#body table {
}

#about {
   margin: 30px;
   min-height: 100%;
}

#about #about-left {
   display: inline-block;
   width: 68%;
}

#about #about-right {
   position: fixed;
   display: inline-block;
   width: 32%;
   background-color: #f3f3f3;
}

/*
#about #sidemenu{
   position: fixed;
   right: 20px;
   top: 100px;
}

#about #sidemenu li {
   margin: 10px 0;
}
*/

#signup {
   text-align: center;
}

#login {
   text-align: center;
}

#about .paragraph {
   padding-right: 350px
}

#welcome a {
   background-color:#CC1771;
   border-radius: 5px;
   color: white;
   text-decoration: none;
   border:2px;
}

#home-friends {
   display: inline-block;
   width: 300px;
}

#home-main {
   display: inline-block;
   width: 400px;
}

#home-sub {
   display: inline-block;
   width: 300px;
}

#home-main a {
   background-color:#CC1771;
   border-radius: 5px;
   color: white;
   text-decoration: none;
   border:2px;
}

#home-edit {
   padding: 50px;
}

#discover {
   min-height: 100%;
   line-height: 1.7;
}

#discover #discover-left {
   position: absolute;
   padding: 20px;
   left: 30px;
   width: 35%;
}

#discover #discover-center {
   position: absolute;
   left: 40%;
   top: 100px;
   background-color: #f3f3f3;
}

#discover #discover-right {
   position: absolute;
   padding: 20px;
   right: 30px;
   width: 35%;
}
