#body {
   width: 1100px;
   margin: 0 auto;
   min-height: 100%;
   padding: 20px;
   font-family: sans-serif;
}

#body #body-left {
   display: inline-block;
   width: 700px;
}

#body #body-right {
   position: fixed;
   display: inline-block;
   width: 300px;
   background-color: #f3f3f3;
   padding: 10px 20px;
}

#body #body-right input[type=submit]{
   color: white;
   background-color:#CC1771;
   border:0px;
   width: 50px;
   float: right;
}

#body #body-left table{
   padding: 20px;
}

#header-wrapper {
   padding; 50px 0 50px;
   width: 100%;
   background-color: #AC4F7D;
   border-bottom: 3px solid #4a86e8;
}

#header {
   /*line-height: 100px;*/
   height: 100px;
   width: 1100px;
   margin: 0 auto;
   color: white;
}

#header #logo {
   display: inline-block;
   /*float: left;*/
   width: 50px;
   line-height: 100px;
}

#header #logo img {
   top:30;
   left:30;
}

#header #header-menus {
   display: inline-block;
   width: 800px;
   line-height: 100px;
   /*
   float: left;
   min-width: 600px;
   width: calc(100% - 300px);
   */
   text-align:center;
}

#header #header-right {
   display: inline-block;
   width: 200px;
   /*
   float: right;
   min-width: 200px;
   */
   padding-right: 20px;
}

#header #header-right #header-top {
   height:15px;
   vertical-align: top;
   margin-bottom: 10px;
}

#header #header-right #header-down {
   height:15px;
   vertical-align: bottom;
}

#header #header-right img {
   top:40;
   width: 30px;
}

#header #header-right input[type=submit]{
   color: white;
   background-color:#7D0541;
   border:0px;
}

#header #header-right a.blue{
   text-decoration: none;
   color: white;
   padding: 0 10px;
   background-color: #4a86e8;
   border-radius: 5px;
}

#header #header-right a.pink{
   text-decoration: none;
   color: white;
   padding: 0 10px;
   background-color: #d5a6bd;
   border-radius: 5px;
}

#header #header-menus a {
   text-decoration: none;
   vertical-align: middle;
   color: white;
   padding: 0 10px;
}

#footer-wrapper {
   width: 100%;
   background-color: #D3D3D3;
}

#footer {
   /*margin-bottom: -50px;*/
   height: 230px;
   width: 1100px;
   margin: 0 auto;
}

#footer a {
   text-decoration: none;
   color: black;
}

#footer #footer-left {
   display: inline-block;
   width: 300px;
}

#footer #footer-center {
   display: inline-block;
   width: 300px;
}

#footer #footer-right {
   display: inline-block;
   width: 600px;
}

#body-left #hometop {
   height:500px;
}

#body-left h3 {
   text-align: center;
}

#body-left .paragraph {
   padding: 10px 20px;
}

#hometop {
   text-align: center;
}

#hometop p{
   margin: 0 0 30px;
   font-size: 16px;
}

#hometop #hometop-left {
   display: inline-block;
   width: 280px;
   height: 190px;
   padding: 10px 25px;
   margin: 0 auto;
   background-color: #CCCCCC;
   border-radius: 20px;
}

#hometop #hometop-right {
   display: inline-block;
   width: 280px;
   height: 190px;
   padding: 10px 25px;
   margin: 0 auto;
   background-color: #CCCCCC;
   border-radius: 20px;
}

#body .paragraph {
   text-align: center;
   padding: 20px;
}

#body table {
}

#about {
   margin: 30px;
   min-height: 100%;
}

#about #about-left {
   display: inline-block;
   width: 68%;
}

#about #about-right {
   position: fixed;
   display: inline-block;
   width: 32%;
   background-color: #f3f3f3;
}

table #space {
   border-spacing:0 5px;
}

tr.spaceUnder > td
{
  padding-bottom: 3em;
}

/*
#about #sidemenu{
   position: fixed;
   right: 20px;
   top: 100px;
}

#about #sidemenu li {
   margin: 10px 0;
}
*/

#signup {
   text-align: center;
}

#login {
   text-align: center;
}

#about .paragraph {
   padding-right: 350px
}

#welcome a {
   background-color:#CC1771;
   border-radius: 5px;
   color: white;
   text-decoration: none;
   border:2px;
}

#home-friends {
   display: inline-block;
   width: 250px;
}

#home-main {
   display: inline-block;
   width: 700px;
}

#home-main a {
   background-color:#CC1771;
   border-radius: 5px;
   color: white;
   text-decoration: none;
   border:2px;
}

#home-main img.showcase_img {
   max-width: 400px;
}

#home-main #home-firstcolumn {
   display: inline-block;
   width: 250px;
}

#home-main #home-secondcolumn {
   display: inline-block;
   vertical-align: top;
   width: 300px;
}

#home-main #home-secondcolumn img{
   width: 260px;
}

#home-main #home-thirdcolumn {
   display: inline-block;
   vertical-align: top;
   width: 100px;
}

#home-main .home-step {
   background-color: white;
   padding: 5px;
   margin: 5px;
   font-size: 14px;
}

#home-main .home-step ul{
   padding:10px;
   list-style-type:none;
}

#home-edit {
   padding: 50px;
}

#discover {
   min-height: 100%;
   line-height: 1.7;
}

#discover #discover-left {
   position: absolute;
   padding: 20px;
   left: 30px;
   width: 35%;
}

#discover #discover-center {
   position: absolute;
   left: 40%;
   top: 100px;
   background-color: #f3f3f3;
}

#discover #discover-right {
   position: absolute;
   padding: 20px;
   right: 30px;
   width: 35%;
}

#step #step-left {
   display: inline-block;
   vertical-align: top; 
   padding-left:100px;
   width: 200px;
}

#step #step-right {
   display: inline-block;
   width: 700px;
}

#body-home {
   width: 1100px;
   margin: 0 auto;
   min-height: 100%;
   padding: 20px;
   font-family: sans-serif;
   background-color: #e6e6e6;
}

#contentWrap {
   display: none;
}

#contentWrap li {
   /*list-style-type:none;*/
}
