a {
   text-decoration: none;
   color: black;
}

#body {
   width: 1100px;
   margin: 0 auto;
   min-height: 100%;
   /*padding: 20px;*/
   font-family: Cabin;
}

#body #body-left {
   display: inline-block;
   width: 700px;
}

#body #body-right {
   position: fixed;
   display: inline-block;
   width: 300px;
   background-color: #f3f3f3;
   padding: 10px 20px;
}

#body #body-right input[type=submit]{
   color: white;
   background-color:#CC1771;
   border:0px;
   width: 50px;
   float: right;
}

#body #body-left table{
   padding: 20px;
}

#header-wrapper {
   padding; 50px 0 50px;
   width: 100%;
   background-color: #ac4f7d;
   border-bottom: 3px solid #4a86e8;
}

#header {
   /*line-height: 100px;*/
   height: 100px;
   width: 1100px;
   margin: 0 auto;
   color: white;
}

#header a {
   text-decoration: none;
   color: white;
}

#header #logo {
   display: inline-block;
   /*float: left;*/
   width: 50px;
   /*line-height: 100px;*/
}

#header img.user_header {
   height: 35px;
   width: 35px;
   vertical-align: middle;/*temporary*/
}

#header #logo img {
   vertical-align: middle;
   height: 90px;
   width: 130px;
}

#header #header-menus {
   display: inline-block;
   width: 800px;
   line-height: 100px;
   /*
   float: left;
   min-width: 600px;
   width: calc(100% - 300px);
   */
   text-align:center;
}

#header #header-right {
   display: inline-block;
   width: 200px;
   /*
   float: right;
   min-width: 200px;
   */
   padding-right: 20px;
}

#header #header-right #header-top {
   height:15px;
   vertical-align: top;
   margin-bottom: 10px;
}

#header #header-right #header-down {
   height:15px;
   vertical-align: bottom;
}

img.profile_img {
   /*top:40;*/
   width: 25px;
   height: 25px;
   padding-right: 20px;
}

img.icons_img {
   width: 45px;
   height: 45px;
}

#header #header-right input[type=submit]{
   color: white;
   background-color:#7D0541;
   border:0px;
}

#header #header-right a.blue{
   text-decoration: none;
   color: white;
   padding: 0 10px;
   background-color: #4a86e8;
   border-radius: 5px;
}

#header #header-right a.pink{
   text-decoration: none;
   color: white;
   padding: 0 10px;
   background-color: #d5a6bd;
   border-radius: 5px;
}

#header #header-menus a {
   text-decoration: none;
   vertical-align: middle;
   color: white;
   padding: 0 10px;
}

#footer-wrapper {
   width: 100%;
   background-color: #efefef;
}

#footer {
   /*margin-bottom: -50px;*/
   height: 200px;
   line-height: 150px;
   width: 1100px;
   margin: 0 auto;
   text-align: center;
}

#footer a {
   text-decoration: none;
   color: #4a86e8;
   padding: 20px;
}

#footer #footer-left {
   display: inline-block;
   width: 300px;
}

#footer #footer-center {
   display: inline-block;
   width: 300px;
}

#footer #footer-right {
   display: inline-block;
   width: 600px;
}

#body-left #hometop {
   height:500px;
}

#body-left h3 {
   text-align: center;
}

#body-left .paragraph {
   padding: 10px 20px;
}

#hometop {
   text-align: center;
}

#hometop p{
   margin: 0 0 30px;
   font-size: 16px;
}

#hometop #hometop-left {
   display: inline-block;
   width: 300px;
   height: 190px;
   padding: 10px 25px;
   margin: 0 10px;
   background-color: #efefef;
   border-radius: 20px;
   vertical-align: top;
}

#hometop #hometop-right {
   display: inline-block;
   width: 300px;
   height: 190px;
   padding: 10px 25px;
   /*margin: 0 auto;*/
   margin: 0 10px;
   background-color: #efefef;
   border-radius: 20px;
   vertical-align: top;
}

#body .paragraph {
   text-align: center;
   padding: 20px;
}

#body table {
}

#about {
   margin: 30px;
   min-height: 100%;
}

#about #about-left {
   display: inline-block;
   width: 68%;
}

#about #about-right {
   position: fixed;
   display: inline-block;
   width: 32%;
   background-color: #f3f3f3;
}

table #space {
   border-spacing:0 5px;
}

tr.spaceUnder > td
{
  padding-bottom: 3em;
}

/*
#about #sidemenu{
   position: fixed;
   right: 20px;
   top: 100px;
}

#about #sidemenu li {
   margin: 10px 0;
}
*/

#signup {
   text-align: center;
}

#login {
   text-align: center;
}

#login .popup {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#login .popup .popuptext {
   visibility: hidden;
   width: 300px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

#login .popup .popuptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

#login .popup .show {
   visibility: visible;
}

#login .login-form input[type=email]{
   width: 300px;
   height: 27px;
   border-radius: 5px;
   padding-bottom: 5px;
}

#login .login-form input[type=password]{
   width: 300px;
   height: 27px;
   border-radius: 5px;
   padding-bottom: 5px;
}

#login .login-form input[type=text]{
   width: 300px;
   height: 27px;
   border-radius: 5px;
   padding-bottom: 5px;
}

#login .login-form input[type=submit]{
   width: 300px;
   height: 27px;
   border-radius: 5px;
   padding-bottom: 5px;
   color: white;
   background-color: #cd0b71;
   border:0px;
}

#login .login-form a{
   text-decoration: none;
   color: #4a86e8;
}

#login .login-wrapper {
   padding-top: 10px;
   text-align: center;
}

#about .paragraph {
   padding-right: 350px
}

#welcome a {
   background-color:#CC1771;
   border-radius: 5px;
   color: white;
   text-decoration: none;
   border:2px;
}

#home-friends {
   display: inline-block;
   width: 200px;
   padding: 20px;
   vertical-align: top;
   text-align: center;
}

#home-main {
   display: inline-block;
   width: 750px;
   padding: 20px;
}

#home-main p.post-content {
   background-color: white;
   text-align: center;
   width: 500px;
   display: inline-block;
   padding: 20px;
}

#home-main p.comment-content {
   background-color: white;
   text-align: center;
   width: 400px;
   display: inline-block;
   padding: 20px;
}

#home-main-center {
   width: 550px;
   text-align: center;
}

#home-main .post-wrapper{
   background-color: #d9ead3;
   text-align: center;
   padding: 5px;
}

#home-main .reply-wrapper{
   background-color: #DCDCDC;
   width: 450px;
   display: inline-block;
}

#home-main p.reply-content {
   background-color: white;
   text-align: center;
   width: 400px;
   display: inline-block;
   padding: 20px;
}

#home-main #hats-gave{
   display: inline-block;
   width: 300px;
   vertical-align: top;
}

#home-main #hats-received{
   display: inline-block;
   width: 300px;
   vertical-align: top;
}

#home-main textarea {
   border-radius: 10px;
}

#home-main a.pinkback {
   background-color:#CC1771;
   border-radius: 5px;
   color: white;
   text-decoration: none;
   border:2px;
}

#home-main a.link-userpage {
   text-decoration: none;
}

#home-main img.showcase_img {
   max-width: 400px;
}

#home-main #home-firstcolumn {
   display: inline-block;
   width: 250px;
}

#home-main #home-secondcolumn {
   display: inline-block;
   vertical-align: top;
   width: 350px;
}

#body img.maincontent {
   width: 300px;
}

#home-main #home-thirdcolumn {
   display: inline-block;
   vertical-align: top;
   width: 100px;
}

#home-main #home-thirdcolumn .home-bottom {
   position: fixed;
   bottom: 0;
}

#home-main .home-step {
   background-color: white;
   padding: 5px;
   margin: 5px;
   font-size: 14px;
}

#home-main .home-step-out {
   padding: 5px;
   /*margin: 5px;*/
   font-size: 14px;
}

#home-main .home-step ul{
   padding:10px;
   list-style-type:none;
   text-align:left;
}

#home-main .home-step .description-wrapper{
   margin: 0 50px;
}

#home-main .home-step #upcomingComment{
   display: none;
}

#home-main .home-step #upcoming_hide{
   display: none;
   text-align: center;
}

#home-main .home-step #upcoming_show{
   text-align: center;
}

#home-main .home-step #portfolioComment_1{
   display: none;
}

#home-main .home-step #portfolio_hide{
   display: none;
   text-align: center;
}

#home-main .home-step #portfolio_show{
   display: block;
   text-align: center;
}

#home-main .home-step button.circle {
   height: 15px;
   width: 15px;
   border-radius: 50px;
   border: 1px solid #000;
   background-color: black;
   opacity: 0.5;
}

#home-edit {
   padding: 50px;
   text-align: center;
}

#home-comment {
   padding: 50px;
}

#home-comment #commentpost-wrapper{
   text-align: center;
}

#home-comment #comments-wrapper{
   text-align: left;
}

#whats-next {
   padding-top: 20px;
   /**
   width: 500px;
   margin: 0 auto;
   **/
}

#whats-next img.whatsnext{
   width: 300px;
}

#thanks-hatsoff {
   width: 500px;
   margin: 0 auto;
   padding: 20px;
}

#discover {
   min-height: 100%;
   line-height: 1.7;
}

#discover #discover-left {
   position: absolute;
   padding: 20px;
   left: 30px;
   width: 35%;
}

#discover #discover-center {
   position: absolute;
   left: 40%;
   top: 100px;
   background-color: #f3f3f3;
}

#discover #discover-right {
   position: absolute;
   padding: 20px;
   right: 30px;
   width: 35%;
}

#welcome {
   padding: 50px 200px;
}

#welcome a {
   width: 100px;
   color: white;
   background-color: #d5a6bd;
   border-radius: 5px;
   border: 0px;
}

#step #step-left {
   display: inline-block;
   vertical-align: top; 
   padding-left:100px;
   width: 250px;
}

#step #step-notification {
   background-color: #d5a6bd;
   padding: 10px;
   width: 200px;
}

#step #step-right {
   display: inline-block;
   vertical-align: top;
   width: 600px;
}

#step #step-right textarea {
   border-radius: 8px;
   border-color: #cccccc;
}

#step #step-right-left {
   display: inline-block;
   vertical-align: top;
   width: 450px;
}

#step #step-right-right {
   display: inline-block;
   vertical-align: top;
   width: 100px;
}

.step-submit {
   /**display: block;
   float: right;**/
   width: 100px;
   color: white;
   background-color: #d5a6bd;
   border-radius: 5px;
   border: 0px;
}

.step-submit-more {
   /**display: block;
   float: right;**/
   width: 150px;
   color: white;
   background-color: #9fc5e8;
   border-radius: 5px;
   border: 0px;
}

.step-form {
   width: 600px;
}

.step-form select {
   height: 50px;
   width: 300px;
   margin-bottom: 10px;
}

.step-table {
   padding-bottom: 1em;
   border-spacing: 10px;
}

.submit-wrapper {
   text-align: center;
}

.submit-wrapper a {
   text-decoration: none;
   color: #4a86e8;
}

.submit-wrapper input[type=submit] {
   padding: 10px;
   margin: 10px;
}

.step-form input[type=text]{
   width: 400px;
   border-radius: 5px;
   padding-bottom: 5px;
   margin-bottom: 5px;
}

#body-home {
  /**
   width: 1100px;
   margin: 0 auto;
   min-height: 100%;
   padding: 20px;
   font-family: sans-serif;
   **/
   background-color: #f7f7f7;
}

#community-main {
   text-align: center;
   padding: 20px 70px;
}

#community-main #communityPost {
   text-align: left;
}

#home-main button.shareskillButton{
   border-radius: 5px;
   border: 0px;
   background-color: #cfe2f3;
   color: black;
}

#users a {
   text-decoration: none;
}

#folderWrap #folder-left{
   display: inline-block;
   width: 200px;
   vertical-align: top;
   padding: 50px;
}

#folderWrap #folder-center{
   display: inline-block;
   width: 500px;
   vertical-align: top;
   padding: 50px;
}

#folderWrap a{
   text-decoration: none;
   color: black;
}

#folderWrap .folder-content{
   min-height: 150px;
}

.popupShareSkill {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupShareSkill .popuptextShareSkill {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupShareSkill .popuptextShareSkill::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupShareSkill .show {
   visibility: visible;
}

.popupThankyou {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupThankyou .popuptextThankyou {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupThankyou .popuptextThankyou::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupThankyou .show {
   visibility: visible;
}

.popupLike {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupLike .popuptextLike {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupLike .popuptextLike::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupLike .show {
   visibility: visible;
}

.popupShare {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupShare .popuptextShare {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupShare .popuptextShare::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupShare .show {
   visibility: visible;
}

.popupShared {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupShared .popuptextShared {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupShared .popuptextShared::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupShared .show {
   visibility: visible;
}

.popupThanks {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupThanks .popuptextThanks {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupThanks .popuptextThanks::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupThanks .show {
   visibility: visible;
}

.popupGave {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupGave .popuptextGave {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupGave .popuptextGave::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupGave .show {
   visibility: visible;
}

.popupGavehatsoff {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupGavehatsoff .popuptextGavehatsoff {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupGavehatsoff .popuptextGavehatsoff::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupGavehatsoff .show {
   visibility: visible;
}

.popupHatsoff {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupHatsoff .popuptextHatsoff {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupHatsoff .popuptextHatsoff::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupHatsoff .show {
   visibility: visible;
}

.popupFollow {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupFollow .popuptextFollow {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupFollow .popuptextFollow::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupFollow .show {
   visibility: visible;
}

.popupFollowed {
   position: relative;
   display: inline-block;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.popupFollowed .popuptextFollowed {
   visibility: hidden;
   width: 200px;
   background-color: #d5a6bd;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 8px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -80px;
}

.popupFollowed .popuptextFollowed::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #d5a6bd transparent transparent transparent;
}

.popupFollowed .show {
   visibility: visible;
}
