{% extends 'week1/base.html'%}
{% load staticfiles %}

{% block content %}
<div class="paragraph">
	<p>
	Our mission is to create a community that empowers creators, entrepreneurs, and dreamers to innovate, do what they love, and succeed.
	</p>

	<p>
	MIXHAT does not take a fee. 100% of funds and earned income goes directly to the creatives.
	</p>
</div>
<table style="width: 100%">
   <tr>
	<td><img src="{% static 'week1/templogo.jpeg'%}" width="30px"></td>
        <td style="width:200px">Hats off</td>
        <td>Tip off your hat to show respect and support</td>
   </tr>

   <tr>
	<td><img src="{% static 'week1/templogo.jpeg'%}" width="30px"></td>
        <td>Send a message/chat</td>
        <td>Messages from people you follow will go to your main inbox. Other messages will go to a separate message request inbox. Chats will be enabled when two people follow each other.</td>
   </tr>

</table>

<table style="width: 100%">
   <tr>
        <td></td>
        <td></td>
        <td><h3>Support</h3></td>
        <td><h3>Recieve Support</h3></td>
   </tr>

   <tr>
	<td><img src="{% static 'week1/templogo.jpeg'%}" width="30px"></td>
        <td style="width:200px">Contribute with your skills</td>
        <td>Support a project with your skills</td>
        <td>Find people with the skills that you need</td>
   </tr>

   <tr>
	<td><img src="{% static 'week1/templogo.jpeg'%}" width="30px"></td>
        <td style="width:200px">Introduce a friend</td>
        <td>Introduce a friend</td>
        <td>Have someone introduce a friend</td>
   </tr>

   <tr>
	<td><img src="{% static 'week1/templogo.jpeg'%}" width="30px"></td>
        <td style="width:200px">Help fund a project</td>
        <td>Contribute to a project via a donation</td>
        <td>Raise funds</td>
   </tr>

   <tr>
	<td><img src="{% static 'week1/templogo.jpeg'%}" width="30px"></td>
        <td style="width:200px">Pitch a project/job</td>
        <td>Pitch a project/job</td>
        <td>Find talent by pitching or get pitched a project or job</td>
   </tr>

</table>

{% endblock %}
