{% extends 'week1/base.html'%}
{% load staticfiles %}

{% block content %}
<div class="paragraph">
	<img src="{% static 'images/indextop_tmp.png'%}" align="center" width="350px">
	<h3>Leave a trace in the world with what you create</h3>
</div>

<div class="paragraph">
	<p>
	Our mission is to create a community that empowers creators, entrepreneurs, and dreamers to innovate, do what they love, and succeed.
	</p>

	<p>
	MIXHAT does not take a fee. 100% of funds and earned income goes directly to the creatives.
	</p>
</div>
<table style="width: 750px" align="center" id="space">
   <tr class="spaceUnder">
	<td><img src="{% static 'images/hatsoff_about.png'%}" width="50px"></td>
        <td>
           <h3>Hats off</h3>
           Tip off your hat to show respect and support
        </td>
   </tr>

   <tr class="spaceUnder">
	<td><img src="{% static 'images/message_about.png'%}" width="50px"></td>
        <td>
           <h3>Send a message/chat</h3>
           Messages from people you follow will go to your main inbox. Other messages will go to a separate message request inbox. Chats will be enabled when two people follow each other.
        </td>
   </tr>

   <tr class="spaceUnder">
	<td><img src="{% static 'images/contribute_about.png'%}" width="50px"></td>
        <td>
           <h3>Contribute with your skills</h3>
           Support a project with your skills  or find people with skills that you need
        </td>
   </tr>

   <tr class="spaceUnder">
	<td><img src="{% static 'images/friend_about.png'%}" width="50px"></td>
        <td>
           <h3>Introduce a friend</h3>
           Introduce or be introduced to a friend.
        </td>
   </tr>

   <tr class="spaceUnder">
	<td><img src="{% static 'images/project_about.png'%}" width="50px"></td>
        <td>
           <h3>Fund a project</h3>
           Contribute to a project via a donation or raise funds for your project.
        </td>
   </tr>

   <tr class="spaceUnder">
	<td><img src="{% static 'images/pitch_about.png'%}" width="30px"></td>
        <td>
           <h3>Pitch a project/job</h3>
           Pitch a project or find talent by pitching or get pitched a project.

        </td>
   </tr>

</table>


{% endblock %}
