{% load staticfiles %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel='stylesheet' type='text/css' href="{% static 'week1/style.css' %}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85772251-1', 'auto');
  ga('send', 'pageview');

</script>

<div id="header-wrapper">
    <div id='header'>
           <div id="logo">
              <a href="{% url 'week1:index' %}"><img src="{% static 'images/matchHat.png'%}" ></a>
           </div>

	    <div id='header-menus'>
		    
                <a href="{% url 'week1:index' %}" style="border:1px; border-style:solid; border-color:#FFFFFF; padding: 1em;">Home</a>
		    <a href="{% url 'week1:about' %}">About</a>
            </div>


	    <div id='header-right'>
		    <!--a href="{% url 'week1:signup' %}" class="blue">&nbsp;Sign Up&nbsp;</a>
		    <a href="{% url 'week1:login' %}" class="pink">&nbsp;Log In&nbsp;</a-->
                    <!--div class="btn btn-primary" data-toggle="modal" data-target="#myModal">Login/SignUp</div-->
            
                    
                    <div class="loginModal" data-toggle="modal" data-target=".bd-mymodal-lg">
                        <a class="button btn-primary btn-lg"> <span class="glyphicon glyphicon-log-in"></span> Login / SignUp</a></div>

	    </div>

     </div>
</div>


<div id="body">
	{% block content %}
	{% endblock %}

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#myModal').modal('show');

    function popFunction(){
        var popup = document.getElementById('passwordPop');
        popup.classList.toggle('show');
    }

</script>

</div>

<div id='footer-wrapper'>

    <div id='footer'>
	 <a href="{% url 'week1:about' %}">ABOUT US</a>
	 <a href="{% url 'week1:about' %}">COMMUNITY</a>
	 <a href="{% url 'week1:about' %}">TERMS</a>
	 <a href="{% url 'week1:about' %}">FOLLOW US</a>
	 <a href="{% url 'week1:about' %}">CAREER</a>
	 <a href="{% url 'week1:about' %}">CONTACT US</a>

	<!--div id='footer-left'>
		<ul style="list-style: none;" id="footer-menu">
			<li>HATSOFF
			<li><a href="">About Us</a>
			<li><a href="">Press</a>
		</ul>

		<ul style="list-style: none;" id="footer-menu">
			<li>COMMUNITY
			<li><a href="">Donate to Hatsoff</a>
			<li><a href="">Trust & Safety</a>
			<li><a href="">Help & Support</a>
			<li><a href="">Share Your Success</a>
			<li><a href="">Feedback</a>
			<li><a href="">Contact Us</a>
		</ul>
	</div>

	<div id='footer-center'>
		<ul style="list-style: none;" id="footer-menu">
			<li>SERVICE
			<li><a href="">Terms of Use</a>
			<li><a href="">Privacy Policy</a>
			<li><a href="">Desktop App</a>
		</ul>

		<ul style="list-style: none;" id="footer-menu">
			<li>COOKIE POLICY
			<li><a href="">Mobile</a>
		</ul>
	</div>

	<div id='footer-right'>
	</div-->

    </div>
</div>
