{% load staticfiles %}

<link rel='stylesheet' type='text/css' href="{% static 'week1/style.css' %}">

<div id="header-wrapper">
    <div id='header'>
           <div id="logo">
              <img src="{% static 'week1/templogo.jpeg'%}" width="50px">
           </div>

	    <div id='header-menus'>
		    <a href="{% url 'week1:index' %}">HOME</a>
		    <a href="{% url 'week1:about' %}">ABOUT</a>
            </div>

     </div>
</div>


<div id="body">
	{% block content %}
	{% endblock %}
</div>

<div id='footer-wrapper'>
    <div id='footer'>
	 <a href="{% url 'week1:about' %}">ABOUT US</a>
	 <a href="{% url 'week1:about' %}">COMMUNITY</a>
	 <a href="{% url 'week1:about' %}">TERMS</a>
	 <a href="{% url 'week1:about' %}">FOLLOW US</a>
	 <a href="{% url 'week1:about' %}">CAREER</a>
	 <a href="{% url 'week1:about' %}">CONTACT US</a>

    </div>
</div>
