{% load staticfiles %}
<html>
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"></script>

</head>
<body>
<link rel='stylesheet' type='text/css' href="{% static 'week1/style.css' %}">

<div id="header-wrapper">
    <div id='header'>
           <div id="logo">
              <img src="{% static 'week1/templogo.jpeg'%}" width="50px">
           </div>

	   <div id='header-menus'>
	      <a href="{% url 'week1:community' %}">Community</a>
	      <a href="{% url 'week1:notification' %}">Notifications</a>
	      <a href="{% url 'week1:messages' %}">Messages</a>
	   </div>

	   <div id='header-right'>

		<div id='header-top'>
		     <form method="GET" action="" >
		     <input type="text" id="searchBox" name='search_query' placeholder="Find Friends">
		     <input type="submit" class="btn" value="Search" >
		     </form>
		</div>

		<div id='header-down'>
			{% if profile.photo %}
			<a href="{% url 'week1:home' %}">{{user.first_name}}</a>
			<img src="{{ profile.photo.url }}">

			{% else %}
			<a href="{% url 'week1:home' %}">{{user.first_name}}</a>
			<img src="{% static 'images/profileimage.png'%}">
			{% endif %}
		</div>
	   </div>
            
    </div>
</div>

<div id="body-home">
{% block content %}
{% endblock %}
</div>

<div id='footer-wrapper'>

    <div id='footer'>
	 <a href="{% url 'week1:about' %}">ABOUT US</a>
	 <a href="{% url 'week1:about' %}">COMMUNITY</a>
	 <a href="{% url 'week1:about' %}">TERMS</a>
	 <a href="{% url 'week1:about' %}">FOLLOW US</a>
	 <a href="{% url 'week1:about' %}">CAREER</a>
	 <a href="{% url 'week1:about' %}">CONTACT US</a>

	<!--div id='footer-left'>
		<ul style="list-style: none;" id="footer-menu">
			<li>HATSOFF
			<li><a href="">About Us</a>
			<li><a href="">Press</a>
		</ul>

		<ul style="list-style: none;" id="footer-menu">
			<li>COMMUNITY
			<li><a href="">Donate to Hatsoff</a>
			<li><a href="">Trust & Safety</a>
			<li><a href="">Help & Support</a>
			<li><a href="">Share Your Success</a>
			<li><a href="">Feedback</a>
			<li><a href="">Contact Us</a>
		</ul>
	</div>

	<div id='footer-center'>
		<ul style="list-style: none;" id="footer-menu">
			<li>SERVICE
			<li><a href="">Terms of Use</a>
			<li><a href="">Privacy Policy</a>
			<li><a href="">Desktop App</a>
		</ul>

		<ul style="list-style: none;" id="footer-menu">
			<li>COOKIE POLICY
			<li><a href="">Mobile</a>
		</ul>
	</div>

	<div id='footer-right'>
	</div-->

    </div>
</div>
</body>
</html>
