{% load staticfiles %}

<link rel='stylesheet' type='text/css' href="{% static 'week1/style.css' %}">

<div id="header-wrapper">
    <div id='header'>
           <div id="logo">
              <img src="{% static 'week1/templogo.jpeg'%}" width="50px">
           </div>

	    <div id='header-menus'>
		    <a href="{% url 'week1:index' %}">HOME</a>
		    <a href="{% url 'week1:about' %}">ABOUT</a>
            </div>


	    <div id='header-right'>
		    <a href="{% url 'week1:signup' %}" class="blue">&nbsp;Sign Up&nbsp;</a>
		    <a href="{% url 'week1:login' %}" class="pink">&nbsp;Log In&nbsp;</a>
			<!--form action="" class="login" method="POST" >{% csrf_token %}
				{% if message %}
				    {% for m in message %}
				       {{ m }}
				    {% endfor %}
				{% endif %}

			    <input type='text' name='username' placeholder="Username">
			    <input type="password" name="password" id="password" placeholder="Password">
			<input type="submit" value="Log In" name="login" />
                        <a href="{% url 'week1:reset' %}">Forgot password?</a>
			</form-->

	    </div>

     </div>
</div>


<div id="body">
	{% block content %}
	{% endblock %}

</div>

<div id='footer-wrapper'>

    <div id='footer'>
	 <a href="{% url 'week1:about' %}">ABOUT US</a>
	 <a href="{% url 'week1:about' %}">COMMUNITY</a>
	 <a href="{% url 'week1:about' %}">TERMS</a>
	 <a href="{% url 'week1:about' %}">FOLLOW US</a>
	 <a href="{% url 'week1:about' %}">CAREER</a>
	 <a href="{% url 'week1:about' %}">CONTACT US</a>

	<!--div id='footer-left'>
		<ul style="list-style: none;" id="footer-menu">
			<li>HATSOFF
			<li><a href="">About Us</a>
			<li><a href="">Press</a>
		</ul>

		<ul style="list-style: none;" id="footer-menu">
			<li>COMMUNITY
			<li><a href="">Donate to Hatsoff</a>
			<li><a href="">Trust & Safety</a>
			<li><a href="">Help & Support</a>
			<li><a href="">Share Your Success</a>
			<li><a href="">Feedback</a>
			<li><a href="">Contact Us</a>
		</ul>
	</div>

	<div id='footer-center'>
		<ul style="list-style: none;" id="footer-menu">
			<li>SERVICE
			<li><a href="">Terms of Use</a>
			<li><a href="">Privacy Policy</a>
			<li><a href="">Desktop App</a>
		</ul>

		<ul style="list-style: none;" id="footer-menu">
			<li>COOKIE POLICY
			<li><a href="">Mobile</a>
		</ul>
	</div>

	<div id='footer-right'>
	</div-->

    </div>
</div>
