{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="community-main">
    <ul style="list-style-type:none">
        <div id="communityPost"></div>
    </ul>
    <form action="">
      <input id="p" autocomplete="off" /><button>Post</button>
    </form>

    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <!--script src="localhost:8889/socket.io/socket.io.js"></script-->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
	  /*var socket = io();*/
          var socket = io.connect("{{nodejs_url}}");

          /***new lines***/
          socket.emit('join message', {uid:{{user.id}}, uname:"{{user.first_name}}"});
          socket.emit('join community', {uid:{{user.id}}, uname:"{{user.first_name}}"});
          /***to here***/

	  $('form').submit(function(){
	    socket.emit('community post', {msg:$('#p').val(), uid:{{user.id}}}, function(data){
	        /*$('#messages').append($('<li>').text(data));*/
	        $('#communityPost').append($('<li><span class="error"><br>'+data.nick+':'+data.msg+'</span><br/>'));
            });
	    $('#p').val('');
	    return false;
	  });

	  socket.on('new community post', function(data){
	      $('#communityPost').append($('<li><span class="msg"><br>'+data.uid+':'+data.msg+'</span><br/>'));
	  });
        
	  socket.on('update community post', function(docs){
              for(var i=0; i < docs.length; i++){
	         $('#communityPost').append($('<li><span class="msg"><br>'+docs[i]['uid']+':'+docs[i]['content']+'</span><br/>'));
	      }
	  });
        
	  socket.on('whisper', function(data){
	      $('#messages').append($('<li><span class="whisper"><br>'+data.nick+':'+data.msg+'</span><br/>'));
          });
    </script>
</div>

{% endblock %}
