{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="body-home">

<div id="home-friends">

<h4>Folder</h4>
<ul style="list-style-type:none">
{% if folderusers %}
   {% for u in folderusers %}
        {% if u.photo %}
	   <li><img src="{{ u.photo.url }}" width="50px"></li>
        {% else %}
	   <li><img src="{% static 'images/profileimage.png'%}" width="50px"></li>
        {% endif %}
   {% endfor %}
{% endif %}
</ul>
</div>

<div id="home-main">

    <h4>Do you have project updates or questions to the community?</h4>
    <form action="">
      <textarea id="p" autocomplete="off" placeholder="Enter text, website or video URL" rows="5" cols="70"></textarea><button>Post</button>
    </form>

    <ul style="list-style-type:none">
        <div id="communityPost"></div>
    </ul>

    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <!--script src="localhost:8889/socket.io/socket.io.js"></script-->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
	  /*var socket = io();*/
          var socket = io.connect("{{nodejs_url}}");

          /***new lines***/
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
          socket.emit('join community', {uid:{{user.id}}, uname:"{{user.first_name}}"});
          /***to here***/

	  $('form').submit(function(){
            if ($('#p').val().length != 0){
		socket.emit('community post', {msg:$('#p').val(), uid:{{user.id}}}, function(data){
		    //$('#communityPost').append($('<li><span class="error"><br>'+data.nick+':'+data.msg+'</span><br/>'));
		});
		$('#p').val('');
		return false;
	    }
	  });

	  socket.on('new community post', function(data){
              var uid = data.uid;
              var users = [{% for u in users %} {{ u }} ,{% endfor %}];
              var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
              var n  = users.indexOf(uid);
	      var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
              if ( n != -1) {
	          $('#communityPost').prepend($('<hr>'));
	          $('#communityPost').prepend($('<li><span class="msg"><br><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'&nbsp <a href="'+url_mask+'">folder</a><p>'+data.msg+'</p></span><br/>'));

              }else{
	          //$('#communityPost').prepend($('<li><span class="msg"><br>'+'<h4>'+data.first_name+'&nbsp'+data.last_name+'</h4>'+'<p>'+data.msg+'</p></span><br/>'));
	          $('#communityPost').prepend($('<hr>'));

	          $('#communityPost').prepend($('<li><span class="msg"><br><img src="{% static 'images/profileimage.png' %}'+photos[n]+'" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'&nbsp <a href="'+url_mask+'">folder</a><p>'+data.msg+'</p></span><br/>'));
              }
	  });
        
	  socket.on('update community post', function(docs){
              var users = [{% for u in users %} {{ u }} ,{% endfor %}];
              var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
              for(var i=0; i < docs.length; i++){
                 var uid = docs[i]['user']['uid'];
                 var n  = users.indexOf(uid);
	         var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
                 if ( n != -1) {
	            $('#communityPost').append($('<li><span class="msg"><br><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a><p>'+docs[i]['content']+'</p></span><br/>'));
	            $('#communityPost').append($('<hr>'));
                 } else{
	            $('#communityPost').append($('<li><span class="msg"><br><img src="{% static 'images/profileimage.png' %}'+photos[n]+'" class="profile_img">'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a><p>'+docs[i]['content']+'</p></span><br/>'));
	            $('#communityPost').append($('<hr>'));
                 }
	      }
	  });
        
          /**
	  socket.on('whisper', function(data){
	      $('#messages').append($('<li><span class="whisper"><br>'+data.nick+':'+data.msg+'</span><br/>'));
          });
          **/
    </script>
</div>

</div>

{% endblock %}
