{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}


<script type="text/javascript">
  $(document).ready(function() {
    $("#myTags").tagit();
  });
</script> 

<!--div class="community-container"-->
<div id="home-main">

<div class="community-container">
  <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="">
           



          <fieldset>
            <legend class="text-center">
	           Do you have project updates or questions to the community?
            </legend>
    
            <!-- Post body -->
            <div class="form-group">
              <div class="col-md-9">
                <textarea class="form-control" id="p" autocomplete="off" name="message" placeholder="Enter your message to the community here..." rows="3" style="width:680px;"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-9">
                <label for="imageupload">Image file:</label>
                <!--input name="imageupload" id="imageupload" type="file" /><br /-->
                <input id="imageupload" type="file" />
              </div>
            </div>

             
            <label>Skill tag (up to 5)</label><ul id="myTags">
            </ul>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <select id="tag2nextproject">
                  <option value="" disabled="disabled" selected="selected">Want to tag your next project to this post?</option>
                  <option value="1">Yes</option>
                  <option value="-1">No</option>
                </select>
                <button class="btn btn-primary btn-lg">Post to community</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
  </div>

  <!--div class="row">
    <div class="col-md-8 col-md-offset-1" style="text-align: center;">
      <a href="{% url 'week1:community_needyou' %}"><h4>Projects that need your help</h4></a>
    </div>
  </div-->



  <div class="row">
    <div class="col-sm-8 col-sm-offset-1" id="logout">
        <div class="comment-tabs">
            <div class="tab-content">
                <div class="tab-pane active" id="comments-logout">                
                    <ul class="media-list" id="communityPost">
                    </ul> 
                </div>
            </div>
        </div>
	    </div>
  </div>
</div>

<div class="suggested">
  <h4>Suggested Projects</h4>
  <ul id="suggested_project" style="padding-left: 10px;">
  </ul>
  <a href="{% url 'week1:community_needyou' %}" >View more</a>
  <br>
  <br>

  <h4>Collaborators who may need you</h4>
  <ul id="collaborators_needyou">
  </ul>
  <a href="{% url 'week1:collaborators_need_you' %}">View more</a>
  <br>
  <br>

  <h4>Collaborators you may need</h4>
  <ul id="collaborators_youneed">
  </ul>
  <a href="{% url 'week1:collaborators_you_need' %}">View more</a>
  <br>
  <br>
</div>




<!--original lines-->
	<!--form action="">
	  <textarea id="p" autocomplete="off" placeholder=" Enter text, website or video URL" rows="5" cols="70"></textarea><button>Post</button>
	</form-->


    <!--ul style="list-style-type:none; padding-left:0px;">
        <div id="communityPost"></div>
    </ul-->

    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <!--script src="http://code.jquery.com/jquery-1.11.1.js"></script-->
    <script>
	  /*var socket = io();*/
          var socket = io.connect("{{nodejs_url}}");

          /***new lines***/
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
          socket.emit('join community', {uid:{{user.id}}, uname:"{{user.first_name}}"});
          /***to here***/

          var users = [{% for u in users %} "{{ u }}" ,{% endfor %}];
          var names = [{% for u in username %} ["{{ u.0 }}", "{{u.1}}"],{% endfor %}];
          var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];

          var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          /*
          function popShare(){
	          var popup = document.getElementById('sharePop');
            popup.classList.toggle('show');
	        }
          */

          function shareFunction(uid, c_id){
            console.log('uid on share:'+uid+':'+c_id);
            //popShared();
	          socket.emit('share post', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
            var share = document.getElementById("share_"+c_id);
            share.innerHTML = "Shared &nbsp";
          }

          function popShared(){
            var popHatsoff = document.getElementById("hatsoffPop");
            if(popHatsoff != null){
              popHatsoff.style.visibility = "hidden";
            }

            var popFollow = document.getElementById("followPop");
            if(popFollow != null){
              popFollow.style.visibility = "hidden";
            }

            var popLike = document.getElementById("likePop");
            if(popLike != null){
              popLike.style.visibility = "hidden";
            }

            var popCollabo = document.getElementById('collaboratePop');
            if(popCollabo != null){
              popCollabo.style.visibility = "hidden"; 
            }

	          var popup = document.getElementById('sharedPop');
            //popup.classList.toggle('show');
            popup.style.visibility = "visible";
	        }

          function popShareSkill(){
	          var popup = document.getElementById('shareskillPop');
            popup.classList.toggle('show');
	        }

          function shareskillFunction(uid, c_id){
            console.log('uid on shareskill:'+uid+':'+c_id);
            popThankyou();
	          socket.emit('share skill', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
          }

          function popThankyou(){
	          var popup = document.getElementById('thankyouPop');
            popup.classList.toggle('show');
	        }

          function hatsoffFunction(uid, c_id){
            console.log('uid on hatsoff:'+uid);
            popHatsoff();
	          socket.emit('give hatsoff', {to_uid:uid, uid:{{user.id}}, content_type:1, content_id:c_id});
            var hatsoff = document.getElementById("hatsoff_"+c_id);
            hatsoff.innerHTML = '<img src="{% static 'images/hat.png'%}" class="icons-img">';
          }

          function popHatsoff(){
            var popFollow = document.getElementById("followPop");
            if(popFollow != null){
              popFollow.style.visibility = "hidden";
            }

            var popShared = document.getElementById("sharedPop");
            if(popShared != null){
              popShared.style.visibility = "hidden";
            }

            var popLike = document.getElementById("likePop");
            if(popLike != null){
              popLike.style.visibility = "hidden";
            }

            var popCollabo = document.getElementById('collaboratePop');
            if(popCollabo != null){
              popCollabo.style.visibility = "hidden"; 
            }

	          var popup = document.getElementById('hatsoffPop');
            //popup.classList.toggle('show');
            popup.style.visibility = "visible";
	        }

          function thanksFunction(uid){
            console.log('uid on thanks:'+uid);
            popThanks();
	          socket.emit('give thanks', {to_uid:uid, uid:{{user.id}}});
          }

          function popThanks(){
	          var popup = document.getElementById('thanksPop');
            popup.classList.toggle('show');
	        }

          function followFunction(uid){
            console.log('uid on follow:'+uid);
            popFollow();
	          socket.emit('give follow', {to_uid:uid, uid:{{user.id}}});
          }

          function popFollow(){
            var popHatsoff = document.getElementById("hatsoffPop");
            if(popHatsoff != null){
             popHatsoff.style.visibility = "hidden";
            }

            var popShared = document.getElementById("sharedPop");
            if(popShared != null){
             popShared.style.visibility = "hidden";
            }

            var popLike = document.getElementById("likePop");
            if(popLike != null){
             popLike.style.visibility = "hidden";
            }

            var popCollabo = document.getElementById('collaboratePop');
            if(popCollabo != null){
              popCollabo.style.visibility = "hidden"; 
            }

	          var popup = document.getElementById('followPop');
            //popup.classList.toggle('show');
            popup.style.visibility = "visible";
	        }

          function likeFunction(uid, c_id){
            console.log('uid on like:'+uid+':'+c_id);
            //popLike();
	          socket.emit('like community', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
            var like = document.getElementById("like_"+c_id);
            like.innerHTML = '<div class="popupLike" onclick="unlikeFunction(\''+uid+'\',\''+c_id+'\')">Unlike &nbsp<span class="popuptextLike" id="likePop">You Unliked it</br></span></div>';
          }

          function unlikeFunction(uid, c_id){
            console.log('uid on like:'+uid+':'+c_id);
            //popLike();
            socket.emit('unlike community', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
            var like = document.getElementById("like_"+c_id);
            like.innerHTML = '<div class="popupLike" onclick="likeFunction(\''+uid+'\',\''+c_id+'\')">Like &nbsp<span class="popuptextLike" id="likePop">You Liked it</br></span></div>';
          }

          function popLike(){
            var popHatsoff = document.getElementById("hatsoffPop");
            if(popHatsoff != null){
              popHatsoff.style.visibility = "hidden";
            }

            var popFollow = document.getElementById("followPop");
            if(popFollow != null){
              popFollow.style.visibility = "hidden";
            }

            var popShared = document.getElementById("sharedPop");
            if(popShared != null){
              popShared.style.visibility = "hidden";
            }

            var popCollabo = document.getElementById('collaboratePop');
            if(popCollabo != null){
              popCollabo.style.visibility = "hidden"; 
            }

	          var popup = document.getElementById('likePop');
            popup.style.visibility = "visible";
            //popup.classList.toggle('show');
	        }


          /*
          function collaborateFunction(uid, c_id){
            console.log('uid on like:'+uid+':'+c_id);
            popCollaborate();
            socket.emit('give collaborate', {to_uid:uid, uid:{{user.id}}, c_id:c_id, c_type:1});
          }
          */

          function collaborateFunction(uid, c_id){
            console.log('uid on like:'+uid+':'+c_id);
            //popCollaborate();
            socket.emit('give collaborate', {to_uid:uid, uid:{{user.id}}, c_id:c_id, c_type:1});
            $('#qnimate').addClass('popup-box-on');
            var index = users.indexOf(uid);
            /*
            console.log("index:"+index);
            console.log("uid  :"+uid+" "+typeof uid);
            console.log("users:"+users);
            console.log("name :"+names[index]);
            */
            document.getElementById('status_message').value = 'Hello I\'m interested in Collaborating.';
            var elements = document.getElementsByClassName('popup-head-left pull-left');
            elements[0].innerHTML = names[index][0]+'&nbsp'+names[index][1];
            socket.emit('get message', {to_uid:uid})

            var elems = document.getElementsByClassName('btn-footer');
            elems[0].innerHTML = '<button class="btn btn-primary btn-lg pull-right" onclick="sendMessage('+uid+')">Send </button>';
          }

          function closeChat(){
            $('#qnimate').removeClass('popup-box-on');
          }

          function sendMessage(uid){
            console.log('send message');
            var post_val = $('#status_message').val();
                    
            if (post_val.length != 0){
              console.log('if:'+post_val);
              socket.emit('send message', {msg:post_val, to_uid:uid, uid:{{user.id}} });
            }
            $('#status_message').val('');
            return false;
          }

          function getMessage(){
            console.log('get message');
        //socket.emit('get message', { to:{{t_user.id}}, uid:{{user.id}} });
          }

          socket.on('set message', function(data){
            console.log('set message');
            console.log(data['_id']);

            if(data){
              if(data['messages']){
                for (var i=0; i < data['messages'].length; i++){
                  if (data['messages'][i]['content']){
                    var n  = users.indexOf(data['messages'][i]['uid'].toString());
                    console.log("n:"+n);
                    if(data['messages'][i]['uid'] == {{user.id}}){
                      if (n != -1){
                        $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2016</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">You</span></div><img alt="iamgurdeeposahan" src="{{media_url}}'+photos[n]+'" class="direct-chat-img"><div class="direct-chat-text">'+data['messages'][i]['content']+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-right">3.36 PM</span></div></div>'));
                      }else{
                        $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2016</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">You</span></div><img alt="iamgurdeeposahan" src="{% static 'images/profileimage.png' %}" class="direct-chat-img"><div class="direct-chat-text">'+data['messages'][i]['content']+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-right">3.36 PM</span></div></div>'));

                      }
                    }else{
                      if ( n != -1){
                        $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2016</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+names[n][0]+'&nbsp'+names[n][1]+'</span></div><img alt="iamgurdeeposahan" src="{{media_url}}'+photos[n]+'" class="direct-chat-img"><div class="direct-chat-text">'+data['messages'][i]['content']+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-left">3.36 PM</span></div></div>'));
                      }else{
                        $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2016</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+names[n][0]+'&nbsp'+names[n][1]+'</span></div><img alt="iamgurdeeposahan" src="{% static 'images/profileimage.png' %}" class="direct-chat-img"><div class="direct-chat-text">'+data['messages'][i]['content']+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-left">3.36 PM</span></div></div>'));
                      }
                    }
                  }

                }

              }

            }

        });

          socket.on('new message', function(data){
            console.log('new message');

            var n  = users.indexOf(data.uid.toString());
            if(data.uid == {{user.id}}){
              if (n != -1){
                $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2015</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">You</span></div><img alt="iamgurdeeposahan" src="{{media_url}}'+photos[n]+'" class="direct-chat-img"><div class="direct-chat-text">'+data.content+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-right">3.36 PM</span></div></div>'));
              }else{
                $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2015</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-right">You</span></div><img alt="iamgurdeeposahan" src="{% static 'images/profileimage.png' %}" class="direct-chat-img"><div class="direct-chat-text">'+data.content+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-right">3.36 PM</span></div></div>'));
              }

            }else{
              if (n != -1){
                $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2016</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+names[n][0]+'&nbsp'+names[n][1]+'</span></div><img alt="iamgurdeeposahan" src="{{media_url}}'+photos[n]+'" class="direct-chat-img"><div class="direct-chat-text">'+data.content+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-left">3.36 PM</span></div></div>'));
              }else{
                $('#chat_room').append($('<div class="chat-box-single-line"><abbr class="timestamp">October 9th, 2016</abbr></div><div class="direct-chat-msg doted-border"><div class="direct-chat-info clearfix"><span class="direct-chat-name pull-left">'+names[n][0]+'&nbsp'+names[n][1]+'</span></div><img alt="iamgurdeeposahan" src="{% static 'images/profileimage.png' %}" class="direct-chat-img"><div class="direct-chat-text">'+data.content+'</div><div class="direct-chat-info clearfix"><span class="direct-chat-timestamp pull-left">3.36 PM</span></div></div>'));
              }

            }

      });

          function popCollaborate(){
            var popHatsoff = document.getElementById("hatsoffPop");
            if(popHatsoff != null){
              popHatsoff.style.visibility = "hidden";
            }

            var popFollow = document.getElementById("followPop");
            if(popFollow != null){
              popFollow.style.visibility = "hidden";
            }

            var popShared = document.getElementById("sharedPop");
            if(popShared != null){
              popShared.style.visibility = "hidden";
            }

            var popLike = document.getElementById("likePop");
            if(popLike != null){
             popLike.style.visibility = "hidden";
            }

            var popup = document.getElementById('collaboratePop');
            //popup.classList.toggle('show');
            popup.style.visibility = "visible";
          }

          function replyFunction(uid, c_id){
            console.log('reply uid:'+uid+':'+c_id);
            console.log('reply comment:'+$('#replyComment_'+c_id).val());
            var reply = $('#replyComment_'+c_id).val();

	          socket.emit('reply community', {to_uid:uid, uid:{{user.id}}, c_id:c_id, msg:reply});
            $('#replyComment_'+c_id).val('');
          }

          function submitComment(uid, c_id){
            console.log('form submit comment'+c_id);
            var post_val = $('#c_'+c_id).val();
                    
            if (post_val.length != 0){
              console.log('comment:'+post_val);
              socket.emit('community comment', {msg:post_val, user:{{user.id}}, c_id:c_id});
            }
            $('#c_'+c_id).val('');
            return false;
          }

      	  $('form').submit(function(){
            var tag = document.getElementById("tag2nextproject");
            var tagvalue = tag.options[tag.selectedIndex].value;
            var tagInt = 0;
            if (tagvalue) {
              tagInt = parseInt(tagvalue);
            }

            var skillls = [];
            var lis = document.getElementById("myTags").getElementsByTagName("li");

            console.log('lis:'+lis.length);
            for (var i = 0; i < lis.length; i++){
              var t = lis[i].childNodes[0].textContent;
              if ( t!= "" ){
                 skillls.push(t.charAt(0).toUpperCase() + t.slice(1)); 
                 console.log('lis:'+t);
              }
            }

            var files = document.getElementById('imageupload').files;
            var file = files[0];

            var data = {};
            if (file){
              data = {'file':file, 'fileName':file.name, 'type':file.type};
              console.log("files:",files);
              console.log("file:",file);
              console.log("fileName:",file.name);
            }

            console.log('tag:'+tagvalue);
            if ($('#p').val().length != 0){
      		    socket.emit('community post', {msg:$('#p').val(), data:data, uid:{{user.id}}, tag:tagInt, skillls:skillls}, function(data){
      		    //$('#communityPost').append($('<li><span class="error"><br>'+data.nick+':'+data.msg+'</span><br/>'));
      		  });
      		  $('#p').val('');
            //$('#myTags').empty();              
      		  return false;
      	    }
      	  });

	        socket.on('new reply community', function(data){
              var uid = data.uid;
              var c_id = data.community_id;
              console.log('new reply community c_id:'+c_id);
              var n  = users.indexOf(uid);
      	      var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
      	      var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
              if ( n != -1) {
                    if (uid == {{user.id}}){
	               //$('#communityPost').prepend($('<hr>'));
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    } else{
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a>&nbsp <a href="'+url_mask+'">folder</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    }

              }else{
	          //$('#communityPost').prepend($('<hr>'));
                    if (uid == {{user.id}}){
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    } else {
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a>&nbsp <a href="'+url_mask+'">folder</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    }
              }
          });

          socket.on('new community comment', function(data){
              var uid = data.uid;
              var c_id = data.community_id;
              console.log('new community comment c_id:'+c_id);
              var n  = users.indexOf(uid);
              var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
              var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
              if ( n != -1) {
                 //$('#communityPost').prepend($('<hr>'));
                 $('#commentHistory_'+c_id).append($('<hr class="solid-divider"/><li><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a>&nbsp</br><p>'+data.msg+'</p>'));
              }else{
            //$('#communityPost').prepend($('<hr>'));
                 $('#commentHistory_'+c_id).append($('<hr class="solid-divider"/><li><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a>&nbsp</br><p>'+data.msg+'</p>'));
              }
          });


	        socket.on('new community post', function(data){
              var uid = data.uid;
              var c_id = data.community_id;
              console.log("image:", data.image);
              var n  = users.indexOf(uid.toString());
	            var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
	            var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
              var post_link = "{% url 'week1:community_post'%}?c_id="+c_id+"&tag="+data.tag+"&u="+uid;
              var hatsoff = '<div class="popupHatsoff" onclick="hatsoffFunction(\''+uid+'\',\''+c_id+'\')"><img src="{% static 'images/hat.png'%}" class="icons-img"></br><span class="popuptextHatsoff" id="hatsoffPop">Tip off your hat</br></span></div>';
              var shareskill = '';
              //var shareskill = '<div class="popupShareSkill" onclick="popShareSkill()"><img src="{% static 'images/contribute.png'%}" class="icons-img"></br><span class="popuptextShareSkill" id="shareskillPop">Share your skill?</br><button onclick="shareskillFunction(\''+uid+'\',\''+c_id+'\')" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">Not Now</button></span></div><div class="popupThankyou"><span class="popuptextThankyou" id="thankyouPop">Thank you!</span></div>';

              var like = '<hr class="divider"/><div class="popupLike" onclick="likeFunction(\''+uid+'\',\''+c_id+'\')">Like &nbsp<span class="popuptextLike" id="likePop">You Liked it</br></span></div>';
              var follow = '<div class="popupFollow" onclick="followFunction('+uid+')">Follow &nbsp</br><span class="popuptextFollow" id="followPop">Followed this user!</br></span></div>';
              //var thanks = '<div class="popupThanks" onclick="thanksFunction('+uid+')">Thanks &nbsp</br><span class="popuptextThanks" id="thanksPop">Gave a Thanks!</br></span></div>';
              var thanks = '';
              var share = '<div class="popupShare" onclick="shareFunction(\''+uid+'\',\''+c_id+'\')">Share &nbsp<span class="popuptextShared" id="sharedPop">You shared!</br></span></div>';
              //var share = '<div class="popupShare" onclick="popShare()">Share &nbsp</br><span class="popuptextShare" id="sharePop">Share this post on your messageboard?</br><button onclick="shareFunction(\''+uid+'\',\''+c_id+'\')" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">No</button></span></div><div class="popupShared"><span class="popuptextShared" id="sharedPop">You shared!</span></div>';
              var reply = '<div class="reply-wrapper">Reply to the post</br><textarea id="replyComment_'+c_id+'" rows="3" cols="40"></textarea><button onclick="replyFunction(\''+uid+'\',\''+c_id+'\')" >Reply</button><div id="replyHistory_'+c_id+'"></div></div>';
              //var reply = '<div class="popupReply" onclick="popReply()">Reply<span class="popuptextReply" id="replyPop">Reply to the post</br><textarea id="replyComment" ></textarea><button onclick="replyFunction(\''+uid+'\',\''+c_id+'\')" >Reply</button>&nbsp<button>Not Now</button></span></div>';
              var collaborate = '<div class="popupCollaborate" onclick="collaborateFunction(\''+uid+'\',\''+c_id+'\')"><button class="collaborate-btn">Collaborate &nbsp</button><span class="popuptextCollaborate" id="collaboratePop">Collaborated</br></span></div>';
              var comment = '<div class="well well-smm"><ul id="commentHistory_'+c_id+'" style="list-style-type:none;"></ul><form class="form-horizontal" action=""><div class="form-group"><div class="col-md-9"><textarea class="form-control" id="c_'+c_id+'" autocomplete="off" name="message" placeholder="Enter your comment here..." rows="3" style="width:570px;"></textarea></div></div><div class="form-group"><div class="col-md-12 text-right"><button class="btn btn-primary btn-lg" onclick="return submitComment(\''+uid+'\',\''+c_id+'\')">Post</button></div></div></form></div>';

              var skillls = '';
              var imageText = '';

              if (data.skillls){
                if(data.skillls.length != 0){
                  var ls = data.skillls;
                  skillls += "<div> Tags: ";
                  for (var j = 0; j < ls.length; j++){
                    var skill_link = "{% url 'week1:talent_list' 12345 %}".replace(/12345/, ls[j]);
                    skillls += "<a href='"+skill_link+"'>"+ls[j]+"</a>" + "&nbsp";
                  } 
                  skillls += "</div><br>";
                }
              }
              if (data.image){
                var bytes = new Uint8Array(data.image.file);
                var enc = encode(bytes);
                imageText = '<embed id="ItemPreview" src="data:'+data.image.type+';base64,'+enc+'" class="postImage" ></embed>';
              }

              if ( n != -1) {
                    if (uid == {{user.id}}){
                       //Reply
                       //$('#communityPost').prepend($('<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a><span class="media-heading text-uppercase reviews">'+data.first_name+'&nbsp'+data.last_name+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">22</li><li class="mm">09</li><li class="aaaa">2014</li></ul><a href="'+post_link+'"><p class="media-comment">'+data.msg+'</p></a>'+skillls+'<a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>'+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                      $('#communityPost').prepend($('<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a><span class="media-heading text-uppercase reviews">'+data.first_name+'&nbsp'+data.last_name+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">Now</li></ul><a href="'+post_link+'"><p class="media-comment">'+data.msg+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                    } else{
                       $('#communityPost').prepend($('<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a><span class="media-heading text-uppercase reviews">'+data.first_name+'&nbsp'+data.last_name+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">Now</li></ul><a href="'+post_link+'"><p class="media-comment">'+data.msg+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                    }

              }else{
                    if (uid == {{user.id}}){
                       $('#communityPost').prepend($('<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png' %}" alt="profile"></a><span class="media-heading text-uppercase reviews">'+data.first_name+'&nbsp'+data.last_name+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">Now</li></ul><a href="'+post_link+'"><p class="media-comment">'+data.msg+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                    } else {
                       $('#communityPost').prepend($('<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png' %}" alt="profile"></a><span class="media-heading text-uppercase reviews">'+data.first_name+'&nbsp'+data.last_name+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">Now</li></ul><a href="'+post_link+'"><p class="media-comment">'+data.msg+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                    }
              }
        	  });
                
        	  socket.on('update community post', function(data){
              var docs = data.docs;
              var sharedocs = data.sharedocs;
              var likedocs = data.likedocs;
              var hatsoffdocs = data.hatsoffdocs;
              var sharels = [];
              var likels = [];
              var hatsoffls = [];

              for (var i=0; i < sharedocs.length; i++){
                sharels.push(sharedocs[i]['content_id']);
              }
              for (var i=0; i < likedocs.length; i++){
                likels.push(likedocs[i]['content_id']);
              }
              for (var i=0; i < hatsoffdocs.length; i++){
                hatsoffls.push(hatsoffdocs[i]['content_id']);
              }

              console.log("sharels:"+sharels);
              console.log("likels :"+likels);
              console.log("hatsoffls :"+hatsoffls);

              for(var i=0; i < docs.length; i++){
                 if (docs[i]['user'] && docs[i]['user']['uid']) {
			                  var uid = docs[i]['user']['uid'];
                        var c_id = docs[i]['_id'];
			                  var n  = users.indexOf(uid.toString());
                        var created = docs[i]['created'];
                        var colonIndex = created.indexOf(":");
                        var date = created.substring(0, colonIndex-3);
                        var datels = date.split('-');
                        var mm = months[parseInt(datels[1])-1];
                        var dd = datels[2];
                        var yy = datels[0];
                        var shared_info = '';

                        if(docs[i]['sharedBy']){
                          var s_user = docs[i]['sharedBy']; 
                          if(s_user == {{user.id}}){
                            shared_info = '<li class="media">You shared</li>';

                          }else{
                            var sn  = users.indexOf(s_user.toString());
                            shared_info = '<li class="media">'+names[sn][0]+'&nbsp'+names[sn][1]+' shared</li>';
                          }
                        }

                        if(docs[i]['content_id']){
                          c_id = docs[i]['content_id']; 
                        }

                        var tag = (docs[i]['tag']) ? docs[i]['tag'] : 0;
			                  var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
			                  var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
                        var post_link = "{% url 'week1:community_post'%}?c_id="+c_id+"&tag="+tag+"&u="+uid;
                        var profile_link = "{% static 'images/profileimage.png' %}";
                        //var thanks = '<div class="popupThanks" onclick="thanksFunction('+uid+')">Thanks &nbsp</br><span class="popuptextThanks" id="thanksPop">Gave a Thanks!</br></span></div>';
                        var thanks = '';
                        var follow = '<div class="popupFollow" onclick="followFunction('+uid+')">Follow &nbsp</br><span class="popuptextFollow" id="followPop">Followed this user!</br></span></div>';

                        var like = '<hr class="divider"/>';
                        if (likels.indexOf(c_id) != -1){
                          //like += '<div class="popupLike" id="like_'+c_id+'">Liked &nbsp</div>';
                          like += '<div class="popupLike" id="like_'+c_id+'" ><div class="popupLike" onclick="unlikeFunction(\''+uid+'\',\''+c_id+'\')">UnLike &nbsp<span class="popuptextLike" id="likePop">You Unliked it</br></span></div></div>';
                        }else{
                          like += '<div class="popupLike" id="like_'+c_id+'" ><div class="popupLike" onclick="likeFunction(\''+uid+'\',\''+c_id+'\')">Like &nbsp<span class="popuptextLike" id="likePop">You Liked it</br></span></div></div>';
                        }

                        var share = '';
                        if (sharels.indexOf(c_id) != -1){
                          share = '<div class="popupShare" id="share_'+c_id+'">Shared &nbsp</div>';
                        }else{
                          share = '<div class="popupShare" id="share_'+c_id+'" onclick="shareFunction(\''+uid+'\',\''+c_id+'\')">Share &nbsp<span class="popuptextShared" id="sharedPop">You shared!<br></span></div>';
                        }

                        var hatsoff = '';
                        if (hatsoffls.indexOf(c_id) != -1){
                          hatsoff = '<div class="popupHatsoff" id="hatsoff_'+c_id+'"><img src="{% static 'images/hat.png'%}" class="icons-img"></div>';
                        }else{
                          hatsoff = '<div class="popupHatsoff" id="hatsoff_'+c_id+'" onclick="hatsoffFunction(\''+uid+'\',\''+c_id+'\')"><img src="{% static 'images/grey_hat.png'%}"></br><span class="popuptextHatsoff" id="hatsoffPop">Tip off your hat</br></span></div>';

                        }
                        //var shareskill = '<div class="popupShareSkill" onclick="popShareSkill()"><img src="{% static 'images/contribute.png'%}" class="icons-img">&nbsp</br><span class="popuptextShareSkill" id="shareskillPop">Share your skill?</br><button onclick="shareskillFunction(\''+uid+'\',\''+c_id+'\')" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">Not Now</button></span></div><div class="popupThankyou"><span class="popuptextThankyou" id="thankyouPop">Thank you!</span></div>';
                        var shareskill = '';
                        var collaborate = '<div class="popupCollaborate" onclick="collaborateFunction(\''+uid+'\',\''+c_id+'\')"><button class="collaborate-btn">Collaborate &nbsp</button><span class="popuptextCollaborate" id="collaboratePop">Collaborated</br></span></div>';
                        //var share = '<div class="popupShare" onclick="popShare()">Share &nbsp</br><span class="popuptextShare" id="sharePop">Share this post on your messageboard?</br><button onclick="shareFunction(\''+uid+'\',\''+c_id+'\')" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">No</button></span></div><div class="popupShared"><span class="popuptextShared" id="sharedPop">You shared!</span></div>';
                        var reply = '<div class="reply-wrapper">Reply to the post</br><textarea id="replyComment_'+c_id+'" rows="3" cols="40"></textarea><button onclick="replyFunction(\''+uid+'\',\''+c_id+'\')" >Reply</button><div id="replyHistory_'+c_id+'"></div></div>';
                        var skillls = '';
                        var comment = '<div class="well well-smm"><ul id="commentHistory_'+c_id+'" style="list-style-type:none;"></ul><form class="form-horizontal" action=""><div class="form-group"><div class="col-md-9"><textarea class="form-control" id="c_'+c_id+'" autocomplete="off" name="message" placeholder="Enter your comment here..." rows="3" style="width:570px;"></textarea></div></div><div class="form-group"><div class="col-md-12 text-right"><button class="btn btn-primary btn-lg" onclick="return submitComment(\''+uid+'\',\''+c_id+'\')">Post</button></div></div></form></div>';


                        if (docs[i]['skillls']){
                          if(docs[i]['skillls'].length != 0){
                            var ls = docs[i]['skillls'];
                            skillls += "<div> Tags: ";
                            for (var j = 0; j < docs[i]['skillls'].length; j++){
                              var skill_link = "{% url 'week1:talent_list' 12345 %}".replace(/12345/, docs[i]['skillls'][j]);
                              skillls += "<a href='"+skill_link+"'>"+docs[i]['skillls'][j]+"</a>" + "&nbsp";
                            } 
                            skillls += "</div><br>";
                          }
                        }

                        var imageText = '';

                        if (docs[i]['image'] && docs[i]['image']['data'] && docs[i]['image']['data']['data']){
                          var bytes = new Uint8Array(docs[i]['image']['data']['data']);
                          var enc = encode(bytes);
                          var ctype = docs[i]['image']['contentType'];
                          imageText = '<embed id="ItemPreview_'+c_id+'" src="data:'+ctype+';base64,'+enc+'" class="postImage" /></embed>';
                        }

                  			if ( n != -1) {
                  			   if (uid == {{user.id}}){

                              //Reply
                              //$('#communityPost').append($('<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a><span class="media-heading text-uppercase reviews" >'+'&nbsp'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span></a><ul class="media-date text-uppercase reviews list-inline"><li class="dd">22</li><li class="mm">09</li><li class="aaaa">2014</li></ul><a href="'+post_link+'"><p class="media-comment" style="display: block;">'+docs[i]['content']+'</p></a>'+skillls+'<a class="btn btn-info btn-circle text-uppercase" href="#" id="reply"><span class="glyphicon glyphicon-share-alt"></span> Reply</a>'+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                              var imageUrl = '{{media_url}}'+photos[n];
                              $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="'+imageUrl+'" alt="profile" onerror="this.src=\'{% static 'images/profileimage.png' %}\'"></a><span class="media-heading text-uppercase reviews" >'+'&nbsp'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span></a><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment" style="display: block;">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                              /*
                              var exists = imageExists(imageUrl) 
                                if(exists){
                                  $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="'+imageUrl+'" alt="profile"></a><span class="media-heading text-uppercase reviews" >'+'&nbsp'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span></a><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment" style="display: block;">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));

                                }else{
                                  $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png' %}" alt="profile"></a><span class="media-heading text-uppercase reviews" >'+'&nbsp'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span></a><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment" style="display: block;">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));

                                }
                              */
                              
                               
			                  } else{
                              console.log(docs[i]);
                              var imageUrl = '{{media_url}}'+photos[n];
                              $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="'+imageUrl+'" alt="profile" onerror="this.src=\'{% static 'images/profileimage.png' %}\'"></a><span class="media-heading text-uppercase reviews" >'+'&nbsp'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span></a><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment" style="display: block;">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                              /*
                              var exists = imageExists(imageUrl) 
                                if(exists){
                                  $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="'+imageUrl+'" alt="profile"></a><span class="media-heading text-uppercase reviews">'+'&nbsp'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));

                                }else{
                                  $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png' %}" alt="profile"></a><span class="media-heading text-uppercase reviews">'+'&nbsp'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                                }
                                */
                  			   }
                  			} else{
                  			   if (uid == {{user.id}}){
                              $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png' %}" alt="profile"></a><span class="media-heading text-uppercase reviews">'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
			                       } else{
                              $('#communityPost').append($(shared_info+'<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png' %}" alt="profile"></a><span class="media-heading text-uppercase reviews">'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><a href="'+post_link+'"><p class="media-comment">'+docs[i]['content']+'</p>'+imageText+'</a>'+skillls+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                  			   }
                  			}
                        if (docs[i]['replys']) {
                           var rdocs = docs[i]['replys'];
                           console.log('replys');
                           for(var j=0; j < rdocs.length; j++){
                              if (rdocs[j]['user']['uid']){
                      				  var ruid = rdocs[j]['user']['uid']
                      				  var m  = users.indexOf(ruid);
                      				  var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, ruid);
                      				  if ( m != -1) {
                      				     $('#commentHistory_'+c_id).append($('<hr class="solid-divider"/><li><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[m]+'" class="profile_img">'+rdocs[j]['user']['first_name']+'&nbsp'+rdocs[j]['user']['last_name']+'</a>&nbsp</br><p>'+rdocs[j]['content']+'</p>'));
                      				   }else{
                      				     $('#commentHistory_'+c_id).append($('<hr class="solid-divider"/><li><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img">'+rdocs[j]['user']['first_name']+'&nbsp'+rdocs[j]['user']['last_name']+'</a>&nbsp</br><p>'+rdocs[j]['content']+'</p>'));
                      				  }
                               }
                           }
                        }
                 }
	      }
	  });
  
    socket.on('three collaborators need you', function(docs){
      for(var i=0; i < docs.length; i++){
        console.log("top collaborators:"+docs[i].user_id);
        var uid = docs[i].user_id;
        var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
        var n  = users.indexOf(uid);
        if ( n != -1 ){
          $('#collaborators_needyou').append($('<li class="media"><a href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a></li>'));
        }else{
          $('#collaborators_needyou').append($('<li class="media"><a href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png'%}"  alt="profile"></a></li>'));

        }
      }
    });

    socket.on('three collaborators you need', function(docs){
      for(var i=0; i < docs.length; i++){
        var uid = docs[i].user_id;
        var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
        var n  = users.indexOf(uid);
        if ( n != -1 ){
          $('#collaborators_youneed').append($('<li class="media"><a href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a></li>'));
        }else{
          $('#collaborators_youneed').append($('<li class="media"><a href="'+url_link+'"><img class="profile_img" src="{% static 'images/profileimage.png'%}"  alt="profile"></a></li>'));

        }
      }
    });
        
    socket.on('three community posts need you', function(docs){
      for(var i=0; i < docs.length; i++){
        console.log("top community posts:"+docs[i]._id);
        var c_id = docs[i]._id;
        var tag = docs[i].tag;
        var uid = docs[i].user.uid;
        var post_link = "{% url 'week1:community_post'%}?c_id="+c_id+"&tag="+tag+"&u="+uid;
        $('#suggested_project').append($('<li class="media"><a href="'+post_link+'"><p>'+docs[i].content+'</p></a></li>'));
      }
    });

    function encode (input) {
      var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
      var output = "";
      var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
      var i = 0;

      while (i < input.length) {
          chr1 = input[i++];
          chr2 = i < input.length ? input[i++] : Number.NaN; // Not sure if the index 
          chr3 = i < input.length ? input[i++] : Number.NaN; // checks are needed here

          enc1 = chr1 >> 2;
          enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
          enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
          enc4 = chr3 & 63;

          if (isNaN(chr2)) {
              enc3 = enc4 = 64;
          } else if (isNaN(chr3)) {
              enc4 = 64;
          }
          output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
                    keyStr.charAt(enc3) + keyStr.charAt(enc4);
      }
      return output;
    }
    /**
	  socket.on('whisper', function(data){
	      $('#messages').append($('<li><span class="whisper"><br>'+data.nick+':'+data.msg+'</span><br/>'));
    });
    **/

    /*
    function imageExists(url, callback) {
      var img = new Image();
      img.onload = function() { callback(true); };
      img.onerror = function() { callback(false); };
      img.src = url;
    }
    */

    function imageExists(url) {
      var http = new XMLHttpRequest();
      http.open('HEAD', url, false);
      http.send();
      return http.status!=404;
    }
    </script>
</div>

<div class="popup-box chat-popup" id="qnimate">
        <div class="popup-head">
        <div class="popup-head-left pull-left">
          
        </div>

          <div class="popup-head-right pull-right">
            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button" onclick="closeChat()">x</button>
          </div>
          </div>
        <div class="popup-messages">
        
          <div class="direct-chat-messages" id="chat_room">
          
          </div>
      
        </div>
      <div class="popup-messages-footer">
        <textarea id="status_message" placeholder="Type a message..." rows="20" cols="40" name="message"></textarea>
        <div class="btn-footer">
          <button class="btn btn-primary btn-lg pull-right" onclick="sendMessage()">Send </button>
        </div>
      </div>
</div>


{% endblock %}
