{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}


<!--div id="home-friends">

<h4>Folder</h4>
<ul style="list-style-type:none">
{% if folderusers %}
   {% for u in folderusers %}
        {% if u.photo %}
	   <li><img src="{{ u.photo.url }}" width="50px"></li>
        {% else %}
	   <li><img src="{% static 'images/profileimage.png'%}" width="50px"></li>
        {% endif %}
   {% endfor %}
{% endif %}
</ul>
</div-->

<div id="home-main">

<div class="community-container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <fieldset>
            <legend class="text-center">
            </legend>
    
            <!-- Post body -->
            <div class="eachpost">
              <div class="col-md-12 post-body">
              </div>
            </div>
    
            <!-- Form actions -->
          </fieldset>
        </div>
      </div>
  </div>



<div class="community-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
       {% if upcoming %}
       <h3> About this project </h3>
          {% if upcoming.image %}
              <img src="{{ upcoming.image.url }}" class="maincontent">
          {% else %}
              <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
          {% endif %}
           <div class="description-wrapper">
              <ul>
                <li>Description of your upcoming work:{{upcoming.describe}}</li>
                <li>Your role:{{upcoming.role}}</li>
                <li>Status:{{upcoming.status}}</li>
                <li>Target finish date:{{upcoming.targetdate}}</li>
                <li>Comment:{{upcoming.comment}}</li>
              </ul>
              <ul>
                <li><span style="font-weight: bold;">Looking for</span>
                  <br>&nbsp{{upcoming.collaborators}}</br></li>
                <li>Funding:{{upcoming.fund}}</li>
                <li>Comment:{{upcoming.comment_help}}</li>
              </ul>
           </div>

           <hr class="divider"/>
             
            <ul class="nav nav-tabs">
              <li class="active"><a href="#leaveComment_upcoming" data-toggle="tab">Leave Comment</a></li>
              <li><a href="#showComment_upcoming" data-toggle="tab">Show Comment</a></li>
            </ul>

            <div class="tab-content" style="width:350px; padding:0px; border:0px;">
              <div class="tab-pane active" id="leaveComment_upcoming">
                <div class="well well-ssm">
                  <form class="form-horizontal" action="" id="upcoming_form">
                      <fieldset>
                        <!-- Post body -->
                        <div class="form-group">
                          <div class="col-md-9">
                            <textarea class="form-control" id="c_upcoming" autocomplete="off" name="message" placeholder="Please enter your comment here..." rows="3" style="width:470px;"></textarea>
                          </div>
                        </div>
          
                        <!-- Form actions -->
                        <div class="form-group">
                          <div class="col-md-12 text-right">
                          <button class="btn btn-primary btn-lg" onclick="submitUForm()">Post</button>
                          </div>
                        </div>
                      </fieldset>
                  </form>
                </div>
              </div>

              <div class="tab-pane" id="showComment_upcoming">
                <ul style="list-style-type:none; padding-left:30px;">
                  <div id="upcomingComment"></div>
                </ul>
              </div>
           </div>
       {% endif %}
    </div>
  </div>
</div>
  <!--div class="row">
    <div class="col-sm-10 col-sm-offset-3" id="logout">
        <div class="comment-tabs">
            <div class="tab-content">
                <div class="tab-pane active" id="comments-logout">                
                    <ul class="media-list" id="communityPost">
                      
                    </ul> 
                </div>

            </div>
        </div>
	</div>
  </div-->
</div>




    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="{% static 'js/basic.js' %}"></script>
    <script type="text/javascript">
          /***new lines***/
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
          socket.emit('join community post', {uid:{{user.id}}, uname:"{{user.first_name}}", c_id:"{{c_id}}" });
          /***to here***/
          function popShare(){
      	    var popup = document.getElementById('sharePop');
            popup.classList.toggle('show');
      	  }

          function shareFunction(uid, c_id){
            console.log('uid on share:'+uid+':'+c_id);
            popShared();
	          socket.emit('share post', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
          }

          function popShared(){
      	    var popup = document.getElementById('sharedPop');
            popup.classList.toggle('show');
      	  }

          function popShareSkill(){
      	    var popup = document.getElementById('shareskillPop');
            popup.classList.toggle('show');
      	  }

          function shareskillFunction(uid, c_id){
            console.log('uid on shareskill:'+uid+':'+c_id);
            popThankyou();
      	    socket.emit('share skill', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
          }

          function popThankyou(){
	          var popup = document.getElementById('thankyouPop');
            popup.classList.toggle('show');
	        }

          /*
          function hatsoffFunction(uid){
            console.log('uid on hatsoff:'+uid);
            popHatsoff();
	          socket.emit('give hatsoff', {to_uid:uid, uid:{{user.id}}});
          }
          */

          function popHatsoff(){
	          var popup = document.getElementById('hatsoffPop');
            popup.classList.toggle('show');
	        }

          function thanksFunction(uid){
            console.log('uid on thanks:'+uid);
            popThanks();
	          socket.emit('give thanks', {to_uid:uid, uid:{{user.id}}});
          }

          function popThanks(){
	          var popup = document.getElementById('thanksPop');
            popup.classList.toggle('show');
	        }

          function followFunction(uid){
            console.log('uid on follow:'+uid);
            popFollow();
	          socket.emit('give follow', {to_uid:uid, uid:{{user.id}}});
          }

          function popFollow(){
	          var popup = document.getElementById('followPop');
            popup.classList.toggle('show');
	        }

          function replyFunction(uid, c_id){
            console.log('reply uid:'+uid+':'+c_id);
            console.log('reply comment:'+$('#replyComment_'+c_id).val());
            var reply = $('#replyComment_'+c_id).val();

	          socket.emit('reply community', {to_uid:uid, uid:{{user.id}}, c_id:c_id, msg:reply});
            $('#replyComment_'+c_id).val('');
          }

      	  $('form').submit(function(){
            if ($('#p').val().length != 0){
      		         socket.emit('community post', {msg:$('#p').val(), uid:{{user.id}}}, function(data){
      		    //$('#communityPost').append($('<li><span class="error"><br>'+data.nick+':'+data.msg+'</span><br/>'));
      		  });
      		  $('#p').val('');
      		  return false;
      	    }
	        });

	        socket.on('new reply community', function(data){
              var uid = data.uid;
              var c_id = data.community_id;
              console.log('new reply community c_id:'+c_id);
              var users = [{% for u in users %} {{ u }} ,{% endfor %}];
              var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
              var n  = users.indexOf(uid);
      	      var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
      	      var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
              if ( n != -1) {
                    if (uid == {{user.id}}){
	               //$('#communityPost').prepend($('<hr>'));
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    } else{
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a>&nbsp <a href="'+url_mask+'">folder</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    }

              }else{
	          //$('#communityPost').prepend($('<hr>'));
                    if (uid == {{user.id}}){
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    } else {
	               $('#replyHistory_'+c_id).prepend($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img">'+data.first_name+'&nbsp'+data.last_name+'</a>&nbsp <a href="'+url_mask+'">folder</a></br><p class="reply-content">'+data.msg+'</p></br></div><br/>'));
                    }
              }
          });
	 
	        socket.on('get community post', function(data){
              var users = [{% for u in users %} {{ u }} ,{% endfor %}];
              var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
              var docs = data.post;
              var sharedocs = data.sharedocs;
              var likedocs = data.likedocs;
              var hatsoffdocs = data.hatsoffdocs;
              var sharels = [];
              var likels = [];
              var hatsoffls = [];
              var isLike = false;
              var isShare = false;
              var isHat = false;

              for (var i=0; i < sharedocs.length; i++){
                sharels.push(sharedocs[i]['user']);
                if (sharedocs[i]['user']['uid'] == socket.uid){
                 isShare = true; 
                }
              }

              for (var i=0; i < likedocs.length; i++){
                likels.push(likedocs[i]['user']);
                if (likedocs[i]['user']['uid'] == socket.uid){
                 isLike = true; 
                }
              }

              var count_likes = likels.length;
              for (var i=0; i < hatsoffdocs.length; i++){
                hatsoffls.push(hatsoffdocs[i]['user']);
                if (hatsoffdocs[i]['user']['uid'] == socket.uid){
                 isHat = true; 
                }
              }
              console.log("docs:", docs);
              console.log("data:", data);
              console.log("like:", likels);

              if (docs['user']['uid']) {
			                  var uid = docs['user']['uid'];
                        var c_id = docs['_id'];

                        var created = docs['created'];
                        var colonIndex = created.indexOf(":");
                        var date = created.substring(0, colonIndex-3);
                        var datels = date.split('-');
                        var mm = months[parseInt(datels[1])-1];
                        var dd = datels[2];
                        var yy = datels[0];

			                  var n  = users.indexOf(uid);
			                  var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
			                  var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
                        var thanks = '';
                        var follow = '<div class="popupFollow" onclick="followFunction('+uid+')">Follow &nbsp</br><span class="popuptextFollow" id="followPop">Followed this user!</br></span></div>';

                        var like = '<hr class="divider"/>';
                        if (isLike){
                          //like += '<div class="popupLike" id="like_'+c_id+'">Liked &nbsp</div>';
                          like += '<div class="popupLike" id="like_'+c_id+'" ><img src="{% static 'images/active_blue_thumb_32x32.png'%}" class="icons-img" onclick="unlikeCommunityFunction(\''+uid+'\',\''+c_id+'\')"><div class="popupCount" id="like_count_'+c_id+'" onclick="getLikeusers(\''+c_id+'\')">'+count_likes+'</div></div>';
                        }else{
                          like += '<div class="popupLike" id="like_'+c_id+'" ><img src="{% static 'images/inactive_grey_thumb_32x32.png'%}" class="icons-img" onclick="likeCommunityFunction(\''+uid+'\',\''+c_id+'\')" /><div class="popupCount" id="like_count_'+c_id+'" onclick="getLikeusers(\''+c_id+'\')">'+count_likes+'</div></div>';
                        }
                        //var like = '<div class="popupLike" onclick="likeCommunityFunction(\''+uid+'\',\''+c_id+'\')">Like &nbsp<span class="popuptextLike" id="likePop">You Liked it</br></span></div>';
                        var shareskill = '';

                        var share = '';
                        if (isShare){
                          share = '<div class="popupLike" id="share_'+c_id+'"><img src="{% static 'images/active_blue_share_32x32.png'%}" class="icons-img"></div>';
                        }else{
                          share = '<div class="popupLike" id="share_'+c_id+'" onclick="shareFunction(\''+uid+'\',\''+c_id+'\')"><img src="{% static 'images/inactive_grey_share_32x32.png'%}" class="icons-img"></div>';
                        }

                        var hatsoff = '';
                        if (isHat){
                          hatsoff = '<div class="popupLike" id="hatsoff_'+c_id+'"><img src="{% static 'images/active_yellow_hat_32x32.png'%}" class="icons-img"></div>';
                        }else{
                          hatsoff = '<div class="popupLike" id="hatsoff_'+c_id+'" onclick="hatsoffCommunityFunction(\''+uid+'\',\''+c_id+'\')"><img src="{% static 'images/inactive_grey_hat_32x32.png'%}" class="icons-img"></div>';

                        }
                        //var share = '<div class="popupShare" onclick="shareFunction(\''+uid+'\',\''+c_id+'\')">Share &nbsp<span class="popuptextShared" id="sharedPop">You shared!<br></span></div>';
                        var collaborate = '<div class="popupCollaborate" onclick="collaborateFunction(\''+uid+'\',\''+c_id+'\')"><button class="collaborate-btn">Collaborate &nbsp</button><span class="popuptextCollaborate" id="collaboratePop">Collaborated</br></span></div><hr class="divider"/>';
                        var comment = '<div class="well well-smm"><ul id="commentHistory_'+c_id+'" style="list-style-type:none;"></ul><form class="form-horizontal" action=""><div class="form-group"><div class="col-md-9"><textarea class="form-control" id="c_'+c_id+'" autocomplete="off" name="message" placeholder="Please enter your comment here..." rows="3" style="width:570px;"></textarea></div></div><div class="form-group"><div class="col-md-12 text-right"><button class="btn btn-primary btn-lg" onclick="submitComment(\''+uid+'\',\''+c_id+'\')">Post</button></div></div></form></div>';

                        var imageText = '';

                        if (docs['image'] && docs['image']['data']){
                          var bytes = new Uint8Array(docs['image']['data']);
                          var enc = encode(bytes);
                          var ctype = docs['image']['contentType'];
                          imageText = '<embed id="ItemPreview_'+c_id+'" src="data:'+ctype+';base64,'+enc+'" class="largepostImage" /></embed>';
                        }

                  			if ( n != -1) {
                  			   if (uid == {{user.id}}){

                              $('.post-body').append($('<li class="media" style="ist-style-type:none;"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a><span class="media-heading text-uppercase reviews">'+'&nbsp'+docs['user']['first_name']+'&nbsp'+docs['user']['last_name']+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><p class="media-comment">'+docs['content']+'</p>'+imageText+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
			                      } else{
                              $('.post-body').append($('<li class="media"><div class="media-body"><div class="well well-lg"><a href="'+url_link+'"><img class="profile_img" src="{{media_url}}'+photos[n]+'" alt="profile"></a><span class="media-heading text-uppercase reviews">'+'&nbsp'+docs['user']['first_name']+'&nbsp'+docs['user']['last_name']+'</span><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><p class="media-comment">'+docs['content']+'</p>'+imageText+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
                  			   }
                  			} else{
                  			   if (uid == {{user.id}}){
                              $('.post-body').append($('<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="media-object img-circle" src="{% static 'images/profileimage.png' %}" alt="profile"></a><h4 class="media-heading text-uppercase reviews">'+docs['user']['first_name']+'&nbsp'+docs['user']['last_name']+'</h4><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><p class="media-comment">'+docs['content']+'</p>'+imageText+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
			                      } else{
                              $('.post-body').append($('<li class="media"><div class="media-body"><div class="well well-lg"><a class="pull-left" href="'+url_link+'"><img class="media-object img-circle" src="{% static 'images/profileimage.png' %}" alt="profile"></a><h4 class="media-heading text-uppercase reviews">'+docs['user']['first_name']+'&nbsp'+docs['user']['last_name']+'</h4><ul class="media-date text-uppercase reviews list-inline"><li class="dd">'+dd+'</li><li class="mm">'+mm+'</li><li class="aaaa">'+yy+'</li></ul><p class="media-comment">'+docs['content']+'</p>'+imageText+like+share+hatsoff+thanks+collaborate+comment+'</div></div></li>'));
			                      }
			                  }
                        if (docs['replys']) {
                           var rdocs = docs['replys'];
                           console.log('replys');
                           for(var j=0; j < rdocs.length; j++){
                              if (rdocs[j]['user']['uid']){
                      				  var ruid = rdocs[j]['user']['uid']
                      				  var m  = users.indexOf(ruid);
                      				  var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, ruid);
                      				  if ( m != -1) {
                      				     $('#replyHistory_'+c_id).append($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[m]+'" class="profile_img">'+rdocs[j]['user']['first_name']+'&nbsp'+rdocs[j]['user']['last_name']+'</a>&nbsp</br><p class="reply-content">'+rdocs[j]['content']+'</p></br></div><br/>'));
                      				   }else{
                      				     $('#replyHistory_'+c_id).append($('<li><div class="reply-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img">'+rdocs[j]['user']['first_name']+'&nbsp'+rdocs[j]['user']['last_name']+'</a>&nbsp</br><p class="reply-content">'+rdocs[j]['content']+'</p></br></div><br/>'));
                  				       }
                               }
                           }
                        }
              }
	  });
        
          /**
	  socket.on('whisper', function(data){
	      $('#messages').append($('<li><span class="whisper"><br>'+data.nick+':'+data.msg+'</span><br/>'));
          });
          **/
    </script>
</div>


{% endblock %}
