{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="folderWrap">
  <div id="folder-left">
    <h4>Folder</h4>
      <ul style="list-style-type:none">
	{% if folderusers %}
	   {% for u in folderusers %}
		{% if u.photo %}
		   <li><img src="{{ u.photo.url }}" width="50px"><br>{{u.user.first_name}}&nbsp{{u.user.last_name}}</br></li>
		{% else %}
		   <li><img src="{% static 'images/profileimage.png'%}" width="50px"><br>{{u.user.first_name}}&nbsp{{u.user.last_name}}</br></li>
		{% endif %}
	   {% endfor %}
	{% endif %}
      </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <!--script src="localhost:8889/socket.io/socket.io.js"></script-->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
	  /*var socket = io();*/
          var socket = io.connect("{{nodejs_url}}");
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});

    </script>
  </div>
  <div id="folder-center">
    <h4>Skill Share</h4>
    <h4>Introductions</h4>
    <h4>Job Pitches</h4>
    <h4>Donations</h4>
  </div>
</div>

{% endblock %}
  <!--/body>
</html-->
