{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="home-friends">
<h4>Folder</h4>
<ul style="list-style-type:none">
{% if folderusers %}
   {% for u in folderusers %}
        {% if u.photo %}
	   <li><img src="{{ u.photo.url }}" width="50px">{{u.user.first_name}}&nbsp{{u.user.last_name}}</li>
        {% else %}
	   <li><img src="{% static 'images/profileimage.png'%}" width="50px">{{u.user.first_name}}&nbsp{{u.user.last_name}}</li>
        {% endif %}
   {% endfor %}
{% endif %}
</ul>
</div>

<div id="home-main">

<div id="hats-gave">
	<h3>Hatsoff List</h3>
	<p>You gave</p>

	<ul style="list-style-type:none; padding-left:0px;">
	{% if giveusers %}
	   {% for u in giveusers %}
	       {% if u.photo %}
	       <li><a href="{% url 'week1:get_profile' u.user.id %}" class="link-userpage"><img src="{{ u.photo.url }}" class="profile_img">{{u.user.first_name}} &nbsp {{u.user.last_name}}</a></li>
               {% else %}
	       <li><a href="{% url 'week1:get_profile' u.user.id %}" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img">{{u.user.first_name}} &nbsp {{u.user.last_name}}</a></li>
               {% endif %}
	   {% endfor %}
	{% endif %}
	</ul>
</div>

<div id="hats-received">
	<h3>Hatsoff List</h3>
	<p>You received</p>

	<ul style="list-style-type:none; padding-left:0px;">
	{% if receiveusers %}
	   {% for u in receiveusers %}
	       {% if u.photo %}
	       <li><a href="{% url 'week1:get_profile' u.user.id %}" class="link-userpage"><img src="{{ u.photo.url }}" class="profile_img"></a></li>
               {% else %}
	       <li><a href="{% url 'week1:get_profile' u.user.id %}" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img"></a></li>
               {% endif %}
	   {% endfor %}
	{% endif %}
	</ul>
</div>

</div>

{% endblock %}
