{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     </div>

     <div id="step-right">
        <h3>Add your past work</h3>
	<form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>{{form.title.label_tag}}</br> {{form.title}}<br/>
            <br>{{form.image.label_tag}}</br>
                <input id="id_image" type="file" name="image"><br/>
                <img id="blah" src="#" alt="your image" class="maincontent" /><br/>
            <!--br>{{form.video.label_tag}}</br> {{form.video}}<br/-->
            <br>{{form.youtube.label_tag}}</br> {{form.youtube}}<br/>
            <br>{{form.describe.label_tag}}</br> {{form.describe}}<br/>
            
            <br>{{form.role1.label_tag}}<!--/br>{{form.role}}<br/-->
                <input type="text" class="form-control" id="token-professionfield" name="professiontags" value="{{form.role1.value}}, {{form.role2.value}}, {{form.role3.value}}, {{form.role4.value}}, {{form.role5.value}}"/>

            <br>{{form.tag1.label_tag}}<!--/br>{{form.role}}<br/-->
                <input type="text" class="form-control" id="token-skillfield" value="{{form.tag1.value}}, {{form.tag2.value}}, {{form.tag3.value}}, {{form.tag4.value}}, {{form.tag5.value}}, {{form.tag6.value}}, {{form.tag7.value}}, {{form.tag8.value}}, {{form.tag9.value}}, {{form.tag10.value}}" name="projecttags" />



            <br>{{form.completion.label_tag}}</br><input type='number' name='completion' min="1970" max="2016"><br/>
	    <div class="submit-wrapper">
               {% if num_show and num_show == 10 %}
	           <input type="submit" value="Update" name="next" class="step-submit"/>
                   <input type="hidden" name="next" value="home.html">
               {% else %}
	           <input type="submit" value="Save and Add more" name="more_case" class="step-submit-more"><input type="submit" value="Update" name="next" class="step-submit"/>
               {% endif %}
	        <a href="{% url 'week1:home' %}">Back to Home</a>
            </div>
	</form>
     </div>

</div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.11.1"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
<script src="{% static 'js/tag_professions.js' %}"></script>
<script src="{% static 'js/tag_skills.js' %}"></script>
<script type="text/javascript">

window.onload = function (){
    {% if form.instance.image %}
        $('#blah').attr('src', "{{form.instance.image.url}}");
    {% else %}
        $('#blah').attr('src', "{% static 'images/empty_showcase.png' %}");
    {% endif %}
};

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_image").change(function(){
    readURL(this);
});
</script>

{% endblock %}
