{% extends 'week1/basehome.html'%}

{% block content %}
<div id="home-edit">
    {{ form.errors }}
    <form action="" class="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        City: <input type='text' name='city' value='{{ profile.city }}'><br/>
        Works at: <input type='text' name='worksAt' value='{{ profile.worksAt }}'><br/>
        Education: <input type='text' name='education' value='{{ profile.education }}'><br/>
        Language: <input type='text' name='language' value='{{ profile.language }}'><br/>

        Skills: <input type='text' name='skill1' value='{{ profile.skill1 }}'><br/>
                <input type='text' name='skill2' value='{{ profile.skill2 }}'><br/>
        <input type="submit" value="Update" align="center" />
        <input type="hidden" name="next" value="home.html">
    </form>

</div>
{% endblock %}
