{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     </div>

     <div id="step-right">
        <h3>Update your past work</h3>
	<form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>{{form.title.label_tag}}</br> {{form.title}}<br/>
            <br>{{form.image.label_tag}}</br> {{form.image}}<br/>
            <!--br>{{form.video.label_tag}}</br> {{form.video}}<br/-->
            <br>{{form.youtube.label_tag}}</br> {{form.youtube}}<br/>
            <br>{{form.describe.label_tag}}</br> {{form.describe}}<br/>
            <br>{{form.role.label_tag}}</br>{{form.role}}<br/>
            <br>{{form.completion.label_tag}}</br><input type='number' name='completion' min="1970" max="2016"><br/>
	    <div class="submit-wrapper">
               {% if num_show and num_show == 10 %}
	           <input type="submit" value="Update" name="next" class="step-submit"/>
                   <input type="hidden" name="next" value="home.html">
               {% else %}
	           <input type="submit" value="Save and Add more" name="more_case" class="step-submit-more"><input type="submit" value="Update" name="next" class="step-submit"/>
               {% endif %}
	        <a href="{% url 'week1:home' %}">Back to Home</a>
            </div>
	</form>
     </div>

</div>

{% endblock %}
