{% extends 'week1/basehome.html'%}

{% block content %}
<div id="home-edit">
    {{ form.errors }}
    <form action="" class="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        Display Name: <input type='text' name='displayname' value='{{ profile.displayname }}'><br/>
        Photo: <input type='file' name='photo' value='{{ profile.photo }}'><br/>
        Profession: <input type='text' name='profession' value='{{ profile.profession }}'><br/>
        Works at: <input type='text' name='worksAt' value='{{ profile.worksAt }}'><br/>
        City: <input type='text' name='city' value='{{ profile.city }}'><br/>
        Education: <input type='text' name='education' value='{{ profile.education }}'><br/>

	{% if profile.birthdate %}
            Birthdate: <input type='text' name='birthdate' value='{{ profile.birthdate }}'><br/>
	{% else %}
            Birthdate: <input type='text' name='birthdate'><br/>
	{% endif %}

        Showcase: <input type='file' name='showcase1' value='{{ profile.showcase1 }}'><br/>
        Describe: <input type='text' name='describe1' value='{{ profile.describe1 }}'><br/>
        <input type="submit" value="Update Profile" align="center" />
        <input type="hidden" name="next" value="home.html">
    </form>

</div>
{% endblock %}
