{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     </div>

     <div id="step-right">
        <h3>Upcoming Project</h3>
	       <form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#myTags").tagit();
                    $("#myTagProfessions").tagprofession();
                    $("#myTagCollaborators").tagcollaborator();
                    $("#myTagProjects").tagproject();

                });
            </script> 

            <br>{{form.title.label_tag}}</br> {{form.title}}<br/>
            <br>{{form.image.label_tag}}</br>
                <input id="id_image" type="file" name="image"><br/>
                <img id="blah" src="#" alt="your image" class="maincontent" /><br/>
            <br>{{form.describe.label_tag}}</br>{{form.describe}}<br/>
            <br>{{form.role1.label_tag}}<!--/br>{{form.role}}<br/-->
            <ul id="myTagProfessions">
            </ul>
            <br>{{form.status.label_tag}}</br>{{form.status}}<br/>

            <br>{{form.tag1.label_tag}}<!--/br>{{form.role}}<br/-->
            <ul id="myTagProjects">
                <li>{{ form.tag1.value }}</li>
                <li>{{ form.tag2.value }}</li>
                <li>{{ form.tag3.value }}</li>
                <li>{{ form.tag4.value }}</li>
                <li>{{ form.tag5.value }}</li>
                <li>{{ form.tag6.value }}</li>
                <li>{{ form.tag7.value }}</li>
                <li>{{ form.tag8.value }}</li>
                <li>{{ form.tag9.value }}</li>
                <li>{{ form.tag10.value }}</li>
            </ul>
            
            <br>Looking to get help from the community?</br>
                <select name="get_help">
                    
                {% if form.get_help.value == 0 %}
                <option value="0" selected="selected">Select option</option>
                {% else %}
                <option value="0">Select option</option>
                {% endif %}
                {% if form.get_help.value == 1 %}
                <option value="1" selected="selected">Yes please!</option>
                {% else %}
                <option value="1">Yes please!</option>
                {% endif %}
                {% if form.get_help.value == 2 %}
                <option value="2" selected="selected">Open to collaboration!</option>
                {% else %}
                <option value="2">Open to collaboration!</option>
                {% endif %}
                {% if form.get_help.value == 3 %}
                <option value="3" selected="selected">I'm ok thanks!</option>
                {% else %}
                <option value="3">I'm ok thanks!</option>
                {% endif %}
                </select>
            <br>For those who answered “yes” or “open to collaboration” what kind of help/collaboration are you looking for?</br>
            <br>{{form.collaborator1.label_tag}}<!--/br>{{form.collaborators}}<br/-->
            <ul id="myTagCollaborators">
                <li>{{ form.collaborator1.value }}</li>
                <li>{{ form.collaborator2.value }}</li>
                <li>{{ form.collaborator3.value }}</li>
                <li>{{ form.collaborator4.value }}</li>
                <li>{{ form.collaborator5.value }}</li>
            </ul>

            
            <!--ul id="myTagProfessions">
            </ul-->

            <br>
            <label>What kind of skills would your collaborator(s) need?</label>
            <ul id="myTags">
                <li>{{ form.collaborator_skill1.value }}</li>
                <li>{{ form.collaborator_skill2.value }}</li>
                <li>{{ form.collaborator_skill3.value }}</li>
                <li>{{ form.collaborator_skill4.value }}</li>
                <li>{{ form.collaborator_skill5.value }}</li>
                <li>{{ form.collaborator_skill6.value }}</li>
                <li>{{ form.collaborator_skill7.value }}</li>
                <li>{{ form.collaborator_skill8.value }}</li>
                <li>{{ form.collaborator_skill9.value }}</li>
                <li>{{ form.collaborator_skill10.value }}</li>
            </ul>

            <br>{{form.preferred_city.label_tag}}</br>{{form.preferred_city}}<br/>
            <br>{{form.targetstartdate.label_tag}}</br><input type='date' name='targetstartdate' min="2016-10-01" value="{{form.targetstartdate.value | date:'Y-m-d'}}"><br/>
            <br>{{form.targetfinishdate.label_tag}}</br><input type='date' name='targetfinishdate' min="2016-10-01" value="{{form.targetfinishdate.value | date:'Y-m-d'}}"><br/>

            <br>{{form.often.label_tag}}</br>{{form.often}}<br/>

            <br>{{form.give_back.label_tag}}</br>
            <select name="give_back">
                {% if form.give_back.value == 1 %}
                <option value="1" selected="selected">Paid compensation</option>
                {% else %}
                <option value="1">Paid compensation</option>
                {% endif %}

                {% if form.give_back.value == 2 %}
                <option value="2" selected="selected">Exchange  of skills/services</option>
                {% else %}
                <option value="2">Exchange  of skills/services</option>
                {% endif %}

                {% if form.give_back.value == 3 %}
                <option value="3" selected="selected">Negotiable</option>
                {% else %}
                <option value="3">Negotiable</option>
                {% endif %}
            </select>
            <br>{{form.comment.label_tag}}</br>{{form.comment}}<br/>
            <br>{{form.fund.label_tag}}</br>{{form.fund}}<br/>
            <br>{{form.comment_help.label_tag}}</br>{{form.comment_help}}<br/>
            <!--br>{{form.comment_help.label_tag}}</br>{{form.comment_help}}<br/-->

	    <div class="submit-wrapper">
	        <input type="submit" value="Update" class="step-submit"/>
                <input type="hidden" name="next" value="home.html">
	        <a href="{% url 'week1:home' %}">Back to Home</a>
            </div>
	</form>
        <!--
        <h3>Edit your form work</h3>
	<form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>Title</br> <input type='text' name='title' ><br/>
            <br>Photo</br> <input type='file' name='img' ><br/>
            <br>Describe your work</br><input type='text' name='describe'><br/>
            <br>Your role</br><input type='text' name='role'><br/>
            <br>Status of work (for eg: entering post-production phase)</br><input type='text' name='status'><br/>
            <br>Target finish date</br><input type='date' name='targetdate' min="2016-10-01"><br/>
            <br>Comment</br><input type='text' name='comment'><br/>
            <br>Looking to get help from the community?</br>
                <input type="radio" name="get_help" value="1">Yes please!</br>
                <input type="radio" name="get_help" value="2">Open to collaboration!</br>
                <input type="radio" name="get_help" value="3">I'm ok thanks!</br>
            <br>For those who answered “yes” or “open to collaboration” what kind of help/collaboration are you looking for?</br>
            <br>Collaborators</br><input type='text' name='collaborators'><br/>
            <br>Do you need to raise funds? If so how much and for what?</br><input type='text' name='fund'><br/>
            <br>Comments</br><input type='text' name='comment_help'><br/>
	    <div class="submit-wrapper">
	        <input type="submit" value="Update" class="step-submit"/>
                <input type="hidden" name="next" value="home.html">
	        <a href="{% url 'week1:home' %}">Back to Home</a>
            </div>
	</form>
        -->
     </div>

</div>

<script type="text/javascript">
window.onload = function (){
    {% if form.instance.image %}
        $('#blah').attr('src', "{{form.instance.image.url}}");
    {% else %}
        $('#blah').attr('src', "{% static 'images/empty_showcase.png' %}");
    {% endif %}
};

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_image").change(function(){
    readURL(this);
});
</script>


{% endblock %}
