{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     </div>

     <div id="step-right">
        <h3>Add your past work</h3>
	<form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>{{form.title.label_tag}}</br> {{form.title}}<br/>
            <br>{{form.image.label_tag}}</br>
                <input id="id_image" type="file" name="image"><br/>
                <img id="blah" src="#" alt="your image" class="maincontent" /><br/>
            <!--br>{{form.video.label_tag}}</br> {{form.video}}<br/-->
            <br>{{form.youtube.label_tag}}</br> {{form.youtube}}<br/>
            <br>{{form.describe.label_tag}}</br> {{form.describe}}<br/>
            <br>{{form.role1.label_tag}}<!--/br>{{form.role}}<br/-->
            <ul id="myTagProfessions">
                    <li>{{ form.role1.value }}</li>
                    <li>{{ form.role2.value }}</li>
                    <li>{{ form.role3.value }}</li>
                    <li>{{ form.role4.value }}</li>
                    <li>{{ form.role5.value }}</li>
            </ul>
            <br>{{form.completion.label_tag}}</br><input type='number' name='completion' min="1970" max="2016"><br/>
	    <div class="submit-wrapper">
               {% if num_show and num_show == 10 %}
	           <input type="submit" value="Update" name="next" class="step-submit"/>
                   <input type="hidden" name="next" value="home.html">
               {% else %}
	           <input type="submit" value="Save and Add more" name="more_case" class="step-submit-more"><input type="submit" value="Update" name="next" class="step-submit"/>
               {% endif %}
	        <a href="{% url 'week1:home' %}">Back to Home</a>
            </div>
	</form>
     </div>

</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#myTagProfessions").tagprofession();
});

window.onload = function (){
    {% if form.instance.image %}
        $('#blah').attr('src', "{{form.instance.image.url}}");
    {% else %}
        $('#blah').attr('src', "{% static 'images/empty_showcase.png' %}");
    {% endif %}
};

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_image").change(function(){
    readURL(this);
});
</script>

{% endblock %}
