{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     </div>

     <div id="step-right">
        <h3>Update your form work</h3>
	<form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>{{form.title.label_tag}}</br> {{form.title}}<br/>
            <br>{{form.image.label_tag}}</br> {{form.image}}<br/>
            <br>{{form.describe.label_tag}}</br>{{form.describe}}<br/>
            <br>{{form.role.label_tag}}</br>{{form.role}}<br/>
            <br>{{form.status.label_tag}}</br>{{form.status}}<br/>
            <br>{{form.targetdate.label_tag}}</br><input type='date' name='targetdate' min="2016-10-01"><br/>
            <br>{{form.comment.label_tag}}</br>{{form.comment}}<br/>
            <br>Looking to get help from the community?</br>
                {% if form.get_help.value == 1 %}
                <input type="radio" name="get_help" value="1" checked>Yes please!</br>
                {% else %}
                <input type="radio" name="get_help" value="1">Yes please!</br>
                {% endif %}
                {% if form.get_help.value == 2 %}
                <input type="radio" name="get_help" value="2" checked>Open to collaboration!</br>
                {% else %}
                <input type="radio" name="get_help" value="2">Open to collaboration!</br>
                {% endif %}
                {% if form.get_help.value == 3 %}
                <input type="radio" name="get_help" value="3" checked>I'm ok thanks!</br>
                {% else %}
                <input type="radio" name="get_help" value="3">I'm ok thanks!</br>
                {% endif %}
            <br>For those who answered “yes” or “open to collaboration” what kind of help/collaboration are you looking for?</br>
            <br>{{form.collaborators.label_tag}}</br>{{form.collaborators}}<br/>
            <br>{{form.fund.label_tag}}</br>{{form.fund}}<br/>
            <br>{{form.preferred_city.label_tag}}</br>{{form.preferred_city}}<br/>
            <br>{{form.time_commitment.label_tag}}</br><input type='date' name='targetdate' min="2016-10-01" ><br/><br/>
            <br>{{form.give_back.label_tag}}</br>
                {% if form.give_back.value == 1 %}
                <input type="radio" name="give_back" value="1" checked>Paid compensation</br>
                {% else %}
                <input type="radio" name="give_back" value="1">Paid compensation</br>
                {% endif %}

                {% if form.give_back.value == 2 %}
                <input type="radio" name="give_back" value="2" checked>Exchange  of skills/services</br>
                {% else %}
                <input type="radio" name="give_back" value="2">Exchange  of skills/services</br>
                {% endif %}

                {% if form.give_back.value == 3 %}
                <input type="radio" name="give_back" value="3" checked>Negotiable</br>
                {% else %}
                <input type="radio" name="give_back" value="3">Negotiable</br>
                {% endif %}
            <br>{{form.comment_help.label_tag}}</br>{{form.comment_help}}<br/>

	    <div class="submit-wrapper">
	        <input type="submit" value="Update" class="step-submit"/>
                <input type="hidden" name="next" value="home.html">
	        <a href="{% url 'week1:home' %}">Back to Home</a>
            </div>
	</form>
        <!--
        <h3>Edit your form work</h3>
	<form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>Title</br> <input type='text' name='title' ><br/>
            <br>Photo</br> <input type='file' name='img' ><br/>
            <br>Describe your work</br><input type='text' name='describe'><br/>
            <br>Your role</br><input type='text' name='role'><br/>
            <br>Status of work (for eg: entering post-production phase)</br><input type='text' name='status'><br/>
            <br>Target finish date</br><input type='date' name='targetdate' min="2016-10-01"><br/>
            <br>Comment</br><input type='text' name='comment'><br/>
            <br>Looking to get help from the community?</br>
                <input type="radio" name="get_help" value="1">Yes please!</br>
                <input type="radio" name="get_help" value="2">Open to collaboration!</br>
                <input type="radio" name="get_help" value="3">I'm ok thanks!</br>
            <br>For those who answered “yes” or “open to collaboration” what kind of help/collaboration are you looking for?</br>
            <br>Collaborators</br><input type='text' name='collaborators'><br/>
            <br>Do you need to raise funds? If so how much and for what?</br><input type='text' name='fund'><br/>
            <br>Comments</br><input type='text' name='comment_help'><br/>
	    <div class="submit-wrapper">
	        <input type="submit" value="Update" class="step-submit"/>
                <input type="hidden" name="next" value="home.html">
	        <a href="{% url 'week1:home' %}">Back to Home</a>
            </div>
	</form>
        -->
     </div>

</div>

{% endblock %}
