{% extends 'week1/base_simple.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     </div>

     <div id="step-right">
        <h3>Update your URL</h3>
	<form action="" method="POST" class="step-form">{% csrf_token %}
            <br>Website url</br> <input type='text' name='weburl' ><br/>
	    <div class="submit-wrapper">
		<input type="submit" value="Update" class="step-submit"/>
                <input type="hidden" name="next" value="home.html">
		<a href="{% url 'week1:home' %}">Back to Home</a>
	    </div>
	</form>
     </div>

</div>

{% endblock %}
