{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="body-home">

<div id="home-friends">
<h4>Folder</h4>
<ul style="list-style-type:none">
{% if folderusers %}
   {% for u in folderusers %}
        {% if u.photo %}
	   <li><img src="{{ u.photo.url }}" width="50px"></li>
        {% else %}
	   <li><img src="{% static 'images/profileimage.png'%}" width="50px"></li>
        {% endif %}
   {% endfor %}
{% endif %}
</ul>
</div>

<div id="home-main">

    
    <div id="home-firstcolumn">
      
	<div class="home-step">
	    <a href="{% url 'week1:edit_personalinfo' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
            <ul style="list-style-type:none">
		<li>City:{{profile.city}}</li>
		<li>Works at:{{profile.worksAt}}</li>
		<li>Education:{{profile.education}}</li>
		<li>Language:{{profile.language}}</li>
		<li>skills:{{profile.skill1}}</li>
            </ul>
	</div>

	<div class="home-step">
	    <a href="{% url 'week1:edit_funfact' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
            <ul style="list-style-type:none">
		<li>Fun fact about you:{{profile.funaboutyou}}</li>
		<li>Hobby:{{profile.hobby}}</li>
		<li>Favorite quote:{{profile.fQuote}}</li>
		<li>Favorite film:{{profile.fFilm}}</li>
		<li>Favorite TV show:{{profile.fTV}}</li>
		<li>Favorite youTube channel:{{profile.fYoutube}}</li>
		<li>Favorite book:{{profile.fBook}}</li>
            </ul>
	</div>
    </div>

    <div id="home-secondcolumn">
	<div class="home-step">
	<a href="{% url 'week1:edit_photo' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
	{% if profile.photo %}
	    <img src="{{ profile.photo.url }}" class="maincontent">
	{% else %}
	    <img src="{% static 'images/profileimage.png'%}" class="maincontent">
	{% endif %}
        </div>
    </div>

    <div id="home-thirdcolumn">
       <ul style="list-style-type:none">
	 <li><a href="{% url 'week1:hatsoff_list'%}"><img src="{% static 'images/hat.png'%}" class="icons-img"></a></li>
	 <li><a href="{% url 'week1:messages' %}"><img src="{% static 'images/chat.png'%}" class="icons-img"></a></li>
	 <li><a href=""><img src="{% static 'images/pitch.png'%}" class="icons-img"></a></li>
       </ul>

       <div class="home-bottom">
	    <ul style="list-style-type:none">
	      <li><a href=""><img src="{% static 'images/contribute.png'%}" class="icons-img"></a></li>
	      <li><img src="{% static 'images/recommend.png'%}" class="icons-img"></li>
	      <li><img src="{% static 'images/help.png'%}" class="icons-img"></li>
	    </ul>
       </div>

    </div>

<div id="home-main-center">
	<div class="home-step">
            <h4>Previous Works</h4>
	    <a href="{% url 'week1:edit_previouswork' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
	    {% if showcase %}
	        {% if showcase.image %}
	            <img src="{{ showcase.image.url }}" class="maincontent">
	        {% else %}
	            <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
	        {% endif %}
	    {% else %}
	        <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
	    {% endif %}

            <ul style="list-style-type:none; align:left">
	    {% if showcase %}
	        <li>Description of work:{{showcase.describe}}</li>
	        <li>Your role:{{showcase.role}}</li>
	        <li>Year of completion:{{showcase.completion}}</li>
	    {% endif %}
            </ul>
	</div>

	<div id="whats-next">
            <h4>What’s Next</h4>
	    <img src="{% static 'images/edit.png'%}" align="right">
            <ul style="list-style-type:none">
	    {% if upcoming %}
	        {% if upcoming.image %}
	            <li><img src="{{ upcoming.image.url }}" class="maincontent"></li>
	        {% else %}
	            <li><img src="{% static 'images/empty_showcase.png'%}" class="maincontent"></li>
	        {% endif %}
	    {% else %}
	        <li><img src="{% static 'images/empty_showcase.png'%}" class="maincontent"></li>
	    {% endif %}

	    {% if upcoming %}
	        <li>Description of your upcoming work:{{upcoming.describe}}</li>
	        <li>Your role:{{upcoming.role}}</li>
	        <li>Status:{{upcoming.status}}</li>
	        <li>Target finish date:{{upcoming.targetdate}}</li>
	        <li>Comment:{{upcoming.comment}}</li>
	    {% endif %}
	    </ul>
	</div>

	<div id="thanks-hatsoff">
	    <h4>Thanks - Hats off</h4>
	    <div id="hatsoffusers">
		{% if hatsusers %}
		     {% for h in hatsusers %}
			{% if h.photo %}
			   <img src="{{ h.photo.url }}" width="50px">
			{% else %}
			   <img src="{% static 'images/profileimage.png'%}" width="50px">
			{% endif %}
		     {% endfor %}
		{% endif %}
	    </div>
	</div>

	<div id="home-comment">
	    <h4> Comments </h4>
	    <ul style="list-style-type:none">
		<div id="commentHistory"></div>
	    </ul>
	    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
	    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	    <script>
		  var socket = io.connect("{{nodejs_url}}");
		  socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
		  socket.emit('at home', {uid:{{user.id}}, uname:"{{user.first_name}}"});

		  socket.on('new comment', function(data){
			 $('#commentHistory').prepend($('<li><span class="error"><br><p>'+data.from_firstname+'&nbsp'+data.from_lastname+':'+data.msg+'</p></span><br/>'));
		  });

		  socket.on('update comment', function(docs){
		      for(var i = 0; i < docs.length; i++){
			 $('#commentHistory').append($('<li><span class="error"><br>'+docs[i]['from_user']['first_name']+'&nbsp'+docs[i]['from_user']['last_name']+':'+docs[i]['content']+'</span><br/>'));
		      }
		  });
	    </script>
	</div>

    </div>


</div>
{% endblock %}
