{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="body-home">

<div id="home-friends">
<h4>Folder</h4>
<ul style="list-style-type:none">
{% if folderusers %}
   {% for u in folderusers %}
        {% if u.photo %}
	   <li><img src="{{ u.photo.url }}" width="50px"></li>
        {% else %}
	   <li><img src="{% static 'images/profileimage.png'%}" width="50px"></li>
        {% endif %}
   {% endfor %}
{% endif %}
</ul>
</div>

<div id="home-main">

    
    <div id="home-firstcolumn">
      
	<div class="home-step">
	    <a href="{% url 'week1:edit_personalinfo' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
            <ul style="list-style-type:none">
		<li>City:{{profile.city}}</li>
		<li>Work at/as:{{profile.worksAt}}</li>
		<li>Education:{{profile.education}}</li>
		<li>Language:{{profile.language}}</li>
		<li>Skills:{{profile.skill1}}</li>
            </ul>
	</div>
	<div class="home-step-out">
	    <a href="{% url 'week1:edit_url' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
            URL:{{ profile.weburl }}
        </div>

	<div class="home-step">
	    <a href="{% url 'week1:edit_funfact' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
            <ul style="list-style-type:none">
		<li>Fun fact about you:{{profile.funaboutyou}}</li>
		<li>Hobby:{{profile.hobby}}</li>
		<li>Favorite quote:{{profile.fQuote}}</li>
		<li>Favorite film:{{profile.fFilm}}</li>
		<li>Favorite TV show:{{profile.fTV}}</li>
		<li>Favorite youTube channel:{{profile.fYoutube}}</li>
		<li>Favorite book:{{profile.fBook}}</li>
            </ul>
	</div>
    </div>

    <div id="home-secondcolumn">
	<div class="home-step">
		<a href="{% url 'week1:edit_photo' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
		{% if profile.photo %}
	 	    <img src="{{ profile.photo.url }}" class="mainprofile">
		{% else %}
		    <img src="{% static 'images/profileimage.png'%}" class="mainprofile">
		{% endif %}
        </div>
	<div class="home-step-out">
	    <a href="{% url 'week1:edit_profession' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
            <h3>{{user.first_name}}&nbsp{{user.last_name}}, {{profile.profession}}</h3>
           <p>{{profile.describe}}</p>
        </div>
    </div>

    <div id="home-thirdcolumn">
       <ul style="list-style-type:none">
	 <li><a href="{% url 'week1:hatsoff_list'%}"><img src="{% static 'images/hat.png'%}" class="icons-img"><span id="hatsoffNum"></span></a></li>
         <li><a href="{% url 'week1:thanks_list'%}">Thanks &nbsp<span id="thanksNum"></span></a></li>
         <li><a href="{% url 'week1:follow_list'%}">Follow &nbsp<span id="followNum"></span></a></li>
	 <li><a href="{% url 'week1:messages' %}"><img src="{% static 'images/chat.png'%}" class="icons-img"></a></li>
	 <li><a href=""><img src="{% static 'images/pitch.png'%}" class="icons-img"></a></li>
       </ul>

       <div class="home-bottom">
	    <ul style="list-style-type:none">
	      <li><a href=""><img src="{% static 'images/contribute.png'%}" class="icons-img"></a></li>
	      <li><img src="{% static 'images/recommend.png'%}" class="icons-img"></li>
	      <li><img src="{% static 'images/help.png'%}" class="icons-img"></li>
	    </ul>
       </div>

    </div>

<div id="home-main-center">

<div class="portfolio-container">
    <div class="row">
        <h3>Portfolio</h3>
        <div class="col-md-12" data-wow-delay="0.6s">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel" data-interval="false">
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner text-center">

                    <!-- Quote 1 -->
		    {% if showcases %}
			{% for showcase in showcases %}
			    {% if forloop.counter == 1 %}
			    <div class="item active">
				<blockquote>
				    <div class="row">
					<div class="col-sm-8 col-sm-offset-2">
	                     <a href="{% url 'week1:edit_previouswork' forloop.counter %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
					    {% if showcase.image or showcase.video or showcase.youtube %}

						{% if showcase.image %}
						    <img src="{{ showcase.image.url }}" class="maincontent">
						{% endif %}

						{% if showcase.video %}
						    <video controls id="video">
						        <source src="{{ showcase.video.url }}" class="maincontent" type="video/mp4"></source>
						    </video>
						{% endif %}

						{% if showcase.youtube %}
						   <object style="height: 320px; width: 500px"><param name="movie" value="{{showcase.youtube}}"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="{{showcase.youtube}}" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="400" height="300"></object>
						{% endif %}
                        {% else %}
						<img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
                        {% endif %}

					    <ul style="list-style-type:none; padding-left:0px;">
						<li>Title:{{showcase.title}}</li>
						<li>Description of work:{{showcase.describe}}</li>
						<li>Your role:{{showcase.role}}</li>
						<li>Year of completion:{{showcase.completion}}</li>
					    </ul>
                                            <hr class="divider"/>

                                            <ul class="nav nav-tabs">
						<li class="active"><a href="#leaveComment" data-toggle="tab">Leave Comment</a></li>
						<li><a href="#showComment" data-toggle="tab">Show Comment</a></li>
                                            </ul>
                                            <div class="tab-content" style="width:350px; padding:0px; border:0px;">
                                              <div class="tab-pane active" id="leaveComment">
						<div class="well well-ss">
						  <form class="form-horizontal" action="" id="portfolio_form">
						      <fieldset>
						        <!-- Post body -->
						        <div class="form-group">
						          <div class="col-md-9">
						    	<textarea class="form-control" id="c_portfolio_{{forloop.counter}}" autocomplete="off" name="message" placeholder="Please enter your comment here..." rows="3" style="width:370px;"></textarea>
						          </div>
						        </div>
    
						        <!-- Form actions -->
						        <div class="form-group">
						          <div class="col-md-12 text-right">
						    	      <button class="btn btn-primary btn-lg" onclick="submitPForm({{forloop.counter}})">Post</button>
						          </div>
						        </div>
						      </fieldset>
						  </form>
						</div>
					      </div>

                                              <div class="tab-pane" id="showComment">
					        <ul style="list-style-type:none; padding-left:0px;">
			                            <div id="portfolioComment_{{forloop.counter}}"></div>
                                                </ul>
                                              </div>
                                           </div>


					</div>
				    </div>
				</blockquote>
			    </div>
                            {% else %}
			    <div class="item">
			    <blockquote>
			    <div class="row">
					<div class="col-sm-8 col-sm-offset-2">
	                                   <a href="{% url 'week1:edit_previouswork' forloop.counter %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
 					    {% if showcase.image or showcase.video or showcase.youtube %}
						{% if showcase.image %}
						    <img src="{{ showcase.image.url }}" class="maincontent">
						{% endif %}

						{% if showcase.video %}
						    <video controls id="video">
						       <source src="{{ showcase.video.url }}" class="maincontent" type="video/mp4"/>
						    </video>
						{% endif %}

						{% if showcase.youtube %}
						   <object style="height: 320px; width: 500px"><param name="movie" value="{{showcase.youtube}}"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="{{showcase.youtube}}" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="400" height="300"></object>
						{% endif %}
					    {% else %}
						<img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
					    {% endif %}
					    <ul style="list-style-type:none; padding-left:0px;">
						<li>Title:{{showcase.title}}</li>
						<li>Description of work:{{showcase.describe}}</li>
						<li>Your role:{{showcase.role}}</li>
						<li>Year of completion:{{showcase.completion}}</li>
					    </ul>
                                            <hr class="divider"/>
                                            
                                            <ul class="nav nav-tabs">
						<li class="active"><a href="#leaveComment_{{forloop.counter}}" data-toggle="tab">Leave Comment</a></li>
						<li><a href="#showComment_{{forloop.counter}}" data-toggle="tab">Show Comment</a></li>
                                            </ul>

                                            <div class="tab-content" style="width:350px; padding:0px; border:0px;">
                                              <div class="tab-pane active" id="leaveComment_{{forloop.counter}}">
						<div class="well well-ss">
						  <form class="form-horizontal" action="" id="portfolio_form">
						      <fieldset>
						        <!-- Post body -->
						        <div class="form-group">
						          <div class="col-md-9">
						    	<textarea class="form-control" id="c_portfolio_{{forloop.counter}}" autocomplete="off" name="message" placeholder="Please enter your comment here..." rows="3" style="width:370px;"></textarea>
						          </div>
						        </div>
    
						        <!-- Form actions -->
						        <div class="form-group">
						          <div class="col-md-12 text-right">
						    	     <button class="btn btn-primary btn-lg" onclick="submitPForm({{forloop.counter}})">Post</button>
						          </div>
						        </div>
						      </fieldset>
						  </form>
						</div>
					      </div>

                                              <div class="tab-pane" id="showComment_{{forloop.counter}}">
					        <ul style="list-style-type:none; padding-left:0px;">
			                            <div id="portfolioComment_{{forloop.counter}}"></div>
                                                </ul>
                                              </div>
                                           </div>


					</div>
				    </div>
				</blockquote>
			    </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
	            <a href="{% url 'week1:edit_newpreviouswork' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
	            <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
                    {% endif %}
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
   </div>
</div>



	<div class="home-step">
            <script>
		function show_upcoming(){
                    console.log('show more!');
		    $('#upcomingComment').show();
		    $('#upcoming_hide').show();
		    $('#upcoming_show').hide();
		};

		function hide_upcoming(){
                    console.log('hide more!');
		    $('#upcomingComment').hide();
		    $('#upcoming_hide').hide();
		    $('#upcoming_show').show();
		};
            </script>

            <h3>What’s Next</h3>
	    <a href="{% url 'week1:edit_upcoming' %}"><img src="{% static 'images/edit.png'%}" align="right"></a>
	    {% if upcoming %}
	        {% if upcoming.image %}
	            <img src="{{ upcoming.image.url }}" class="maincontent">
	        {% else %}
	            <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
	        {% endif %}
	    {% else %}
	        <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
	    {% endif %}

	    {% if upcoming %}
            <div class="description-wrapper">
              <ul>
	        <li>Description of your upcoming work:{{upcoming.describe}}</li>
	        <li>Your role:{{upcoming.role}}</li>
	        <li>Status:{{upcoming.status}}</li>
	        <li>Target finish date:{{upcoming.targetdate}}</li>
	        <li>Comment:{{upcoming.comment}}</li>
	      </ul>
              <ul>
	        <li><span style="font-weight: bold;">Looking for</span>
                    <br>&nbsp{{upcoming.collaborators}}</br></li>
	        <li>Funding:{{upcoming.fund}}</li>
	        <li>Comment:{{upcoming.comment_help}}</li>
	      </ul>
	    </div>
            <hr class="divider"/>
             
            <ul class="nav nav-tabs">
	        <li class="active"><a href="#leaveComment_upcoming" data-toggle="tab">Leave Comment</a></li>
	        <li><a href="#showComment_upcoming" data-toggle="tab">Show Comment</a></li>
            </ul>

            <div class="tab-content" style="width:350px; padding:0px; border:0px;">
              <div class="tab-pane active" id="leaveComment_upcoming">
	        <div class="well well-ssm">
	          <form class="form-horizontal" action="" id="upcoming_form">
	              <fieldset>
	                <!-- Post body -->
	                <div class="form-group">
	                  <div class="col-md-9">
	                    <textarea class="form-control" id="c_upcoming" autocomplete="off" name="message" placeholder="Please enter your comment here..." rows="3" style="width:470px;"></textarea>
	                  </div>
	                </div>
    
	                <!-- Form actions -->
	                <div class="form-group">
	                  <div class="col-md-12 text-right">
	             	    <button class="btn btn-primary btn-lg" onclick="submitUForm()">Post</button>
	                  </div>
	                </div>
	              </fieldset>
	          </form>
	        </div>
	      </div>

              <div class="tab-pane" id="showComment_upcoming">
	        <ul style="list-style-type:none; padding-left:30px;">
	          <div id="upcomingComment"></div>
                </ul>
              </div>
           </div>

	    {% endif %}
	</div>

	<script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	      var socket = io.connect("{{nodejs_url}}");
	      socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
	      socket.emit('at home', {uid:{{user.id}}, uname:"{{user.first_name}}"});

	      socket.on('number thanks', function(count){
                  document.getElementById("thanksNum").innerHTML = count;
              });

	      socket.on('number hatsoff', function(count){
                  document.getElementById("hatsoffNum").innerHTML = count;
              });

	      socket.on('number follow', function(count){
                  document.getElementById("followNum").innerHTML = count;
              });

              var p_id = 1
    	      function changeContent(number, length){
                    console.log('Click!'+number);
                    if( p_id != number ){
	                //socket.emit('change portfolio', {uid:{{user.id}}, p_id:number});
	                socket.emit('at home', {uid:{{user.id}}, uname:"{{user.first_name}}"});
                    }

                    for (var i = 0; i < length; i++){
		        $('#'+i).show().siblings('div').hide();
		    }
		    $('#'+number).show().siblings('div').hide();
                    p_id = number;

                    var h = document.getElementById('portfolio_hide');
                    var s = document.getElementById('portfolio_show');
		    if (h.style.display == 'block'){
		        h.style.display = 'none';
		    }
		    s.style.display = 'block';
                    hide_portfolio(number);

	      };

	      function show_portfolio(number, length){
                    console.log('show more!');
                    for (var i = 0; i < length; i++){
		        $('#portfolioComment_'+i).hide();
		    }
		    $('#portfolioComment_'+number).show();
                    var h = document.getElementById('portfolio_hide');
                    var s = document.getElementById('portfolio_show');
		    if (s.style.display == 'block'){
		        s.style.display = 'none';
		    }
		    h.style.display = 'block';
	      };

	      function hide_portfolio(number){
                    console.log('hide more!');
		    $('#portfolioComment_'+number).hide();
                    var h = document.getElementById('portfolio_hide');
                    var s = document.getElementById('portfolio_show');
		    if (h.style.display == 'block'){
		        h.style.display = 'none';
		    }
		    s.style.display = 'block';
	      };

              // For portfolio
              function submitPForm(number){
                    console.log('form submit portfolio'+number);
                    var post_val = $('#c_portfolio_'+number).val();
                    
                    if (post_val.length != 0){
                        console.log('if:'+number+':'+post_val);
		        socket.emit('portfolio comment', {msg:post_val, to:{{user.id}}, p_id:number});
                    }
		    $('#c_portfolio_'+number).val('');
		    return false;
              }
              /**
	      $('#portfolio_form').submit(function(e){
                    e.preventDefault();
                    console.log('form submit portfolio');
                    
                    if ($('#c_portfolio').val().length != 0){
                        console.log('if:'+p_id+$('#c_portfolio').val());
		        socket.emit('portfolio comment', {msg:$('#c_portfolio').val(), to:{{user.id}}, p_id:p_id});
                    }
		    $('#c_portfolio').val('');
		    return false;
              });
              **/

	      socket.on('new portfolio comment', function(data){
                    console.log('new portfolio comment on home');
		    var uid = data.from_uid;
                    var p_id = data.p_id;
                    console.log(p_id);
		    var users = [{% for u in users %} {{ u }} ,{% endfor %}];
		    var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
		    var n  = users.indexOf(uid);
		    var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
		    var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);

		    if ( n != -1) {
		          if (uid == {{user.id}}){
		             $('#portfolioComment_'+p_id).prepend($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'</br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          } else{
		             $('#portfolioComment_'+p_id).prepend($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          }

		    }else{
		          if (uid == {{user.id}}){
		             $('#portfolioComment_'+p_id).prepend($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'</br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          } else {
		             $('#portfolioComment_'+p_id).prepend($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          }
		    }
	      });

	      socket.on('update portfolio comment', function(docs){
                  console.log('socket on portfolio comment');
		  var users = [{% for u in users %} {{ u }} ,{% endfor %}];
		  var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
	          for(var i = 0; i < docs.length; i++){
                      if (docs[i]['p_id']) {
                          var p_id = docs[i]['p_id'];
                          console.log('If!');
                          if (docs[i]['user']['uid']){
				var uid = docs[i]['user']['uid'];
				var n  = users.indexOf(uid);
				var data = docs[i];
				var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
				var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
				if ( n != -1) {
				      if (uid == {{user.id}}){
				         $('#portfolioComment_'+p_id).append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'</br><p>'+data['content']+'</p><br/><hr class="divider"/>'));
				      } else{
				         $('#portfolioComment_'+p_id).append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+data['content']+'</p><br/><hr class="divider"/>'));
				      }

				}else{
				      if (uid == {{user.id}}){
				         $('#portfolioComment_'+p_id).append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'</br><p>'+data['content']+'</p><br/><hr class="divider"/>'));
				      } else {
				         $('#portfolioComment_'+p_id).append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+data['content']+'</p><br/><hr class="divider"/>'));
				      }
				}
			}

                      } else{
                          console.log('Else!');
                      }
	          }
	      });

	      //$('#upcoming_form').submit(function(){
              function submitUForm(){
                    console.log('form submit');

                    var com = $('#c_upcoming').val();
                    if (com.length != 0){
		        socket.emit('upcoming comment', {msg:com, to:{{user.id}}});
		    } 
		    $('#c_upcoming').val('');
		    return false;
	      }

	      socket.on('new upcoming comment', function(data){
                    console.log('new upcoming comment on home');
		    var uid = data.from_uid;
                    console.log(uid);
		    var users = [{% for u in users %} {{ u }} ,{% endfor %}];
		    var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
		    var n  = users.indexOf(uid);
		    var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
		    if ( n != -1) {
		          if (uid == {{user.id}}){
		             //$('#communityPost').prepend($('<hr>'));
		             $('#upcomingComment').prepend($('<li><br><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.from_firstname+'&nbsp'+data.from_lastname+'</br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          } else{
		             $('#upcomingComment').prepend($('<li><br><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          }

		    }else{
		        //$('#communityPost').prepend($('<hr>'));
		          if (uid == {{user.id}}){
		             $('#upcomingComment').prepend($('<li><br><img src="{% static 'images/profileimage.png' %}" class="profile_img">'+data.from_firstname+'&nbsp'+data.from_lastname+'</br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          } else {
		             $('#upcomingComment').prepend($('<li><br><img src="{% static 'images/profileimage.png' %}" class="profile_img">'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+data.msg+'</p><br/><hr class="divider"/>'));
		          }
		    }
	      });

	      socket.on('update upcoming comment', function(docs){
		    var users = [{% for u in users %} {{ u }} ,{% endfor %}];
		    var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
		    for(var i=0; i < docs.length; i++){
		       if (docs[i]['user']['uid']){
			    var uid = docs[i]['user']['uid'];
			    var n  = users.indexOf(uid);
			    var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
			    var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
			    if ( n != -1) {
			       if (uid == {{user.id}}){
			     $('#upcomingComment').append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</br><p>'+docs[i]['content']+'</p><br/><hr class="divider"/>'));
			       } else{
			     $('#upcomingComment').append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+docs[i]['content']+'</p><br/><hr class="divider"/>'));
			       }
			    } else{
			       if (uid == {{user.id}}){
			     $('#upcomingComment').append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</br><p">'+docs[i]['content']+'</p><br/><hr class="divider"/>'));
			       } else{
			     $('#upcomingComment').append($('<li><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p>'+docs[i]['content']+'</p><br/><hr class="divider"/>'));
			       }
			    }
		        }
                    }
	      });

          function submitCForm(){
                console.log('post comment');
                if ($('#comment').val().length != 0){
                    socket.emit('post comment', {msg:$('#comment').val(), to:{{user.id}}, from:{{user.id}}});
                }
                $('#comment').val('');            
                return false;
          }

	  socket.on('update comment', function(docs){
            console.log('update comment on home');
	    var users = [{% for u in users %} {{ u }} ,{% endfor %}];
            var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
	    for(var i = 0; i < docs.length; i++){
		if (docs[i]['from_user']['uid']){
			var uid = docs[i]['from_user']['uid'];
			var n  = users.indexOf(uid);
			var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
			if ( n != -1) {
			    $('#commentHistory').append($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+docs[i]['from_user']['first_name']+'&nbsp'+docs[i]['from_user']['last_name']+':'+docs[i]['content']+'</span><br/>'));
			}else{
			    $('#commentHistory').append($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img"></a>'+docs[i]['from_user']['first_name']+'&nbsp'+docs[i]['from_user']['last_name']+':'+docs[i]['content']+'</span><br/>'));

			}
	        }
	      }
	  });

	  socket.on('new comment', function(data){
                console.log('new comment on userpage');
	        var uid = data.from_uid;
                console.log(p_id);
	        var users = [{% for u in users %} {{ u }} ,{% endfor %}];
	        var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
	        var n  = users.indexOf(uid);
		var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
	        if ( n != -1) {
	            $('#commentHistory').prepend($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+':'+data.msg+'</span><br/>'));
	        }else{
	            $('#commentHistory').prepend($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+':'+data.msg+'</span><br/>'));
	        }
	  });

	  socket.on('update timeline history', function(data){
                console.log('update timeline history');
                var share = data.share;
                var community = data.community;
                var len_share = share.length;
                var len_community = community.length;
	        var users = [{% for u in users %} {{ u }} ,{% endfor %}];
	        var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
                var i_share = 0;
                var i_community = 0;

                console.log('update share length:'+len_share);

                while (i_share < len_share || i_community < len_community){
                    if (i_share < len_share && i_community < len_community){
                       var t_share = share[i_share]["created"];
                       var t_community = community[i_community]["created"];
                       if (t_share > t_community){
			  var uid = share[i_share]['to_uid'];
                          var content = share[i_share]['content'];
			  var n  = users.indexOf(uid);
                          console.log("content:"+share[i_share]);
                          console.log("content:"+content);
			  var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
			  $('.timeline').append($('<li><div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title">You shared</h4><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p><div class="timeline-body"><br>'+content['user']['first_name']+content['user']['last_name']+'</br><hr class="divider"/>'+content['content']+'</div></div></div></li>'));

                          i_share += 1;
                       }else{
			  $('.timeline').append($('<li><div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title">You posted to community</h4><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p><div class="timeline-body">'+community[i_community]['content']+'</div></div></div></li>'));

                          i_community += 1;
                       }

                    }else if(i_share < len_share){
                       var t_share = share[i_share]["created"];
                       var content = share[i_share]['content'];
		       var n  = users.indexOf(uid);
		       var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
		       $('.timeline').append($('<li><div class="timeline-badge info"><i class="glyphicon glyphicon-credit-card"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title">You shared</h4><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p><div class="timeline-body"><br>'+content['user']['first_name']+content['user']['last_name']+'</br><hr class="divider"/>'+content['content']+'</div></div></div></li>'));

                       i_share += 1;

                    }else if(i_community < len_community){
		       $('.timeline').append($('<li><div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div><div class="timeline-panel"><div class="timeline-heading"><h4 class="timeline-title">You posted to community</h4><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p><div class="timeline-body">'+community[i_community]['content']+'</div></div></div></li>'));

                       i_community += 1;

                    }

                }
	  });

	  $('.timeline-panel').click(function() {
	    $('.timeline-body', this).toggle(); // p00f
	  });


          $(document).ready(function() {

            console.log("ready!");
            var time = 15;
            var scale = 1;

            var video_obj = null;

            document.getElementById('video').addEventListener('loadedmetadata', function() {
                 this.currentTime = time;
                 video_obj = this;
            }, false);

            document.getElementById('video').addEventListener('loadeddata', function() {
                 var video = document.getElementById('video');

                 var canvas = document.createElement("canvas");
                 canvas.width = video.videoWidth * scale;
                 canvas.height = video.videoHeight * scale;
                 canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

                 var img = document.createElement("img");
                img.src = canvas.toDataURL();
                $('#thumbnail').append(img);

                video_obj.currentTime = 0;

            }, false);

        });



	</script>
	<div id="message-board">
        </div>


	<div id="thanks-hatsoff">
	    <h4>Thanks - Hats off</h4>
	    <div id="hatsoffusers">
		{% if hatsusers %}
		     {% for h in hatsusers %}
			{% if h.photo %}
			   <img src="{{ h.photo.url }}" width="50px">
			{% else %}
			   <img src="{% static 'images/profileimage.png'%}" width="50px">
			{% endif %}
		     {% endfor %}
		{% endif %}
	    </div>
	</div>

	<div id="home-comment">
            <div id="commentpost-wrapper">
	    <h4> Comments </h4>
	    <form action="" id="postComment">
	        <textarea id="comment" autocomplete="off" placeholder=" Comment " rows="3" cols="60"></textarea>
                <button onclick="submitCForm()">Post</button>
	    </form>
            </div>

            <div id="comments-wrapper">
	    <ul style="list-style-type:none; padding-left: 0;">
	       <div id="commentHistory"></div>
	    </ul>
            </div>
	</div>

    </div>

<div class="timeline-container">
    <ul class="timeline">
        <!--div id="timeline-history">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i></small></p>
	      <div class="timeline-body">
                Hi This is Emi! Is this working?
	      </div>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        </div-->
    </ul>
</div>


</div>
{% endblock %}
