{% extends 'week1/basehome.html'%}

{% block content %}
<div id="home-edit">

<div id="edit-form">
    <form action="" class="signuptable" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form }}
        Full Name: <input type='text' name='fullname' value='{{ profile.fullname }}'><br/>
        Photo: <input type='file' name='photo' value='{{ profile.photo }}'><br/>
        Profile: <input type='text' name='profile' value='{{ profile.profile }}'><br/>
        Works at: <input type='text' name='worksAt' value='{{ profile.worksAt }}'><br/>
        City: <input type='text' name='city' value='{{ profile.city }}'><br/>
        Education: <input type='text' name='education' value='{{ profile.education }}'><br/>
        Skills: <input type='text' name='skills' value='{{ profile.skills }}'><br/>
        <input type="submit" value="Update Profile" align="center" />
        <input type="hidden" name="next" value="home.html">
</form>

</div>

</div>
{% endblock %}
