{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Match Hat">
  <meta name="author" content="Find your collaborator, complete your project.">

  <title>Match Hat - Find your collaborator, complete your project.</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" type="text/css"
  />

  <!-- Custom fonts for this template -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <!--<link rel='stylesheet' type='text/css' href="{% static 'week1/style.css' %}">-->
  <link rel='stylesheet' type='text/css' href="/static/week1/style.css">

</head>

<body id="page-top">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/MatchHat Logo-01.png'%}" width=286 height=48 alt="Match Hat">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- For Feedback-->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link signUp-link" href="{% url 'week1:feedback' %}">Give us Feedback?</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link signUp-link" href="#signUpModal1" data-toggle="modal">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logIn-link" href="#logInModal1" data-toggle="modal">Log in</a>
          </li>

          <!--li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#howItWorks">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#traceMap">Leave a Trace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#joinAPoolOfTalent">Join Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#itsFree">Its free</a>
            </li-->
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 order-2">

          <img class="img-fluid" src="https://ul5g2q-ch3301.files.1drv.com/y4mCbWni8-d5rcPHZ9nlVjCLHb_81sigt8T9_pZfST__sIjpMgyOGpB09R9i6AnU3ja-bbpPmDhGXIUS6t-0MOeUbzN0XJIdnOpTz-9iAPXrIPvVbEJ631VNc_idG_IP7x7q8uZSyu6cfDSUIvQ5eBD0ZyLnVpSgo153PipoPfVOMrD6gGHhcD2ezuNmLvSrOD6uelhh4y_RnGyZovMbhgfXA?width=840&height=700&cropmode=none"
            alt="">

        </div>
        <div class="col-md-5 order-1">

          <h1>Find your collaborator, complete your project.</h1>
          <p>Articles, films, websites. Anything.
            <br />Connect, Collaborate, Create.</p>

          <a href="#signUpModal1" class="btn btn-lg btn-outline" data-toggle="modal">
            Let's start
          </a>
          <p class="haveAccLogin">Already have an account?
            <a href="#logInModal1" data-toggle="modal">Login</a>
          </p>
        </div>
      </div>
    </div>

  </header>

  <!-- howItWorks Grid Section -->
  <section id="howItWorks">
    <div class="container">
      <h2 class="text-center">How it works?</h2>
      <hr class="star-primary">
      <div class="row">

        <div class="col-sm-4 howItWorks-item">
          <a class="howItWorks-link" href="#howItWorksModal1" data-toggle="modal">
            <h3>showcase portfolio</h3>
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-plus-square fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://u14unw-ch3301.files.1drv.com/y4mne8TW3Sp3itSwZz7Q-gHwNSHTdzTpB_vDIvIgJ5sQS5zdhwbXxuOBFS_5doxbM5hgm-mCEa_NtBX5VH0R1CCU8Err5JKIxXbJ8tRfDmDlHop5-yXsm7QltRHekxA_flcoIy4bIGbDVoWZlLhLhZRrdoZ0DmMW6NMvEnwF0iTWyCYeWW6KEB0RM6p_15I_ab4dyx1u1QruX-QUutfBwFIWA?width=358&height=118&cropmode=none"
              alt="">
            <p>Showcase your portfolio and
              <br> your upcoming project.</p>
          </a>
        </div>

        <div class="col-sm-4 howItWorks-item">
          <a class="howItWorks-link" href="#howItWorksModal2" data-toggle="modal">
            <h3>find collaborators</h3>
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-plus-square fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://u14vnw-ch3301.files.1drv.com/y4mrz6iyzHCaC3JY_jNVxy_smSqng0PWVrN0CXmR_RK7Kp9me2vbZ411DK7L4vRv6-pwqFhph9uLXjJREj11jATksZMoavYtEmMPeDiRAZKV0Kdmeb792yLVSFWWFmUg_JNPyl5O3ahiQwyykj5rxSmFnYSvEVAcVzcZUgTvtAjNaoTUS7MuL0rI0JYX32QKB9GR3NED6ERYBnLN1pFmuubeg?width=358&height=118&cropmode=none"
              alt="">
            <p>Find a collaborator to
              <br> complete your project.</p>
          </a>
        </div>

        <div class="col-sm-4 howItWorks-item">
          <a class="howItWorks-link" href="#howItWorksModal3" data-toggle="modal">
            <h3>complete projects</h3>

            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-plus-square fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="https://u14xnw-ch3301.files.1drv.com/y4maIggvmhSEqUrQHao-OH1nL2aMGGJO40AEhzrDnS6Js0V70Cepl8F3RY9H_BRkYePzekrRFBAyZx7yKO8xfq0BR5_H7k4LbEmlw18SnContKCEMSzJNir5vP5Fk_VWiwTXbbuQ358RxjrrXkFvhXsgxyHIYc0HgJ0f92xwa9lcI6AUo2LqmEBTBLweTCSXEi5kZk31e8hLTBv-uFwrYcbWg?width=358&height=118&cropmode=none"
              alt="">
            <p>Give back to your collaborator
              <br> by paying or exchanging skills.</p>
          </a>
        </div>

      </div>
    </div>
  </section>


  <!-- Trace Map Section -->
  <section class="traceMap" id="traceMap">
    <div class="container">

      <div class="row align-items-center">
        <div class="col-md-7 order-1">

          <style>
            .google-maps {
              position: relative;
              padding-bottom: 75%;
              height: 0;
              overflow: hidden;
            }

            .google-maps iframe {
              position: absolute;
              top: 0;
              left: 0;
              width: 100% !important;
              height: 100% !important;
              overflow: hidden !important;
            }
          </style>

          <div class="google-maps">

            <!--iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d51861.078345036265!2d139.70134940000003!3d35.669186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1504925821531" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe-->
            <iframe src="https://www.google.com/maps/d/u/0/embed?msa=0&ie=UTF&mid=1Ao3f8nOpJQ82HNEgdgb3XRMvwLw&ll=47.59134629615307%2C14.589843000000087&z=2"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
        </div>
        <div class="col-md-5 order-2">

          <h1>Leave a trace in the world
            <br> with what you create</h1>
          <p>Our mission is to create a collaborative community that empowers creators, entrepreneurs and dreamers to do what
            they love, and succeed.</p>

        </div>
      </div>

    </div>
  </section>

  <!-- Join a Pool of talent Section -->
  <section class="joinAPoolOfTalent" id="joinAPoolOfTalent">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 order-1">

          <img class="img-fluid" src="https://u14knw-ch3301.files.1drv.com/y4mSuIPKM7sBV63-UC4H7TD4mpxSq5mcu1MH4bukb4kPyKMquT-8ocDF-I86RFjs_IdVSqT4iFBptYhp8J3Ya0Gb8RnsG_rwhQPkRzUJlS6tAX9HKl3qvHG_aZM9cT_uM9OYHgxUl31-YntOGTXFiesX_UWW7IjchGP4nLHmtgwK2Ool-U9MgojxkjYMFlqrQ9wqJ096Z7Y2SZz4K5KK8mFig?width=558&height=460&cropmode=none"
            alt="">

        </div>
        <div class="col-md-5 order-2">

          <h1>Join a Pool of Talent</h1>
          <p>Artist, Designers, Illustrators, Animators, Filmakers, Editors. Imagine an artist collaborating with a projection
            mapping artist on a theater project or a writer collaborating with a scientist on an article on genes. The possibilities
            are limitless.</p>

        </div>
      </div>
    </div>
  </section>


  <!-- Its Free Section -->
  <section class="itsFree" id="itsFree">
    <div class="container">
      <h2 class="text-center">
        <img src="https://u14lnw-ch3301.files.1drv.com/y4mQWkIi7F0bTlvoMWk9NHwypYJCB0Q48ebBdmMMaS9VImLgwqBmprJNa3BMf8Vh-YmDGlen_9vtY112i9qn8efZ5IHF5RhIQOB_3Gz4_qID6_ch0P2AGN4J7F7hcWPdq9hvGtdsYZKgM-GbLB9Kd-g2vaa8frk5L_Dwg_ClOVvar3GypTzdrXdXDH2TdA8swLt7_dYdu6uayHgdJrGmBPRGA?width=306&height=43&cropmode=none"
          alt="Match Hat" title="MAtch Hat" />is Free</h2>
      <hr class="star-light">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p>100% of funds and earned income goes directly to the creatives.</p>
          <p>Create your profile to connect with collaborators!</p>
        </div>

        <div class="col-lg-8 mx-auto text-center">
          <a href="#signUpModal1" class="btn btn-lg btn-outline" data-toggle="modal">
            <i class="fa fa-user-plus"></i>
            Sign up for free
          </a>
        </div>

        <!-- Modal for sign up -->
        <!--div class="modal fadei bd-mymodal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="signupLabel">
                  Login/SignUp to MatchHat</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-11">
                    <ul class="nav nav-tabs">
                      {% if p_type %}
                        {% if p_type == 0 %}
                          <li class="active"><a href="#LoginTop" data-toggle="tab">Login</a></li>
                          <li><a href="#Signup" data-toggle="tab">SignUp</a></li>
                        {% else %}
                           <li><a href="#LoginTop" data-toggle="tab">Login</a></li>
                           <li class="active"><a href="#Signup" data-toggle="tab">SignUp</a></li>
                        {% endif %}
                      {% else %}
                        <li class="active"><a href="#LoginTop" data-toggle="tab">Login</a></li>
                        <li><a href="#Signup" data-toggle="tab">SignUp</a></li>
                      {% endif %}
                    </ul>
                  <div class="tab-content" style="text-align:center;">
                    {% if p_type %}
                      {% if p_type == 0 %}
                        <div class="tab-pane active" id="LoginTop">
                      {% else %}
                        <div class="tab-pane" id="LoginTop">
                      {% endif %}
                    {% else %}
                       <div class="tab-pane active" id="LoginTop">
                    {% endif %}
                    <form role="form" class="login-form" name="login" method="POST">
                      {% csrf_token %}
                      {% if loginform.non_field_errors  %}
                        <ul style="list-style-type:none">
                          {% for error in loginform.non_field_errors %}
                            <li>{{error}}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}

                      <div class="form-group">
                        <br>
                        {{ loginform.username }}
                        <br>
                        <br>
                        {{ loginform.password }}
                      </div>

                      <div class="row">
                        <a href="{% url 'week1:reset' %}">Forgot password?</a>
                        <br>
                        <div class="login-wrapper">
                          <input type="submit" value="Log me in" name="login" class="login-submit"/>
                        </div>
                        <input type="hidden" name="next" value="/home/" />
                      </div>
                    </form>
                  </div>
                    {% if p_type %}
                      {% if p_type == 0 %}
                        <div class="tab-pane" id="Signup">
                      {% else %}
                        <div class="tab-pane active" id="Signup">
                      {% endif %}
                    {% else %}
                      <div class="tab-pane" id="Signup">
                    {% endif %}

                    <form role="form" class="login-form" name="signup" method="POST">
                      {% csrf_token %}
                      {% if signupform.non_field_errors  %}
                      <ul style="list-style-type:none">
                        {% for error in signupform.non_field_errors %}
                          <li>{{error}}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}

                      <div class="form-group">
                        <br>
                        {{ signupform.username }}
                        <br>
                        <br>
                        {{ signupform.first_name }}
                        <br>
                        <br>
                        {{ signupform.last_name }}
                        <br>
                        <br>
                        <div class="popup" onclick="popFunction()">
                          {{ signupform.password1 }}
                          <span class="popuptext" id="passwordPop">Create password with minimum of 8 letters and 2 numbers</span>
                        </div>
                          <br>
                          <br>
                          {{ signupform.password2 }}
                          <br>
                          <br>
                      </div>
                      <div class="row">
                        <div class="login-wrapper">
                          <input type="submit" value="Sign up" name="signup" class='login-submit'/>
                        </div>
                      </div>
                    </form>
                    <h3> Sign up with <a href="{% url 'social:begin' 'facebook' %}">FACEBOOK</a> </h3>
                  </div>
                </div>
              </div>

              </div>
            </div>
          </div-->
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="text-center">
    <div class="footer-above">
      <div class="container">
        <div class="row">
          <div class="footer-col col-md-3">
            <h3>Location</h3>
            <ul class="list-unstyled">
              <li>
                <a href="@">About</a>
              </li>
              <li>
                <a href="@">Terms</a>
              </li>
              <li>
                <a href="@">Privacy</a>
              </li>
              <li>
                <a href="@">Careers</a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-3">
            <h3>Follow Us</h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="#">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="#">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="#">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-social btn-outline" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer-col col-md-3">
            <h3>Feedback</h3>
            <a href="@">Feedback</a>
          </div>
          <div class="footer-col col-md-3">
            <h3>Contact</h3>
            <a href="@">Feedback</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-below">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            Copyright &copy; Match Hat 2017
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-top d-lg-none">
    <a class="btn btn-primary js-scroll-trigger" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>


  <!-- Sign up Modal Window -->

  <div class="signUp-modal modal fade" id="signUpModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-7 mx-auto">
              <div class="modal-body">

                <h2>Sign up</h2>
                <hr class="star-primary">

                <form role="form" class="login-form" name="signup" method="POST">
                  {% csrf_token %} {% if signupform.non_field_errors %}
                  <ul style="list-style-type:none">
                    {% for error in signupform.non_field_errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <div class="row">
                    <div class="form-group w-100">
                      <br> {{ signupform.username }}
                      <br>
                      <br> {{ signupform.first_name }}
                      <br>
                      <br> {{ signupform.last_name }}
                      <br>
                      <br>
                      <div class="popup" onclick="popFunction()">
                        {{ signupform.password1 }}
                        <span class="popuptext" id="passwordPop">Create password with minimum of 8 letters and 2 numbers</span>
                      </div>
                      <br>
                      <br> {{ signupform.password2 }}
                      <br>
                      <br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="login-wrapper">
                      <input type="submit" value="Sign up" name="signup" class='login-submit btn btn-outline' />
                    </div>
                  </div>
                </form>
                <br>
                <!-- h5> Sign up with <a href="{% url 'social:begin' 'facebook' %}">FACEBOOK</a> </h5 -->

                <a href="#" onclick="switchModal(false)">Already have an account? </a>

                <!--button class="btn btn-itsFree" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Log in  Modal Window -->

  <div class="signUp-modal modal fade" id="logInModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Log In</h2>
                <hr class="star-primary">
                <form role="form" class="login-form" name="login" method="POST">
                  {% csrf_token %} {% if loginform.non_field_errors %}
                  <ul style="list-style-type:none">
                    {% for error in loginform.non_field_errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}

                  <div class="form-group">
                    <br> {{ loginform.username }}
                    <br>
                    <br> {{ loginform.password }}
                  </div>

                  <div class="row">
                    <div class="login-wrapper">
                      <input type="submit" value="Log me in" name="login" class="login-submit" />
                    </div>
                    <input type="hidden" name="next" value="/home/" />
                  </div>
                </form>

                <a href="{% url 'week1:reset' %}">Forgot password?</a>
                <br>
                <a href="#" onclick="switchModal(true)">Sign up for free?</a>

                <!--button class="btn btn-itsFree" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- howItWorks Modal windows -->
  <div class="howItWorks-modal modal fade" id="howItWorksModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Showcase Portfolio</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/howItWorks/cabin.png" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the
                  entire set with 146 icons for only $12!</p>

                <button class="btn btn-itsFree" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="howItWorks-modal modal fade" id="howItWorksModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Find Collaborators</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/howItWorks/cake.png" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the
                  entire set with 146 icons for only $12!</p>

                <button class="btn btn-itsFree" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="howItWorks-modal modal fade" id="howItWorksModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2>Complete Projects</h2>
                <hr class="star-primary">
                <img class="img-fluid img-centered" src="img/howItWorks/circus.png" alt="">
                <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                  <a href="#">Sign up here!</a>. On their website, you can download their free set with 16 icons, or you can purchase
                  the entire set with 146 icons for only $12!</p>

                <button class="btn btn-itsFree" type="button" data-dismiss="modal">
                  <i class="fa fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.11.1"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <!--<script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>-->

  <!-- Custom scripts for this template -->
  <script>
    //$('#myModal').modal('show');

    function popFunction() {
      var popup = document.getElementById('passwordPop');
      popup.classList.toggle('show');
    }

    // login is flag parameter
    function switchModal(login) {
      if (login) {
        $('#logInModal1').modal('hide');
        $('#signUpModal1').modal('show');
      } else {
        $('#signUpModal1').modal('hide');
        $('#logInModal1').modal('show');
      }
    }

    // For Login Modal
    $(window).load(function () {
      var p_type = "{{p_type}}";

      if (p_type == "1") {
        // signup error
        //var mymodel = document.getElementsByClassName('.bd-mymodal-lg');
        $('#signUpModal1').modal('show');
      } else if (p_type == "0") {
        // login error
        $('#logInModal1').modal('show');
      }
    });


    (function ($) {
      "use strict"; // Start of use strict
      // Smooth scrolling using jQuery easing
      $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: (target.offset().top - 48)
            }, 1000, "easeInOutExpo");
            return false;
          }
        }
      });
      // Closes responsive menu when a scroll trigger link is clicked
      $('.js-scroll-trigger').click(function () {
        $('.navbar-collapse').collapse('hide');
      });
      // Activate scrollspy to add active class to navbar items on scroll
      $('body').scrollspy({
        target: '#mainNav',
        offset: 54
      });
      // Collapse the navbar when page is scrolled
      $(window).scroll(function () {
        if ($("#mainNav").offset().top > 100) {
          $("#mainNav").addClass("navbar-shrink");
        } else {
          $("#mainNav").removeClass("navbar-shrink");
        }
      });
      // Floating label headings for the contact form
      $(function () {
        $("body").on("input propertychange", ".floating-label-form-group", function (e) {
          $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
        }).on("focus", ".floating-label-form-group", function () {
          $(this).addClass("floating-label-form-group-with-focus");
        }).on("blur", ".floating-label-form-group", function () {
          $(this).removeClass("floating-label-form-group-with-focus");
        });
      });
    })(jQuery); // End of use strict
  </script>


  <script id="jsbin-source-html" type="text/html"><!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Match Hat">
    <meta name="author" content="Find your collaborator, complete your project.">

    <title>Match Hat - Find your collaborator, complete your project.</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom fonts for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand" href="/">
              <img src="{% static 'images/MatchHat Logo-01.png'%}" >
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#howItWorks">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#traceMap">Leave a Trace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#joinAPoolOfTalent">Join Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#itsFree">Its free</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> 

    <!-- Header -->
    <header class="masthead">
      <div class="container">
      <div class="row align-items-center">
          <div class="col-md-7 order-2">
            
              <img class="img-fluid" src="https://ul5g2q-ch3301.files.1drv.com/y4mCbWni8-d5rcPHZ9nlVjCLHb_81sigt8T9_pZfST__sIjpMgyOGpB09R9i6AnU3ja-bbpPmDhGXIUS6t-0MOeUbzN0XJIdnOpTz-9iAPXrIPvVbEJ631VNc_idG_IP7x7q8uZSyu6cfDSUIvQ5eBD0ZyLnVpSgo153PipoPfVOMrD6gGHhcD2ezuNmLvSrOD6uelhh4y_RnGyZovMbhgfXA?width=840&height=700&cropmode=none" alt="">
            
          </div>
          <div class="col-md-5 order-1">
            
              <h1>Find your collaborator, complete your project.</h1>
              <p>Articles, films, websites. Anything. Connect, Collaborate, Create</p>
            
          </div>
        </div>
      </div>
  
      
    </header>

    <!-- howItWorks Grid Section -->
    <section id="howItWorks">
      <div class="container">
        <h2 class="text-center">How it works?</h2>
        <hr class="star-primary">
        <div class="row">
          
          <div class="col-sm-4 howItWorks-item">  
            <a class="howItWorks-link" href="#howItWorksModal1" data-toggle="modal">
              <h3>showcase portfolio</h3>
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-plus-square fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="https://u14unw-ch3301.files.1drv.com/y4mne8TW3Sp3itSwZz7Q-gHwNSHTdzTpB_vDIvIgJ5sQS5zdhwbXxuOBFS_5doxbM5hgm-mCEa_NtBX5VH0R1CCU8Err5JKIxXbJ8tRfDmDlHop5-yXsm7QltRHekxA_flcoIy4bIGbDVoWZlLhLhZRrdoZ0DmMW6NMvEnwF0iTWyCYeWW6KEB0RM6p_15I_ab4dyx1u1QruX-QUutfBwFIWA?width=358&height=118&cropmode=none" alt="">  
            <p>Showcase your portfolio and your upcoming project</p>
            </a>
          </div>

          <div class="col-sm-4 howItWorks-item">
            <a class="howItWorks-link" href="#howItWorksModal2" data-toggle="modal">
            <h3>find collaborators</h3>
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-plus-square fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="https://u14vnw-ch3301.files.1drv.com/y4mrz6iyzHCaC3JY_jNVxy_smSqng0PWVrN0CXmR_RK7Kp9me2vbZ411DK7L4vRv6-pwqFhph9uLXjJREj11jATksZMoavYtEmMPeDiRAZKV0Kdmeb792yLVSFWWFmUg_JNPyl5O3ahiQwyykj5rxSmFnYSvEVAcVzcZUgTvtAjNaoTUS7MuL0rI0JYX32QKB9GR3NED6ERYBnLN1pFmuubeg?width=358&height=118&cropmode=none" alt="">      
            <p>Find a collaborator to complete your project</p>
              </a>
          </div>

          <div class="col-sm-4 howItWorks-item">
            <a class="howItWorks-link" href="#howItWorksModal3" data-toggle="modal">
            <h3>complete projects</h3>
            
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-plus-square fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="https://u14xnw-ch3301.files.1drv.com/y4maIggvmhSEqUrQHao-OH1nL2aMGGJO40AEhzrDnS6Js0V70Cepl8F3RY9H_BRkYePzekrRFBAyZx7yKO8xfq0BR5_H7k4LbEmlw18SnContKCEMSzJNir5vP5Fk_VWiwTXbbuQ358RxjrrXkFvhXsgxyHIYc0HgJ0f92xwa9lcI6AUo2LqmEBTBLweTCSXEi5kZk31e8hLTBv-uFwrYcbWg?width=358&height=118&cropmode=none" alt="">
            <p>Give back to your collaborator by paying or exchanging skills</p>
                          </a>
          </div>

        </div>
      </div>
    </section>

    
    <!-- Trace Map Section -->
    <section class="traceMap" id="traceMap">
      <div class="container">
        
        <div class="row align-items-center">
          <div class="col-md-7 order-1">
            
            <style>
    .google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      overflow:hidden !important;
    }
</style>

<div class="google-maps">
            
             <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d51861.078345036265!2d139.70134940000003!3d35.669186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1504925821531" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  
            </div>
          </div>
          <div class="col-md-5 order-2">
            
              <h1>Leave a trace in the world with what you create</h1>
              <p>Our mission is to create a collaborative community that empowers creators, entrepreneurs and dreamers to do what they love, and suceed</p>
            
          </div>
        </div>
        
      </div>
    </section>

      <!-- Join a Pool of talent Section -->
    <section class="joinAPoolOfTalent" id="joinAPoolOfTalent">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7 order-1">
            
              <img class="img-fluid" src="https://u14knw-ch3301.files.1drv.com/y4mSuIPKM7sBV63-UC4H7TD4mpxSq5mcu1MH4bukb4kPyKMquT-8ocDF-I86RFjs_IdVSqT4iFBptYhp8J3Ya0Gb8RnsG_rwhQPkRzUJlS6tAX9HKl3qvHG_aZM9cT_uM9OYHgxUl31-YntOGTXFiesX_UWW7IjchGP4nLHmtgwK2Ool-U9MgojxkjYMFlqrQ9wqJ096Z7Y2SZz4K5KK8mFig?width=558&height=460&cropmode=none" alt="">
            
          </div>
          <div class="col-md-5 order-2">
            
              <h1>Join a Pool of Talent</h1>
              <p>Artist, Designers, Illustrators, Animators, Filmakers, Editors. Imagine an artist collaborating with a projection mapping artist on a theater project or a writer collaborating with a scientist on an article on genes. The possibilities are limitless.</p>
            
          </div>
        </div>
      </div>
    </section>
    
    
    <!-- Its Free Section -->
    <section class="itsFree" id="itsFree">
      <div class="container">
        <h2 class="text-center"><img src="https://u14lnw-ch3301.files.1drv.com/y4mQWkIi7F0bTlvoMWk9NHwypYJCB0Q48ebBdmMMaS9VImLgwqBmprJNa3BMf8Vh-YmDGlen_9vtY112i9qn8efZ5IHF5RhIQOB_3Gz4_qID6_ch0P2AGN4J7F7hcWPdq9hvGtdsYZKgM-GbLB9Kd-g2vaa8frk5L_Dwg_ClOVvar3GypTzdrXdXDH2TdA8swLt7_dYdu6uayHgdJrGmBPRGA?width=306&height=43&cropmode=none" alt="Match Hat" title="MAtch Hat" />is Free</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p>100% of funds and earned income goes directly to the creatives.</p>
              <p>Create your profile to connect with collaborators</p>
          </div>
          
          <div class="col-lg-8 mx-auto text-center">
            <a href="#signupModal" class="btn btn-lg btn-outline" data-toggle="modal">
              <i class="fa fa-user-plus"></i>
             Sign up for free
            </a>
          </div>

        </div>
      </div>
    </section>

    

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-3">
              <h3>Location</h3>
              <ul class="list-unstyled">
                <li><a href="@">About</a></li>
                <li><a href="@">Terms</a></li>
                <li><a href="@">Privacy</a></li>
                <li><a href="@">Careers</a></li>
              </ul>
            </div>
            <div class="footer-col col-md-3">
              <h3>Follow Us</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-dribbble"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-3">
              <h3>Feedback</h3>
                <a href="@">Feedback</a>
            </div>
            <div class="footer-col col-md-3">
              <h3>Contact</h3>
                <a href="@">Feedback</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Match Hat 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- howItWorks Modal windows -->
    <div class="howItWorks-modal modal fade" id="howItWorksModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Showcase Portfolio</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/howItWorks/cabin.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  
                  <button class="btn btn-itsFree" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="howItWorks-modal modal fade" id="howItWorksModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Find Collaborators</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/howItWorks/cake.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                 
                  <button class="btn btn-itsFree" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="howItWorks-modal modal fade" id="howItWorksModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Complete Projects</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/howItWorks/circus.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="#">Sign up here!</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  
                  <button class="btn btn-itsFree" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery.min.js"><\/script>
        
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.11.1"><\/script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"><\/script>
    <!-- Plugin JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"><\/script>
    <!-- Contact Form JavaScript -->
    <!--<script src="js/jqBootstrapValidation.js"><\/script>
    <script src="js/contact_me.js"><\/script>-->
    <!-- Custom scripts for this template -->
    <script>
    (function($) {
  "use strict"; // Start of use strict
  // Smooth scrolling using jQuery easing
  $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: (target.offset().top - 48)
        }, 1000, "easeInOutExpo");
        return false;
      }
    }
  });
  // Closes responsive menu when a scroll trigger link is clicked
  $('.js-scroll-trigger').click(function() {
    $('.navbar-collapse').collapse('hide');
  });
  // Activate scrollspy to add active class to navbar items on scroll
  $('body').scrollspy({
    target: '#mainNav',
    offset: 54
  });
  // Collapse the navbar when page is scrolled
  $(window).scroll(function() {
    if ($("#mainNav").offset().top > 100) {
      $("#mainNav").addClass("navbar-shrink");
    } else {
      $("#mainNav").removeClass("navbar-shrink");
    }
  });
  // Floating label headings for the contact form
  $(function() {
    $("body").on("input propertychange", ".floating-label-form-group", function(e) {
      $(this).toggleClass("floating-label-form-group-with-value", !!$(e.target).val());
    }).on("focus", ".floating-label-form-group", function() {
      $(this).addClass("floating-label-form-group-with-focus");
    }).on("blur", ".floating-label-form-group", function() {
      $(this).removeClass("floating-label-form-group-with-focus");
    });
  });
})(jQuery); // End of use strict
    <\/script>
  </body>
</html>
</script>

</body>

</html>