{% extends 'week1/base.html'%}
{% load staticfiles %}

{% block content %}
<div id="hometop">
    
    <img src="{% static 'images/indextop_tmp.png'%}" align="center" width="300px">
    <h2>Join a community of talent</h2>
    <div id="hometop-left">
       <div id="hometop-box">
	<h3>Be Discovered</h3>
	<p>Showcase your work and talent. Have the community help you with your next project.
        </p>
        <p>0% transaction and platform fee.</p>

       </div>
    </div>

    <div id="hometop-right">
       <div id="hometop-box">
        <h3>Discover Talent</h3>
        <p>Discover and support creators, entrepreneurs, dreamers. Help shape their projects or pitch a collaboration.
        </p>
        <p>0% transaction and platform fee.</p>
       </div>
    </div>

</div>

<div class="paragraph">
    <h3>Showcase your work and what you're working on</h3>
    <img src="{% static 'images/indexshowcase_tmp.png'%}" align="center" width="350px">
</div>

<div class="paragraph">
    <h3>Build projects with the community</h3>
    <img src="{% static 'images/indexcommunity_tmp.png'%}" align="center" width="500px">
</div>


{% endblock %}
