{% extends 'week1/base.html'%}

{% block content %}
<div id="login">

<form action="" class="logintable" method="POST">{% csrf_token %}
    <table border="0">
        <label for="email"> Email </label>
        <input type="email" name="email" id="email">
    <br>
    <br>
        <label for="password"> Password </label>
        <input type="password" name="password" id="password">
    </table>
    <input type="submit" value="Log In" />
    <input type="hidden" name="next" value="/home/" />
<form>


</div>
{% endblock %}
