{% extends 'week1/base.html'%}

{% block content %}
<div id="login">

<h3>Log in</h3>
<form action="" class="login-form" method="POST">{% csrf_token %}
    {% if form.non_field_errors  %}
    <ul style="list-style-type:none">
       {% for error in form.non_field_errors %}
          <li>{{error}}</li>
       {% endfor %}
    </ul>
    {% endif %}

    <table border="0">
        <!--label for="email"> Email </label-->
        <input type="email" name="username" id="username" placeholder=" Email" class="sign-text">
    <br>
    <br>
        <!--label for="password"> Password </label-->
        <input type="password" name="password" id="password" placeholder=" Password">
    </table>
    <a href="{% url 'week1:reset' %}">Forgot password?</a>
    <div class="login-wrapper">
       <input type="submit" value="Log me in" class="login-submit"/>
    </div>
    <input type="hidden" name="next" value="/home/" />
<form>


</div>
{% endblock %}
