{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}


<p>My ID:{{myid}}</p>

<!--div id="nickWrap">
    <p>Enter a username</p>
    <p id="nickError"></p>
    <form id="setNick">
	<input size="35" id="nickname"></input>
	<input type="submit"></input>
    </form>
</div-->

<div id="onlineusersWrap">
    <h4>Online users</h4>
    <ul style="list-style-type:none;">
       <div id="users"></div>
    </ul>
    <div id="messages"></div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <!--script src="localhost:8889/socket.io/socket.io.js"></script-->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
	  /*var socket = io();*/
          var socket = io.connect("{{nodejs_url}}");

          /***new lines***/
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});

          socket.emit('join chat', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
          /***to here***/

	  $('form').submit(function(){
	    socket.emit('chat message', $('#m').val(), function(data){
	        /*$('#messages').append($('<li>').text(data));*/
	        $('#messages').append($('<li><span class="error"><br>'+data.nick+':'+data.msg+'</span><br/>'));
            });
	    $('#m').val('');
	    return false;
	  });
	  socket.on('new message', function(msg){
	      $('#messages').append($('<li><span class="msg"><br>'+data.nick+':'+data.msg+'</span><br/>'));
	  });
        
          /***
  	  $('#setNick').submit(function(e){
            e.preventDefault();
            socket.emit('new user', $('#nickname').val(), function(data){
               if(data){
                  $('#nickWrap').hide();
		  $('#contentWrap').show();
	       }else{
	       }
            });
            $('#nickname').val('');            
          });
          **/
	  socket.on('chatusers', function(data){
             var users = [{% for u in users %} {{ u }} ,{% endfor %}];
             var usernames = [{% for u in usernames %} "{{ u }}" ,{% endfor %}];
             var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
             var html = '<ul style="list-style-type:none">';
    	     for (i=0; i < data.length; i++){
		 var uid = parseInt(data[i]);
                 var n  = users.indexOf(uid);
                 console.log(users, n, uid)
		 var url_mask = "{% url 'week1:private_message' user.id %}".replace({{user.id}}, uid);
                 if (n != -1){
                     if (photos[n] != 'None'){
		         $('#users').append($('<li><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+usernames[n]+'&nbsp <a href="'+url_mask+'"><span>Start a chat</span></a></li>'));
		     }else{
		         $('#users').append($('<li><img src="{% static 'images/profileimage.png'%}" class="profile_img">'+usernames[n]+'&nbsp <span><a href="'+url_mask+'">Start a chat</a></span>'));
		     }
                 }
                 console.log("username"+uid);
	     }
             
          });
	  socket.on('whisper', function(data){
	      $('#messages').append($('<li><span class="whisper"><br>'+data.nick+':'+data.msg+'</span><br/>'));
          });
    </script>
</div>

{% endblock %}
  <!--/body>
</html-->
