{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}



<!--div id="nickWrap">
    <p>Enter a username</p>
    <p id="nickError"></p>
    <form id="setNick">
	<input size="35" id="nickname"></input>
	<input type="submit"></input>
    </form>
</div-->

<div id="folderWrap">
  <div id="message-left">

    <h4>Users</h4>
    <ul style="list-style-type:none;">
       <div id="chatusers"></div>
    </ul>
    <!--div id="messages"></div>
    
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <form action="">
      <input id="room" autocomplete="off" />
      <input id="message" autocomplete="off" />
      <button id="send">Send room</button>
    </form>

    <div id="roomOne"></div>
    <div id="roomTwo"></div-->

    <div class="left-section">
      <h4>Message Request</h4>
      <div id="firstMessage"></div>
    </div>

    <div class="left-section">
      <h4>Users you blocked</h4>
      <div id="blockMessage"></div>
    </div>

  </div>
  <div id="message-center">
    <div id="acceptMessage"></div>

  </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <!--script src="localhost:8889/socket.io/socket.io.js"></script-->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
          var socket = io.connect("{{nodejs_url}}");
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
          socket.emit('at chat message', {uid:{{user.id}}, uname:"{{user.first_name}}"});

          var users = [{% for u in users %} {{ u }} ,{% endfor %}];
          var usernames = [{% for u in usernames %}"{{ u }}", {% endfor %}];


          function acceptMessageFunction(uid, msg, room_id){
            console.log("accept");
            socket.emit('accept first message', { to_uid:uid, uid:{{user.id}}, msg:msg, room_id:room_id });
            var elem = document.getElementById('first-message-'+uid);
            elem.parentNode.removeChild(elem);
          }

          function blockMessageFunction(uid){
            console.log("block");
            socket.emit('block first message', { to_uid:uid, uid:{{user.id}} });
            var elem = document.getElementById('first-message-'+uid);
            elem.parentNode.removeChild(elem);
          }

          function sendMessageFunction(room_id){
            //var room_id = '580073aa599af5de0adfe02b';
            console.log("test!");
            console.log('send message to room:'+room_id);
            var message = $('#message_in_'+room_id).val();
            $('#message_in_'+room_id).val('');
            socket.emit('send message', { uid:{{user.id}}, room_id:room_id, msg:message });
          }


          socket.on('chat message', function (data) {
             console.log(data);
  	         $('#'+data.room).append($('<li><span class="error"><br>'+data.message+'</span><br/>'));
          });

          /***
          socket.emit('subscribe', 'roomOne');
          socket.emit('subscribe', 'roomTwo');

      	  $('#send').click(function(e) {
      	     var room = $('#room').val(),
      	     message = $('#message').val();
             e.preventDefault();

      	     socket.emit('send chat message', { room: room, message: message });
      	  });
          ***/

          socket.on('new accept user', function(data){

             var div = document.getElementById('acceptMessage');
             var elem = document.createElement("div");
             elem.setAttribute('class', 'row');
             elem.innerHTML = '<div class="row"><div class="col-md-10"><div class="panel panel-primary"><div class="panel-heading">Chat with</div><div class="panel-body"><ul class="chat" id="message-room-'+data.room_id+'"></ul></div><div class="panel-footer"><div class="input-group"><input id="message_in_'+data.room_id+'" type="text" class="form-control input-sm" placeholder="Type your message here..." /><span class="input-group-btn"><button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendMessageFunction(\''+data.room_id+'\')">Send</button></span></div></div></div></div></div>';
             div.appendChild(elem);
             //$('#message-room-'+data.room_id).append($('<li><span class="error"><br>'+data.uid+' : '+data.msg+'</span><br/>')); 

             if (data.uid == {{user.id}}){
                $('#message-room-'+data.room_id).append($('<li class="right clearfix"><span class="chat-img pull-right"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="pull-right primary-font">'+"{{user.first_name}}"+'&nbsp'+"{{user.last_name}}"+'</strong></div><small class="text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+data.msg+'</p></div></li>'));

             }else{
                $('#message-room-'+data.room_id).append($('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+data.uid+'</strong></div><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+data.msg+'</p></div></li>'));
             }
             /***
             var elem = document.getElementById('acceptMessage');
             var div = document.createElement("div");
             div.setAttribute('id', 'message-room-'+data.room_id);
             elem.appendChild(div);
             $('#message-room-'+data.room_id).prepend($('<li><span class="error"><br>'+data.uid+' : '+data.msg+'</span><br/>')); 
             socket.emit('subscribe message room', data.room_id);
             ***/
          });

          socket.on('new block user', function(uid){
             $('#blockMessage').prepend($('<li><span class="error"><br>'+uid+'</span><br/>')); 
          });

          socket.on('send first message', function(data){
             $('#firstMessage').append($('<li id="first-message-'+data.uid+'"><span class="error"><br>'+data.uid+' sent a message :'+data.msg+'</span><button onclick="acceptMessageFunction(\''+data.uid+'\',\''+data.msg+'\',\''+data.room_id+'\')">Accept</button>&nbsp <button onclick="blockMessageFunction('+data.uid+')">Block</button><br/>')); 
          });

          socket.on('update first message', function(docs){
            for(var i=0; i < docs.length; i++){
              var uid = (docs[i]['uid1'] == {{user.id}}) ? docs[i]['uid2'] : docs[i]['uid1'];

              console.log("user id:"+{{user.id}});
              console.log("uid:"+uid);
              console.log("first message:"+docs[i]);

              if (docs[i]['messages']){
                 var mdocs = docs[i]['messages'];

                 for(var j=0; j < mdocs.length; j++){
                     if ( mdocs[j]['uid'] == uid ) {
                        $('#firstMessage').append($('<li id="first-message-'+uid+'"><span class="error"><br>'+uid+' sent a message :'+mdocs[j]['content']+'</span><button onclick="acceptMessageFunction(\''+uid+'\',\''+mdocs[j]['content']+'\',\''+docs[i]['_id']+'\')">Accept</button>&nbsp <button onclick="blockMessageFunction('+uid+')">Block</button><br/>')); 
                     }
                 }

              }
            }
          });


          socket.on('update chat message', function(docs){
            console.log('update chat message');
            for(var i=0; i < docs.length; i++){
              var uid = (docs[i]['uid1'] == {{user.id}}) ? docs[i]['uid2'] : docs[i]['uid1'];

              console.log("user id:"+{{user.id}});
              console.log("uid:"+uid);
              console.log("first message:"+docs[i]);

              var n  = users.indexOf(uid);

              if (docs[i]['messages']){
                 var room_id = docs[i]['_id'];
                 var mdocs = docs[i]['messages'];

                 if ($('#message-room-'+room_id).length == 0){
                  var div = document.getElementById('acceptMessage');
                  var elem = document.createElement("div");
                  elem.setAttribute('class', 'row');
                  elem.innerHTML = '<div class="row"><div class="col-md-10"><div class="panel panel-primary"><div class="panel-heading">Chat with</div><div class="panel-body"><ul class="chat" id="message-room-'+room_id+'"></ul></div><div class="panel-footer"><div class="input-group"><input id="message_in_'+room_id+'" type="text" class="form-control input-sm" placeholder="Type your message here..." /><span class="input-group-btn"><button class="btn btn-warning btn-sm" id="btn-chat" onclick="sendMessageFunction(\''+room_id+'\')">Send</button></span></div></div></div></div></div>';
                  div.appendChild(elem);

                 }

                 if ($('#short-room-'+room_id).length == 0){
                  var div = document.getElementById('chatusers');
                  var elem = document.createElement("div");
                  elem.setAttribute('class', 'row');
                  elem.innerHTML = '<div class="row"><div class="col-md-10"><div class="panel panel-primary"><div class="panel-miniheading">'+usernames[n]+'</div><div class="panel-minibody"><ul class="chat" id="short-room-'+room_id+'"></ul></div></div></div></div>';
                  div.appendChild(elem);

                 }
                 /**
                 var elem = document.getElementById('acceptMessage');
                 var div = document.createElement("div");
                 div.setAttribute('id', 'message-room-'+room_id);
                 elem.appendChild(div);
                 var message_form = "<div><form><input type='text' id='message_in_"+room_id+"'><button onclick='sendMessageFunction(\""+room_id+"\")'>Send</button></form></div>";
                 **/

                 for(var j=0; j < mdocs.length; j++){
                     if ( j== 0){
                        if (n != -1){
                           $('#short-room-'+room_id).append($('<li><span class="error"><br>'+mdocs[j]['content']+'</span><br/>')); 
                        }else{
                           $('#short-room-'+room_id).append($('<li><span class="error"><br>'+mdocs[j]['content']+'</span><br/>')); 
                        }
                      }

                     if ( mdocs[j]['uid'] == uid ) {
                        if (n != -1){
                           $('#message-room-'+room_id).append($('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+uid+'</strong></div><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+mdocs[j]['content']+'</p></div></li>'));
                           //$('#message-room-'+room_id).append($('<li><span class="error"><br>'+usernames[n]+' : '+mdocs[j]['content']+'</span><br/>')); 
                        }else{
                           $('#message-room-'+room_id).append($('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+uid+'</strong></div><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+mdocs[j]['content']+'</p></div></li>'));
                           //$('#message-room-'+room_id).append($('<li><span class="error"><br>'+uid+' : '+mdocs[j]['content']+'</span><br/>')); 
                        }
                     }else{
                        $('#message-room-'+room_id).append($('<li class="right clearfix"><span class="chat-img pull-right"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="pull-right primary-font">'+"{{user.first_name}}"+'&nbsp'+"{{user.last_name}}"+'</strong></div><small class="text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+mdocs[j]['content']+'</p></div></li>'));
                     }
                 }
                 //$('#message-room-'+room_id).append($(message_form)); 
              }

            }
          });

          socket.on('room message', function (data) {
             console.log("room message");
             var n  = users.indexOf(data.uid);
             if (data.uid == {{user.id}}){
                $('#message-room-'+data.room_id).append($('<li class="right clearfix"><span class="chat-img pull-right"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="pull-right primary-font">'+"{{user.first_name}}"+'&nbsp'+"{{user.last_name}}"+'</strong></div><small class="text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+data.msg+'</p></div></li>'));
             }else{
                if (n != -1){
                  $('#message-room-'+data.room_id).append($('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+data.uid+'</strong></div><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+data.msg+'</p></div></li>'));
                }else{
                  $('#message-room-'+data.room_id).append($('<li class="left clearfix"><span class="chat-img pull-left"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+data.uid+'</strong></div><small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>14 mins ago</small></div><p>'+data.msg+'</p></div></li>'));
                }
             }

          });



/***
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});

          socket.emit('join chat', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});

	  $('form').submit(function(){
	    socket.emit('chat message', $('#m').val(), function(data){
	        $('#messages').append($('<li><span class="error"><br>'+data.nick+':'+data.msg+'</span><br/>'));
            });
	    $('#m').val('');
	    return false;
	  });
	  socket.on('new message', function(msg){
	      $('#messages').append($('<li><span class="msg"><br>'+data.nick+':'+data.msg+'</span><br/>'));
	  });
        
	  socket.on('chatusers', function(data){
             var users = [{% for u in users %} {{ u }} ,{% endfor %}];
             var usernames = [{% for u in usernames %} "{{ u }}" ,{% endfor %}];
             var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
             var html = '<ul style="list-style-type:none">';
    	     for (i=0; i < data.length; i++){
		 var uid = parseInt(data[i]);
                 var n  = users.indexOf(uid);
                 console.log(users, n, uid)
		 var url_mask = "{% url 'week1:private_message' user.id %}".replace({{user.id}}, uid);
                 if (n != -1){
                     if (photos[n] != 'None'){
		         $('#users').append($('<li><img src="{{media_url}}'+photos[n]+'" class="profile_img">'+usernames[n]+'&nbsp <a href="'+url_mask+'"><span>Start a chat</span></a></li>'));
		     }else{
		         $('#users').append($('<li><img src="{% static 'images/profileimage.png'%}" class="profile_img">'+usernames[n]+'&nbsp <span><a href="'+url_mask+'">Start a chat</a></span>'));
		     }
                 }
                 console.log("username"+uid);
	     }
             
          });
	  socket.on('whisper', function(data){
	      $('#messages').append($('<li><span class="whisper"><br>'+data.nick+':'+data.msg+'</span><br/>'));
          });
***/
    </script>
</div>

{% endblock %}
  <!--/body>
</html-->
