{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="notificationWrap">
    <ul style="list-style-type:none">
        <div id="notifications"></ul>
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
    <!--script src="localhost:8889/socket.io/socket.io.js"></script-->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
	  /*var socket = io();*/
          var socket = io.connect("{{nodejs_url}}");
          socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});

          /***new lines***/
          socket.emit('check notification');
          /***to here***/

	  socket.on('new notification', function(data){
              if (data.action_id === 1){
	         $('#notifications').prepend($('<li><span class="error"><br><p>'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp Left a comment on your page.'+'</p></span><br/>'));
              }
              else if (data.action_id === 2){
	         $('#notifications').prepend($('<li><span class="error"><br><p>'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp gave you a Hatsoff.'+'</p></span><br/>'));
              }
	  });
        
	  socket.on('update notification', function(docs){
              for(var i = 0; i < docs.length; i++){
                 if (docs[i]['action_id'] === 1){
	            $('#notifications').append($('<li><span class="error"><br><p>'+docs[i]['action_user']['first_name']+'&nbsp'+docs[i]['action_user']['last_name']+'&nbsp Left a comment on your page.'+'</p></span><br/>'));
                 }
                 else if (docs[i]['action_id'] === 2){
	            $('#notifications').prepend($('<li><span class="error"><br><p>'+docs[i]['action_user']['first_name']+'&nbsp'+docs[i]['action_user']['last_name']+'&nbsp gave you a Hatsoff.'+'</p></span><br/>'));
                 }
                 else if (docs[i]['action_id'] === 3){
	            $('#notifications').prepend($('<li><span class="error"><br><p>'+docs[i]['action_user']['first_name']+'&nbsp'+docs[i]['action_user']['last_name']+'&nbsp shared skill.'+'</p></span><br/>'));
                 }
              }
	  });

          /***
  	  $('#setNick').submit(function(e){
            e.preventDefault();
            socket.emit('new user', $('#nickname').val(), function(data){
               if(data){
                  $('#nickWrap').hide();
		  $('#contentWrap').show();
	       }else{
	       }
            });
            $('#nickname').val('');            
          });
          **/
    </script>
</div>

{% endblock %}
  <!--/body>
</html-->
