{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     <h3>Step 4 out of 7</h3> 
     </div>

     <div id="step-right">
        <h3>Profile</h3>
	<form action="" method="POST" class="step-form">{% csrf_token %}
            <br>Website url</br> <input type='text' name='weburl' ><br/>
	    <div class="submit-wrapper">
		<input type="submit" value="Next Step" class="step-submit"/>
		<a href="{% url 'week1:step5' %}">Skip</a>
	    </div>
	</form>
     </div>

</div>

{% endblock %}
