{% extends 'week1/base_simple.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     <h3>Step 7 out of 7</h3> 
     <div id="step-notification">
      <p>There are 7 steps in your profile creation. You can edit or add information later.</p>
     </div>
     </div>

     <div id="step-right">
            <h3>Fun Facts</h3>
	    <form action="" method="POST" class="step-form">{% csrf_token %}
                <br>{{form.collaborators.label_tag}}</br> {{form.collaborators}}<br/>
                <br>{{form.explore.label_tag}}</br> {{form.explore}}<br/>
                <br>{{form.availableHours.label_tag}}</br> {{form.availableHours}}<br/>
                <br>{{form.rate.label_tag}}</br> {{form.rate}}<br/>
                <br>{{form.hobby.label_tag}}</br> {{form.hobby}}<br/>
                <br>{{form.fQuote.label_tag}}</br> {{form.fQuote}}<br/>
                <br>{{form.fFilm.label_tag}}</br> {{form.fFilm}}<br/>
                <br>{{form.fBook.label_tag}}</br> {{form.fBook}}<br/>
                <br>{{form.filmNow.label_tag}}</br> {{form.filmNow}}<br/>
                <br>{{form.cities.label_tag}}</br> {{form.cities}}<br/>

	    <div class="submit-wroapper">
        <a href="{% url 'week1:step6' %}">Back</a>
		<input type="submit" value="Complete" class="step-submit"/>
	    </div>
	</form>
     </div>
</div>

</div>

{% endblock %}
