{% extends 'week1/base_simple.html'%}

{% block content %}
{% load staticfiles %}

<div id="step" class="container">
    <div class="row">
     <div id="step-left-new" class="col-md-2">
         <h4>Step 1 out of 3</h4> 
         <div id="step-notification">
             <p class="small">There are 3 steps in your profile creation. You can edit or add information later.</p>
         </div>
     </div>

     <div id="step-right-new" class="col-md-6">
        <h3>Profile</h3>
	<!--form action="" method="POST" class="step-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.errors }}
            <div id="step-right-left">
                <br>Profession <span style="color:red">*</span></br> <input type='text' name='profession' ><br/>
                <br>City</br> <input type='text' name='city' ><br/>
                <br>Independent/company name</br> <input type='text' name='worksAt' ><br/>
                <br>Education</br> <input type='text' name='education'><br/>
                <br>Birth date</br> <input type='date' name='birthdate' min="1900-01-01" max="2017-01-01"><br/>
                <br>Language</br><input type='text' name='language'><br/>
            </div>
            <div id="step-right-right">
                <br>Photo</br> <input type='file' name='photo' ><br/>
            </div>
            <div class="submit-wrapper">
	        <input type="submit" value="Next Step" class="step-submit"/>
            </div>

	</form-->

	<form action="" method="POST" class="step-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.errors }}
	    <!--table border="0" align="center" class="step-table">
            <div id="step-right-left">
                <br>Display Name</br> <input type='text' name='displayname' value='{{ user.first_name }} {{user.last_name}}'><br/-->

                <br>{{form.profession1.label_tag}} <!-- span style="color:red">*</span -->
                <input type="text" class="form-control" id="token-professionfield" name="professiontags" />

                <br>{{form.city.label_tag}}</br> {{form.city}}<br/>
                <!-- br>{{form.worksAt.label_tag}}</br> {{form.worksAt}}<br/>
                <br>{{form.education.label_tag}}</br> {{form.education}}<br/-->
                <!--br>{{form.birthdate.label_tag}}</br> {{form.birthdate}}<-->
                <!--br>Birthdate</br>
                <input type='date' name='birthdate' min="1900-01-01" max="2017-01-01"><br/>
                <br>{{form.language.label_tag}}</br> {{form.language}}<br/-->
                <div class="submit-wrapper">
	        <input type="submit" value="Next Step" class="btn btn-outline step-submit"/>
            </div>
            </div>
            <div id="step-right-right-new" class="col-md-4">
                <div class="boxed">
                  {{form.photo.label_tag}} 
                </div>
                <div class="boxed">
                  <input id="id_photo" type="file" name="photo"><br/><br />
                  <img id="blah" src="#" alt="your image" width="170px" />
                </div>
            </div>
	    <!--/table-->
            
	</form>
     </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.11.1"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Tokenfield field autocomplete -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
<script src="{% static 'js/tag_professions.js' %}"></script>
<script type="text/javascript">

$(document).ready(function() {
  $("#myTagProfessions").tagprofession();
});

window.onload = function (){
  {% if form.instance.photo %}
    $('#blah').attr('src', "{{form.instance.photo.url}}");
  {% else %}
    $('#blah').attr('src', "{% static 'images/profileimage.png' %}");
  {% endif %}
};

function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_photo").change(function(){
    readURL(this);
});

</script>


{% endblock %}
