{% extends 'week1/base_simple.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     <h3>Step 5 out of 7</h3> 
     <div id="step-notification">
      <p>There are 7 steps in your profile creation. You can edit or add information later.</p>
     </div>
     </div>

     <div id="step-right">
        <h3>Showcase your past works</h3>
	<form action="" class="step-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <br>{{form.title.label_tag}}</br> {{form.title}}<br/>
            <br>{{form.image.label_tag}}</br> {{form.image}}<br/>
            <br>{{form.video.label_tag}}</br> {{form.video}}<br/>
            <br>{{form.youtube.label_tag}}</br> {{form.youtube}}<br/>
            <br>{{form.describe.label_tag}}</br>{{form.describe}}<br/>
            <br>{{form.role.label_tag}}</br> {{form.role}} <br/>
            <br>{{form.completion.label_tag}}</br><input type='number' name='completion' min="1970" max="2016"><br/>
	    <div class="submit-wrapper">
            <a href="{% url 'week1:step4' %}">Back</a>
               {% if num_show and num_show == 10 %}
	           <input type="submit" value="Next Step" name="next" class="step-submit"/>
               {% else %}
	           <input type="submit" value="Showcase more" name="more_case" class="step-submit-more"><input type="submit" value="Next Step" name="next" class="step-submit"/>
               {% endif %}
	        <a href="{% url 'week1:step6' %}">Skip</a>
            </div>
	</form>
     </div>

</div>

{% endblock %}
