{% extends 'week1/base_simple.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     <h3>Step 1 out of 7</h3> 
     <div id="step-notification">
      <p>There are 7 steps in your profile creation. You can edit or add information later.</p>
     </div>
     </div>

     <div id="step-right">
        <h3>Profile</h3>
	<!--form action="" method="POST" class="step-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.errors }}
            <div id="step-right-left">
                <br>Profession <span style="color:red">*</span></br> <input type='text' name='profession' ><br/>
                <br>City</br> <input type='text' name='city' ><br/>
                <br>Independent/company name</br> <input type='text' name='worksAt' ><br/>
                <br>Education</br> <input type='text' name='education'><br/>
                <br>Birth date</br> <input type='date' name='birthdate' min="1900-01-01" max="2017-01-01"><br/>
                <br>Language</br><input type='text' name='language'><br/>
            </div>
            <div id="step-right-right">
                <br>Photo</br> <input type='file' name='photo' ><br/>
            </div>
            <div class="submit-wrapper">
	        <input type="submit" value="Next Step" class="step-submit"/>
            </div>

	</form-->

	<form action="" method="POST" class="step-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.errors }}
	    <!--table border="0" align="center" class="step-table">
            <div id="step-right-left">
                <br>Display Name</br> <input type='text' name='displayname' value='{{ user.first_name }} {{user.last_name}}'><br/-->
                <br>{{form.profession.label_tag}} <span style="color:red">*</span></br> {{form.profession}}<br/>
                <br>{{form.city.label_tag}}</br> {{form.city}}<br/>
                <br>{{form.worksAt.label_tag}}</br> {{form.worksAt}}<br/>
                <br>{{form.education.label_tag}}</br> {{form.education}}<br/>
                <!--br>{{form.birthdate.label_tag}}</br> {{form.birthdate}}<-->
                <br>Birthdate</br>
                <input type='date' name='birthdate' min="1900-01-01" max="2017-01-01"><br/>
                <br>{{form.language.label_tag}}</br> {{form.language}}<br/>
            </div>
            <div id="step-right-right">
                <div class="boxed">
                  {{form.photo.label_tag}} 
                </div>
                <div class="boxed">
                  <input id="id_photo" type="file" name="photo"><br/>
                  <img id="blah" src="#" alt="your image" />
                </div>
            </div>
	    <!--/table-->
            <div class="submit-wrapper">
	        <input type="submit" value="Next Step" class="step-submit"/>
            </div>
	</form>
     </div>

</div>

<script type="text/javascript">

window.onload = function (){
  {% if form.instance.photo %}
    $('#blah').attr('src', "{{form.instance.photo.url}}");
  {% else %}
    $('#blah').attr('src', "{% static 'images/profileimage.png' %}");
  {% endif %}
};

function readURL(input) {

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#id_photo").change(function(){
    readURL(this);
});

</script>>


{% endblock %}
