{% extends 'week1/base_simple.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     <h3>Step 6 out of 7</h3> 
     <div id="step-notification">
      <p>There are 7 steps in your profile creation. You can edit or add information later.</p>
     </div>
     </div>

     <div id="step-right">
        <h3>What are you working on now?</h3>
	<form action="" method="POST" class="step-form"  enctype="multipart/form-data">{% csrf_token %}
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#myTags").tagit();
                });
            </script> 

            <br>{{form.title.label_tag}}</br> {{form.title}}<br/>
            <br>{{form.image.label_tag}}</br> {{form.image}}<br/>
            <br>{{form.describe.label_tag}}</br> {{form.describe}}<br/>
            <br>{{form.role.label_tag}}</br> {{form.role}}<br/>
            <br>{{form.status.label_tag}}</br> {{form.status}}<br/>
            <br>{{form.targetdate.label_tag}}</br><input type='date' name='targetdate' min="2016-10-01"><br/>
            <br>{{form.comment.label_tag}}</br>{{form.comment}}<br/>
            <br>Looking to get help from the community?</br>
                <label for="get_help">Do you need Collaborators?
                </label>
                <select name="get_help">
                <option value="1">Yes, please!</option>
                <option value="2">Open to collaboration!</option>
                <option value="3">Not right now, thanks!</option>
                </select><br>
            <br>For those who answered “yes” or “open to collaboration” what kind of help/collaboration are you looking for?</br>
            <br>{{form.collaborators.label_tag}}</br>{{form.collaborators}}<br/>
            <br>
            <label>What kind of skills would your collaborator(s) need?</label>
            <ul id="myTags">
                <li>{{ form.collaborator_skill1.value }}</li>
                <li>{{ form.collaborator_skill2.value }}</li>
                <li>{{ form.collaborator_skill3.value }}</li>
                <li>{{ form.collaborator_skill4.value }}</li>
                <li>{{ form.collaborator_skill5.value }}</li>
                <li>{{ form.collaborator_skill6.value }}</li>
                <li>{{ form.collaborator_skill7.value }}</li>
                <li>{{ form.collaborator_skill8.value }}</li>
                <li>{{ form.collaborator_skill9.value }}</li>
                <li>{{ form.collaborator_skill10.value }}</li>
            </ul>
            <br>{{form.fund.label_tag}}</br>{{form.fund}}<br/>
            <br>{{form.preferred_city.label_tag}}</br>{{form.preferred_city}}<br/>
            <br>{{form.time_commitment.label_tag}}</br><input type='date' name='targetdate' min="2016-10-01"><br/><br/>
            <br>{{form.give_back.label_tag}}</br>
                <input type="radio" name="give_back" value="1">Paid compensation</br>
                <input type="radio" name="give_back" value="2">Exchange  of skills/services</br>
                <input type="radio" name="give_back" value="3">Negotiable</br>
            <br>{{form.comment_help.label_tag}}</br>{{form.comment_help}}<br/>
	    <div class="submit-wrapper">
        <a href="{% url 'week1:step5' %}">Back</a>
		<input type="submit" value="Next Step" class="step-submit"/>
		<a href="{% url 'week1:step7' %}">Skip</a>
	    </div>
	</form>
     </div>

</div>

{% endblock %}
