{% extends 'week1/base_simple.html'%}

{% block content %}
{% load staticfiles %}

<div id="step">
     <div id="step-left">
     <h3>Step 4 out of 7</h3> 
     <div id="step-notification">
      <p>There are 7 steps in your profile creation. You can edit or add information later.</p>
     </div>
     </div>

     <div id="step-right">
        <h3>Profile</h3>
	<form action="" method="POST" class="step-form">{% csrf_token %}
        {{ form.errors }}
        <br>
        {{form.weburl.label_tag}} 
        <Br>
        (Note: URL must be prefixed with http:// or https://)
        <br>
        {{form.weburl}}<br/>
	    <div class="submit-wrapper">
        <a href="{% url 'week1:step3' %}">Back</a>
		<input type="submit" value="Next Step" class="step-submit"/>
		<a href="{% url 'week1:step5' %}">Skip</a>
	    </div>
	</form>
     </div>

</div>

{% endblock %}
