{% extends 'week1/basehome.html'%}

{% block content %}
{% load staticfiles %}


<div id="home-friends">
</div>

<div id="home-main">
    
    <div id="home-firstcolumn">
      
	<div class="home-step">
            <ul style="list-style-type:none">
		<li>City:{{target_profile.city}}</li>
		<li>Work at/as:{{target_profile.worksAt}}</li>
		<li>Education:{{target_profile.education}}</li>
		<li>Language:{{target_profile.language}}</li>
		<li>Skills:{{target_profile.skill1}}</li>
            </ul>
	</div>
	<div class="home-step-out">
            URL:{{ target_profile.weburl }}
        </div>

	<div class="home-step">
            <ul style="list-style-type:none">
		<li>Fun fact about you:{{target_profile.funaboutyou}}</li>
		<li>Hobby:{{target_profile.hobby}}</li>
		<li>Favorite quote:{{target_profile.fQuote}}</li>
		<li>Favorite film:{{target_profile.fFilm}}</li>
		<li>Favorite TV show:{{target_profile.fTV}}</li>
		<li>Favorite youTube channel:{{target_profile.fYoutube}}</li>
		<li>Favorite book:{{target_profile.fBook}}</li>
            </ul>
	</div>
    </div>

    <div id="home-secondcolumn">
	<div class="home-step">
	{% if target_profile.photo %}
	    <img src="{{ target_profile.photo.url }}" class="maincontent">
	{% else %}
	    <img src="{% static 'images/profileimage.png'%}" class="maincontent">
	{% endif %}
        </div>
	<div class="home-step-out">
            <h3>{{t_user.first_name}}&nbsp{{t_user.last_name}}, {{target_profile.profession}}</h3>
            <p>{{target_profile.describe}}</p>
        </div>
    </div>

    <div id="home-thirdcolumn">
       <ul style="list-style-type:none">
	 <li><img src="{% static 'images/hat.png'%}" class="icons-img"><span id="hatsoffNum"></span></li>
         <li>Thanks &nbsp<span id="thanksNum"></span></li>
         <li>Follow &nbsp<span id="followNum"></span></li>
	 <li><img src="{% static 'images/chat.png'%}" class="icons-img"></li>
	 <li><img src="{% static 'images/pitch.png'%}" class="icons-img"></li>
       </ul>

       <div class="home-bottom">
	    <ul style="list-style-type:none">
            </br>  <li><div class="popupHatsoff" onclick="popHatsoff()">Hatsoff</br><span class="popuptextHatsoff" id="hatsoffPop">Give a Hatsoff?</br><button onclick="hatsoffFunction()" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">No</button></span></div><div class="popupGavehatsoff"><span class="popuptextGavehatsoff" id="gavehatsoffPop">Gave a Hatsoff!</span></div></li>
              <li><div class="popupThanks" onclick="popThanks()">Thanks</br><span class="popuptextThanks" id="thanksPop">Give a thanks?</br><button onclick="thanksFunction()" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">No</button></span></div><div class="popupGave"><span class="popuptextGave" id="gavePop">Gave a Thanks!</span></div></li>
              <li><div class="popupFollow" onclick="popFollow()">Follow</br><span class="popuptextFollow" id="followPop">Follow this user?</br><button onclick="followFunction()" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">Not Now</button></span></div><div class="popupFollowed"><span class="popuptextFollowed" id="followedPop">Followed the user!</span></div></li>
	      <li><a href=""><img src="{% static 'images/contribute.png'%}" class="icons-img"></a></li>
	      <li><img src="{% static 'images/recommend.png'%}" class="icons-img"></li>
	      <li><img src="{% static 'images/help.png'%}" class="icons-img"></li>
	    </ul>
       </div>
    </div>

<div id="home-main-center">
	<div class="home-step">

            <h4>Portfolio</h4>
	    {% if showcases %}
                {% for showcase in showcases %}
                    {% if forloop.counter == 1 %}
                        <div id="{{ forloop.counter }}">
                    {% else %}
                        <div id="{{ forloop.counter }}" style="display:none;">
                    {% endif %}

		    {% if showcase.image %}
			    <img src="{{ showcase.image.url }}" class="maincontent">
		    {% else %}
			    <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
		    {% endif %}
                        <div class="description-wrapper">
			    <!--ul style="list-style-type:none; text-align:left"-->
			    <ul>
				<li>Description of work:{{showcase.describe}}</li>
				<li>Your role:{{showcase.role}}</li>
				<li>Year of completion:{{showcase.completion}}</li>
			    </ul>
                        </div>
		    <div class="popupShare" onclick="popShare()">Share &nbsp</br><span class="popuptextShare" id="sharePop">Share this project?</br><button onclick="shareFunction(3, {{forloop.counter}})" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">Not Now</button></span></div><div class="popupShared"><span class="popuptextShared" id="sharedPop">Shared!</span></div>
		    <div class="popupLike" onclick="popLike()"><button onclick="likeFunction(3, {{forloop.counter}})">Like</button></br><span class="popuptextLike" id="likePop">You Liked it</br></span></div>
			<div class="post-wrapper">
			    <form action="" id="portfolio_form">
			      <textarea id="c_portfolio_{{forloop.counter}}" placeholder=" Comment" rows="3" cols="60"></textarea>
                              <button onclick="submitPForm({{forloop.counter}})">Post</button>
			    </form>
			</div>
			<ul style="list-style-type:none; padding-left:0px;">
			    <div id="portfolio_show">
			       <button onclick="show_portfolio({{forloop.counter}}, {{showcases|length}})">Show Comments</button>
			    </div>
			    <div id="portfolio_hide">
			       <button onclick="hide_portfolio({{forloop.counter}})">Hide Comments</button>
			    </div>
			    <div id="portfolioComment_{{forloop.counter}}"></div>
			</ul>
                    </div>
		{% endfor %}
	    {% else %}
	        <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
	    {% endif %}

	    {% if showcases|length > 1 %}
                {% for showcase in showcases %}
                    <!--button onclick="changeContent({{ forloop.counter }}, {{showcases|length}})" class="circle"></button-->
                    <button onclick="changeContent({{ forloop.counter }}, {{showcases|length}})"><image src="{% static 'images/grey-circle.png'%}" width="25px"></button>
	        {% endfor %}
	    {% endif %}

	</div>

	<div class="home-step">
            <script>
		function show_upcoming(){
                    console.log('show more!');
		    $('#upcomingComment').show();
		    $('#upcoming_hide').show();
		    $('#upcoming_show').hide();
		};

		function hide_upcoming(){
                    console.log('hide more!');
		    $('#upcomingComment').hide();
		    $('#upcoming_hide').hide();
		    $('#upcoming_show').show();
		};
            </script>

            <h4>What’s Next</h4>
	    {% if upcoming %}
	        {% if upcoming.image %}
	            <img src="{{ upcoming.image.url }}" class="maincontent">
	        {% else %}
	            <img src="{% static 'images/empty_showcase.png'%}" class="maincontent"></li>
	        {% endif %}
	    {% else %}
	        <img src="{% static 'images/empty_showcase.png'%}" class="maincontent">
	    {% endif %}

	    {% if upcoming %}
            <div class="description-wrapper">
              <ul style="list-style-type:none">
	        <li>Description of your upcoming work:{{upcoming.describe}}</li>
	        <li>Your role:{{upcoming.role}}</li>
	        <li>Status:{{upcoming.status}}</li>
	        <li>Target finish date:{{upcoming.targetdate}}</li>
	        <li>Comment:{{upcoming.comment}}</li>
	      </ul>
              <ul>
	        <li><h4>Looking for</h4>
                    <br>{{upcoming.collaborators}}</br></li>
	        <li>Funding:{{upcoming.fund}}</li>
	        <li>Comment:{{upcoming.comment_help}}</li>
	      </ul>
            </div>
            <div class="popupShare" onclick="popShare()">Share &nbsp</br><span class="popuptextShare" id="sharePop">Share this project?</br><button onclick="shareFunction(2, 1)" class="shareskillButton">Yes</button>&nbsp<button class="shareskillButton">Not Now</button></span></div><div class="popupShared"><span class="popuptextShared" id="sharedPop">Shared!</span></div>
            <div class="popupLike" onclick="popLike()"><button onclick="likeFunction(2, 1)">Like</button></br><span class="popuptextLike" id="likePop">You Liked it</br></span></div>
	    <div class="post-wrapper">
		<form action="" id="upcoming_form">
		  <textarea id="c_upcoming" autocomplete="off" placeholder=" Comment" rows="3" cols="60"></textarea>
                  <button onclick="submitUForm()">Post</button>
		</form>
	    </div>
	    <ul style="list-style-type:none; padding-left:0px;">
                <div id="upcoming_show">
                   <button onclick="show_upcoming()">Show Comments</button>
                </div>
                <div id="upcoming_hide">
                   <button onclick="hide_upcoming()">Hide Comments</button>
                </div>
		<div id="upcomingComment"></div>
	    </ul>
	    {% endif %}
	</div>

	<script src="{{nodejs_url}}/socket.io/socket.io.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	      var socket = io.connect("{{nodejs_url}}");
	      socket.emit('join message', {uid:{{user.id}}, firstname:"{{user.first_name}}", lastname:"{{user.last_name}}"});
	      socket.emit('at userpage', {uid:{{user.id}}, to_uid:{{t_user.id}}, uname:"{{user.first_name}}"});

	      socket.on('number user thanks', function(count){
                  document.getElementById("thanksNum").innerHTML = count;
              });

	      socket.on('number user hatsoff', function(count){
                  document.getElementById("hatsoffNum").innerHTML = count;
              });

	      socket.on('number user follow', function(count){
                  document.getElementById("followNum").innerHTML = count;
              });


	      function likeFunction(c_type, c_id){
		 console.log('uid on like:'+c_type+':'+c_id);
		 popLike();
                 if (c_type == 2){
		    socket.emit('like upcoming', {to_uid:{{t_user.id}}, uid:{{user.id}}, c_id:c_id});
		    console.log('like upcoming');
                 }else if (c_type == 3){
		    socket.emit('like portfolio', {to_uid:{{t_user.id}}, uid:{{user.id}}, c_id:c_id});
		    console.log('like portfolio');
                 }
		 //socket.emit('like community', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
	      }

	      function popLike(){
		 var popup = document.getElementById('likePop');
		 popup.classList.toggle('show');
	      }

	      function popShare(){
		 var popup = document.getElementById('sharePop');
		 popup.classList.toggle('show');
	      }

	      function shareFunction(c_type, c_id){
		 console.log('uid on share:'+c_type+':'+c_id);
		 popShared();
                 if (c_type == 2){
		    socket.emit('share upcoming', {to_uid:{{t_user.id}}, uid:{{user.id}}, c_id:c_id});
                 }else if (c_type == 3){
		    socket.emit('share portfolio', {to_uid:{{t_user.id}}, uid:{{user.id}}, c_id:c_id});
                 }
		 //socket.emit('share upcoming', {to_uid:uid, uid:{{user.id}}, c_id:c_id});
	      }

	      function popShared(){
		 var popup = document.getElementById('sharedPop');
		 popup.classList.toggle('show');
	      }

	      function popThanks(){
		 var popup = document.getElementById('thanksPop');
		 popup.classList.toggle('show');
	      }

	      function thanksFunction(){
		 console.log('thanks!');
		 popGave();
		 socket.emit('give thanks', {to_uid:{{t_user.id}}, uid:{{user.id}}});
		 console.log('thanks!');
	      }

	      function popGave(){
		 var popup = document.getElementById('gavePop');
		 popup.classList.toggle('show');
	      }

	      function popHatsoff(){
		 var popup = document.getElementById('hatsoffPop');
		 popup.classList.toggle('show');
	      }

	      function hatsoffFunction(){
		 console.log('hatsoff!');
		 popGavehatsoff();
		 socket.emit('give hatsoff', {to_uid:{{t_user.id}}, uid:{{user.id}}});
	      }

	      function popGavehatsoff(){
		 var popup = document.getElementById('gavehatsoffPop');
		 popup.classList.toggle('show');
	      }

	      function popFollow(){
		 var popup = document.getElementById('followPop');
		 popup.classList.toggle('show');
	      }

	      function followFunction(){
		 console.log('follow!');
		 popFollowed();
		 //socket.emit('follow user', {to_uid:{{user.id}}, uid:{{t_user.id}}});
	      }

	      function popFollowed(){
		 var popup = document.getElementById('followedPop');
		 popup.classList.toggle('show');
	      }

              var p_id = 1
    	      function changeContent(number, length){
                    console.log('Click!'+number);
	            //socket.emit('change portfolio', {uid:{{user.id}}, to_uid:{{t_user.id}}, p_id:number});
                    if( p_id != number ){
	              socket.emit('at userpage', {uid:{{user.id}}, to_uid:{{t_user.id}}, uname:"{{user.first_name}}"});
                    }

                    for (var i = 1; i <= length; i++){
		        $('#'+i).show().siblings('div').hide();
		    }
		    $('#'+number).show().siblings('div').hide();
                    p_id = number;

                    var h = document.getElementById('portfolio_hide');
                    var s = document.getElementById('portfolio_show');
		    if (h.style.display == 'block'){
		        h.style.display = 'none';
		    }
		    s.style.display = 'block';
                    hide_portfolio(number);
	      };

	      function show_portfolio(number, length){
                    console.log('show more!');
                    for (var i = 1; i <= length; i++){
		        $('#portfolioComment_'+i).hide();
		    }
		    $('#portfolioComment_'+number).show();
                    var h = document.getElementById('portfolio_hide');
                    var s = document.getElementById('portfolio_show');
		    if (s.style.display == 'block'){
		        s.style.display = 'none';
		    }
		    h.style.display = 'block';
                    /***
		    if ($('#portfolio_hide').style.display == 'block'){
		        $('#portfolio_hide').style.display = 'none';
		    }
		    $('#portfolio_show').style.display = 'block';
                    **/
                    /***
		    $('#portfolio_hide').show();
		    $('#portfolio_show').hide();
                    ***/
	      };

	      function hide_portfolio(number){
                    console.log('hide more!');
		    $('#portfolioComment_'+number).hide();
                    var h = document.getElementById('portfolio_hide');
                    var s = document.getElementById('portfolio_show');
		    if (h.style.display == 'block'){
		        h.style.display = 'none';
		    }
		    s.style.display = 'block';
                    /*** 
		    $('#portfolioComment_'+number).hide();
		    if ($('#portfolio_show').style.display == 'block'){
		        $('#portfolio_show').style.display = 'none';
                    }
		    $('#portfolio_block').style.display = 'block';
                    ***/
	      };

              // For portfolio
              function submitPForm(number){
                    console.log('form submit portfolio');
                    var post_val = $('#c_portfolio_'+number).val();
                    
                    if (post_val.length != 0){
                        console.log('if:'+p_id+':'+post_val);
		        socket.emit('portfolio comment', {msg:post_val, to:{{t_user.id}}, uid:{{user.id}}, p_id:number});
                    }
		    $('#c_portfolio_'+number).val('');
		    return false;
              }

	      socket.on('new portfolio comment', function(data){
                    console.log('new portfolio comment on home');
		    var uid = data.from_uid;
                    console.log(p_id);
		    var users = [{% for u in users %} {{ u }} ,{% endfor %}];
		    var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
		    var n  = users.indexOf(uid);
		    var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
		    var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
		    if ( n != -1) {
		          if (uid == {{user.id}}){
		             $('#portfolioComment_'+p_id).prepend($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'</br><p class="comment-content">'+data.msg+'</p></div><br/>'));
		          } else{
		             $('#portfolioComment_'+p_id).prepend($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp <a href="'+url_mask+'">folder</a></br><p class="comment-content">'+data.msg+'</p></div><br/>'));
		          }

		    }else{
		          if (uid == {{user.id}}){
		             $('#portfolioComment_'+p_id).prepend($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'</br><p class="comment-content">'+data.msg+'</p></div><br/>'));
		          } else {
		             $('#portfolioComment_'+p_id).prepend($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+'&nbsp <a href="'+url_mask+'">folder</a></br><p class="comment-content">'+data.msg+'</p></div><br/>'));
		          }
		    }
	      });

	      socket.on('update portfolio comment', function(docs){
                  console.log('socket on portfolio comment:'+p_id);
		  var users = [{% for u in users %} {{ u }} ,{% endfor %}];
		  var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
	          for(var i = 0; i < docs.length; i++){
                      if (docs[i]['p_id'] == p_id) {
                          console.log('If!');
		          if (docs[i]['user']['uid']){
				var uid = docs[i]['user']['uid'];
				var n  = users.indexOf(uid);
				var data = docs[i];
				var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
				var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
				if ( n != -1) {
				      if (uid == {{user.id}}){
				         $('#portfolioComment_'+p_id).append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'</br><p class="comment-content">'+data['content']+'</p></div><br/>'));
				      } else{
				         $('#portfolioComment_'+p_id).append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p class="comment-content">'+data['content']+'</p></div><br/>'));
				      }

				}else{
				      if (uid == {{user.id}}){
				         $('#portfolioComment_'+p_id).append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'</br><p class="comment-content">'+data['content']+'</p></div><br/>'));
				      } else {
				         $('#portfolioComment_'+p_id).append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+data['user']['first_name']+'&nbsp'+data['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p class="comment-content">'+data['content']+'</p></div><br/>'));
				      }
				}
                          }

                      } else{
                          console.log('Else!');
                      }
	          }
	      });


	      //$('#upcoming_form').submit(function(){
              function submitUForm(){
                    console.log('form submit');
                    var com = $('#c_upcoming').val();
                    if (com.length != 0){
		        socket.emit('upcoming comment', {msg:com, to:{{t_user.id}}, uid:{{user.id}}});
                    }
		    $('#c_upcoming').val('');
		    return false;
	      }

	      socket.on('update upcoming comment', function(docs){
		    var users = [{% for u in users %} {{ u }} ,{% endfor %}];
		    var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
		    for(var i=0; i < docs.length; i++){
		       if (docs[i]['user']['uid']){
			    var uid = docs[i]['user']['uid'];
			    var n  = users.indexOf(uid);
			    var url_mask = "{% url 'week1:add_folder' user.id %}".replace({{user.id}}, uid);
			    var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
			    if ( n != -1) {
			       if (uid == {{user.id}}){
			     $('#upcomingComment').append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</br><p class="comment-content">'+docs[i]['content']+'</p></div><br/>'));
			       } else{
			     $('#upcomingComment').append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p class="comment-content">'+docs[i]['content']+'</p></div><br/>'));
			       }
			    } else{
			       if (uid == {{user.id}}){
			     $('#upcomingComment').append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'</br><p class="comment-content">'+docs[i]['content']+'</p></div><br/>'));
			       } else{
			     $('#upcomingComment').append($('<li><div class="post-wrapper"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png' %}" class="profile_img"></a>'+docs[i]['user']['first_name']+'&nbsp'+docs[i]['user']['last_name']+'&nbsp <a href="'+url_mask+'">folder</a></br><p class="comment-content">'+docs[i]['content']+'</p></div><br/>'));
			       }
			    }
		       }
		    }
	      });
 
          /***
          ***/

          function submitCForm(){
                console.log('post comment');
                if ($('#comment').val().length != 0){
                    socket.emit('post comment', {msg:$('#comment').val(), to:{{uid}}, from:{{user.id}}});
                }
                $('#comment').val('');            
                return false;
          }


	  socket.on('update comment', function(docs){
	    var users = [{% for u in users %} {{ u }} ,{% endfor %}];
            var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
	    for(var i = 0; i < docs.length; i++){
		if (docs[i]['from_user']['uid']){
			var uid = docs[i]['from_user']['uid'];
			var n  = users.indexOf(uid);
			var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
			if ( n != -1) {
			    $('#commentHistory').append($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+docs[i]['from_user']['first_name']+'&nbsp'+docs[i]['from_user']['last_name']+':'+docs[i]['content']+'</span><br/>'));
			}else{
			    $('#commentHistory').append($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img"></a>'+docs[i]['from_user']['first_name']+'&nbsp'+docs[i]['from_user']['last_name']+':'+docs[i]['content']+'</span><br/>'));

			}
                }
	      }
	  });

	  socket.on('new comment', function(data){
                console.log('new comment on userpage');
	        var uid = data.from;
                console.log(p_id);
	        var users = [{% for u in users %} {{ u }} ,{% endfor %}];
	        var photos = [{% for p in userphoto %}"{{ p }}", {% endfor %}];
	        var n  = users.indexOf(uid);
		var url_link = "{% url 'week1:get_profile' user.id %}".replace({{user.id}}, uid);
	        if ( n != -1) {
	            $('#commentHistory').prepend($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{{media_url}}'+photos[n]+'" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+':'+data.msg+'</span><br/>'));
	        }else{
	            $('#commentHistory').prepend($('<li><span class="error"><br><a href="'+url_link+'" class="link-userpage"><img src="{% static 'images/profileimage.png'%}" class="profile_img"></a>'+data.from_firstname+'&nbsp'+data.from_lastname+':'+data.msg+'</span><br/>'));
	        }
	  });

	</script>


	<div id="thanks-hatsoff">
	    <h4>Thanks - Hats off</h4>
	    <div id="hatsoffusers">
		{% if hatsusers %}
		     {% for h in hatsusers %}
			{% if h.photo %}
			   <img src="{{ h.photo.url }}" width="50px">
			{% else %}
			   <img src="{% static 'images/profileimage.png'%}" width="50px">
			{% endif %}
		     {% endfor %}
		{% endif %}
	    </div>
	</div>

<div id="home-comment">
    <div id="commentpost-wrapper">
    <h4> Comments </h4>
	 <form action="" id="postComment">
	    <textarea id="comment" autocomplete="off" placeholder=" Comment for {{t_user.first_name}}" rows="3" cols="60"></textarea>
            <button onclick="submitCForm()">Post</button>
	 </form>
    </div>

    <div id="comments-wrapper">
	 <ul style="list-style-type:none; padding-left: 0;">
	     <div id="commentHistory"></div>
	 </ul>
    </div>

    </div>


</div>


</div>

{% endblock %}
